[2022-04-02 09:51] kameshkotwani opened #949 "pandas-profiling giving random error"
**Describe the bug**
when putting a data-frame inside the ProfileReport class I am getting random errors on different runs.

**To Reproduce**
Create a data frame from ```seaborn.load_dataset('titanic')``` and try creating a profile report.
[code]

**Version information:**
pandas-profiling: 3.1.0

**Additional context**
Video has been posted

https://user-images.githubusercontent.com/36355951/16137

[2022-04-05 07:55] tvdboom commented on #947
same error here. Seems to be fixed in the `develop` branch. Any update on when the new release will be launched?

[2022-04-06 04:51] Daniel-Trung-Nguyen opened #950 "TypeError: _plot_histogram() got an unexpected keyword argument 'title'"
I got this error running on google colab
TypeError: _plot_histogram() got an unexpected keyword argument 'title'

[2022-04-06 09:15] NookLook2014 opened #951 "Support switching language"
This is a great tool, and I'm wandering whether there is language mapping setting to support display different language in the html report? Or shall i modify the source code to achieve that?

[2022-04-06 11:35] #911 closed

[2022-04-06 16:52] #947 closed

[2022-04-07 10:05] ubabe53 commented on #917
Hi Giuppone!
I have just tried those examples out and I did not have any issues. Initially I was having some problems because I did not set up well the environment, check if it happened the same to you :)

[2022-04-07 14:57] jfsantos-ds commented on #923
Given the merge of #945 I am considering this issue fixed and can be closed.

[2022-04-07 14:57] #923 closed, assigned to jfsantos-ds

[2022-04-08 05:56] elbg commented on #950
This snippet reproduces the error :

[code]

[2022-04-08 06:57] elbg commented on #950
This snippet reproduces the error
[code]

[2022-04-08 10:47] fabclmnt commented on #910
Closing the issue based on @abhicantdraw explanation.

[2022-04-08 10:47] #910 closed

[2022-04-08 10:52] fabclmnt commented on #897
Closing the issue as it was solved by #903.

[2022-04-08 10:52] #897 closed

[2022-04-08 11:37] Daniel-Trung-Nguyen commented on #950
@elbg, you can restart the runtime after installing the package on Colab and it should work

[2022-04-08 15:15] TianruiZhang commented on #950
Here is my solution, I tried it in Google Colab and it worked!

[code]

[2022-04-08 18:56] DataRx commented on #543
I fear this endeavor has gone stale.

[2022-04-10 02:25] richlysakowski opened #952 "BUGs with pandas-profiling utils package opening and preparing files for ProfileReport()"
**Describe the bug**

Error message from a fresh conda environment as suggested on the pandas-profiling documentation:

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

The simple website example works...

[code]
but as soon as a real dataset is loaded pandas_profiling throws an error related to numpy.

**To Reproduc

[2022-04-13 16:41] hgoldman5959 commented on #952
Running a ProfileReport on a simple DataFrame (165,26) I am getting this error consistently, but on random fields

[2022-04-15 20:59] aronvandepol commented on #949
Seems to be the same issue described in #911 - fix is also there.

[2022-04-15 21:03] aronvandepol commented on #950
This did not solve the issue for me.

[2022-04-15 21:04] aronvandepol commented on #952
Seems to be the same issue as #911.

[2022-04-15 21:08] hgoldman5959 commented on #952
Thank you I will give the minimal=False a try

Harry Goldman, MSPA

From: Aron ***@***.***
Sent: Friday, April 15, 2022 5:05 PM
To: ydataai/pandas-profiling ***@***.***>
Cc: Harry Goldman ***@***.***>; Comment ***@***.***>
Subject: Re: [ydataai/pandas-profiling] BUGs with pandas-profiling utils package opening and preparing files for ProfileReport() (Issue #952)

Seems to be the same issue as #911

[2022-04-18 08:26] SehyunPark commented on #911
I am having the same problem with Pandas 1.4.1 , Numpy 1.22.1 pandas-profiling 3.1.0

[2022-04-18 22:18] darenr opened #954 "IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices"
**Describe the bug**

running the example below gives this error `IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices`

latest version on conda-forge

**To Reproduce**

[wine.csv](https://github.com/ydataai/pandas-profiling/files/8508456/wine.csv)

[code]

**Version information:**

 - pandas-profiling          3.1.0

[2022-04-19 15:54] luckrols commented on #954
I have the same error: "IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices"
**pandas                    1.4.2
pandas-profiling          3.1.0
Python 3.9.12**

How to solve this please without downgrading pandas?
Thanks.

[code]

[2022-04-20 11:11] Stephano120 commented on #954
Same issue on my side with another dataset; works with the 20 first columns, but fails if the 21st is included. Also fails if I run the profiler on the 21st column only.

Trying to find the cause of the issue, I started from the example provided in the doc:
df = pd.DataFrame(np.random.rand(100, 5), columns=["a", "b", "c", "d", "e"])

and defined df["f"] = myDataset[["problematicCol"]].values

then

[2022-04-20 11:39] Stephano120 commented on #954
Try running the
profile = ProfileReport(yourDf, title="Pandas Profiling Report", vars={"num": {"low_categorical_threshold": 0}})

Doc: https://pandas-profiling.ydata.ai/docs/master/rtd/pages/advanced_usage.html#general-settings

[2022-04-21 07:39] luckrols commented on #954
Dear Stephano120,
Your solution works for me. I'm able to generate the reports now without the need of having to downgrade to pandas 1.3.5.

`profile = ProfileReport(temp_df, title='Pandas Profiling Report for '+myhealtvariable, explorative=True, vars={"num": {"low_categorical_threshold": 0}} )`

Thank you very much!!

And thank you for going in detail through the documentation... A lesson for me

[2022-04-21 10:29] ohamed commented on #911
I faced the same problem today, namely with pandas 1.4.1 and WPy64 3.8.7, I got rid of it when I go down to pandas 1.3.5 :)

[2022-04-21 12:46] calkikhunt commented on #954
can anyone give me an exact reason for this error? because for some datasets it's working and for some, it's not.

[2022-04-21 17:06] Stephano120 commented on #954
Well, I started using pandas-profiling just yesterday, and it didn’t take long before I start having the same exception as you…so, I went read the doc. For the time being, I’m not sure that there is a direct link between the arguments we add, the doc, and our problem…

From a statistics standpoint, it makes sense that at some point, if the sample is not large enough, you start running into issues.

[2022-04-22 07:25] calkikhunt commented on #954
Hello @Stephano120 ,

Below I'm sharing a link to the dataset for which pandas_profiling working as well as the dataset in which I'm getting an issue.

working dataset:
https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv

dataset in which I'm getting an issue:
https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset

[2022-04-22 10:06] calkikhunt commented on #954
This solution gives me an error when I try to use the to_widgets method. intend of this use below solution.

pf = df.profile_report(minimal=True)
pf.to_widgets()

[2022-04-24 04:20] fredzannarbor opened #955 "module 'sqlite3' has no attribute 'DatabaseError'"
**Describe the bug**

Simple import of pandas_profiler fails producing the above error.

**To Reproduce**

[code]

**Version information:**

Python 3.8.5 (default, Jan 29 2021, 15:16:11)
command line, vscode terminal produce same result

<details><summary>Click to expand <strong><em>Version information</em></strong></summary>
<p>

obviously, this is a bit overgrown ...

[code]

</p>
</details>

**

[2022-04-24 09:47] rgoubet opened #956 "ModuleNotFoundError after installing package on Python 3.10 environment"
This could be related to [this issue](https://github.com/ydataai/pandas-profiling/issues/948).

[code]

No problem on the base environment:

[code]

[2022-04-25 14:15] kretes commented on #476
Just bumped onto this issue and the fix really works, thanks, @vishalsrao
Shouldn't it be that we could pass an argument / configure in env - the number of jobs that is passed to phik_matrix rather than replacing the method fully (which will get out of sync at some point)

[2022-04-26 10:03] sbrugman commented on #476
@kretes Thanks for the bump Tomasz. If anyone is interested, feel free to contribute a PR!

[2022-04-26 10:55] sbrugman commented on #955
Thanks for reporting. Have you tried installing in a fresh environment? I'm not aware of any change that could have caused this.

[2022-04-26 21:11] fredzannarbor commented on #955
I google around and determined that I had a folder with the same name as
the import. Thanks!
*Nimble Books LLC*
*The AI Lab for Book-Lovers <http://NimbleBooks.com>*
---

On Tue, Apr 26, 2022 at 6:56 AM Simon Brugman ***@***.***>
wrote:

[2022-04-27 18:33] Ravineesh commented on #954
Thanks for providing, I'm facing the same but I'm using a dataset that has a high number of columns. Just to make sure I generated the profiling report for the Advertising dataset, It worked but failed for the second dataset.

[2022-04-28 12:49] daherk2 commented on #543
I would like to be a beta tester of this feature :-)

[2022-04-29 01:07] fabclmnt commented on #955
Closing the issue as this was a folder name issue.

[2022-04-29 01:07] #955 closed

[2022-05-01 19:40] sbrugman commented on #956
There should be no explicit reason  for the package to be unavailable for python 3.10 on conda.
If it's specific to the project on conda forge, then the code is at https://github.com/conda-forge/pandas-profiling-feedstock

[2022-05-01 19:58] sbrugman commented on #951
The report and interface are currently in English, and switching languages is at this time is not a feature on the roadmap. However, if we find more people are in need of this feature, then we can consider adding it to the roadmap (please upvote the top post of this issue in that case!).

Regarding the implementation, this depends. For an ad-hoc translation, you could modify the HTML templates, re

[2022-05-01 20:08] sbrugman commented on #950
More details are needed to reproduce this issue. Please make sure you update to the latest version of pandas-profiling (as 1.4.1 is often available by default, see [this](https://pandas-profiling.ydata.ai/docs/master/rtd/pages/support.html) support page).

[2022-05-01 20:14] sbrugman commented on #942
The package is not optimized to be embedded, but considering the interest we can treat this as a feature request, and welcome the community to contribute.

Specifically, `pandas-profiling` should work as expected when embedded with PyInstaller or similar.
The first issue that needs to be tackled is that the [jinja2 `PackageLoader`](https://github.com/ydataai/pandas-profiling/blob/develop/src/panda

[2022-05-01 20:26] sbrugman commented on #921
Several paramaters allow for control of the theme (primary color, logo): https://pandas-profiling.ydata.ai/docs/master/rtd/pages/advanced_usage.html#the-html-report.

The theme itself for the HTML reports is set here:
https://github.com/ydataai/pandas-profiling/blob/develop/src/pandas_profiling/report/presentation/flavours/html/templates/wrapper/style.html

There are multiple paths to achieve the

[2022-05-01 20:40] sbrugman commented on #925
The correlation between categorical-categorical and categorical-numerical are already available (e.g. check the Phik correlation)!
Regarding the interactions however, there are indeed multiple options to extend the functionality.

[2022-05-01 22:44] aronvandepol commented on #950
@sbrugman for me - i tried several versions (including 1.4.1) and came to the conclusion that it only worked if I pass `minimal=True`.

[2022-05-02 01:02] sbrugman commented on #884
Good catch!  Automated bin detection is (apparently) not supported for weighted data - which we use to greatly improve the performance of the profiling.  This option should be disabled (or implemented).

[2022-05-02 02:07] sbrugman commented on #954
Hi everyone, please let us know if v3.2.0 has resolved this problem !

[2022-05-02 02:08] sbrugman commented on #952
Duplicate of #911 and #954

[2022-05-02 02:08] #952 closed

[2022-05-02 14:26] morancoder opened #965 "Histogram Bins"
### Discussed in https://github.com/ydataai/pandas-profiling/discussions/964

<div type='discussions-op-text'>

<sup>Originally posted by **morancoder** May  2, 2022</sup>
Hey everyone,

I am using pandas profiling and have an issue with the way histogram presented. I can't figure out how to exclude outliers from my plot. Right now because of the outliers, most of the observations fall in one or t

[2022-05-02 14:35] #965 closed

[2022-05-03 01:06] katewd commented on #292
I would also love to see this feature added. Comparing profiles of the same table at different time points to show data quality improvements is currently a manual process, having a function to automate this would be fantastic. Especially for large databases with many tables. Thanks.

[2022-05-05 23:27] luckrols commented on #954
Hi Sbrugman,

Thank you very much. I can confirm that it now works perfectly with v3.2.0!

No need to add the `vars={"num": {"low_categorical_threshold": 0}}` anymore as a workaround.

Very happy! Thank you!

Kind regards,

Luc

[2022-05-06 13:07] sbrugman commented on #292
Agreed, on our roadmap :)

[2022-05-06 17:00] athulkrishna2015 opened #966 "latest version 3.2.0 is broken in google colab"
**Describe the bug**

**To Reproduce**
profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_notebook_iframe()
 will throw error
<!--

anyone want a dirty fix
!pip install pandas-profiling==3.1.0
instead

[2022-05-06 17:01] athulkrishna2015 commented on #966
!pip install pandas-profiling==3.1.0
dirty fix

[2022-05-06 20:13] sbrugman commented on #966
Will look into this

[2022-05-07 14:29] sbrugman commented on #966
@athulkrishna2015 thanks for reporting. The versions of "markupsafe" and "jinja2" are incompatible on colab.

Solution:
`!pip install -U "jinja2>=2.3"`

Will update the dependencies accordingly.

[2022-05-07 14:42] sbrugman commented on #942
The first step to embedding in PyInstaller is to ensure the are resolved correctly after installation. A fix for the template could be:
[code]

Then, by including the templates and ensuring the configuration files are present at the right location, one is much closer towards being able to creating a functioning executable.

Leaving this here as a starting point for anyone particularly interested i

[2022-05-07 14:49] sbrugman commented on #950
Tested the snippet from @elbg, and this error occurs when using outdated versions of the package.

Ensure that you are using the latest version, and when in a notebook, ensure that you've restarted the kernel when needed!
Also make sure that you install in the right environment (please use `!{sys.executable} -m pip install -U pandas-profiling`!).
Read more [here](https://jakevdp.github.io/blog/201

[2022-05-07 15:31] #966 closed

[2022-05-07 17:53] sbrugman commented on #912
@anajulialuizon @mcastellino Please let us know if the issue has been resolved. If not, we should forward the issue to [phik](https://github.com/KaveIO/PhiK/issues).

[2022-05-07 18:04] #950 closed

[2022-05-07 18:07] sbrugman commented on #898
Closing in favour of #292

[2022-05-07 18:07] #898 closed

[2022-05-07 18:08] sbrugman commented on #911
@ohamed Updating pandas-profiling should also resolve the issue

[2022-05-07 18:08] sbrugman commented on #949
Resolved in https://github.com/ydataai/pandas-profiling/pull/945

[2022-05-07 18:08] #949 closed

[2022-05-07 19:58] sbrugman commented on #946
@josephramon Thanks for reporting this issue. With the latest version of the package and the code below, I could not reproduce the issue (Kendall's is disabled, and no warning). The line without problems is idle - the package is lazy unless any action is taken, such as printing the report or writing it to a file.

With the default type inference, all variables are recognized as categoricals. Other

[2022-05-07 20:00] sbrugman commented on #939
This is resolved by updating to the latest version. Duplicate of https://github.com/ydataai/pandas-profiling/issues/950 (includes solution).

[2022-05-07 20:00] #939 closed

[2022-05-07 20:01] sbrugman commented on #938
The documentation for modifying the report structure is outdated and should be updated.

[2022-05-07 20:02] sbrugman commented on #935
Will look into this

[2022-05-07 20:03] sbrugman commented on #917
Closing as this issue could not be reproduced. For future reference, please check [the support page](https://pandas-profiling.ydata.ai/docs/master/rtd/pages/support.html) for help troubleshooting.

[2022-05-07 20:03] #917 closed

[2022-05-09 21:12] sbrugman commented on #948
Moved to conda feedstock

[2022-05-09 21:12] #948 closed

[2022-05-09 21:13] sbrugman commented on #956
Moved to conda-forge feedstock

[2022-05-09 21:13] #956 closed

[2022-05-09 22:59] sbrugman commented on #944
Tracked this down to this line: https://github.com/ydataai/pandas-profiling/blob/develop/src/pandas_profiling/model/alerts.py#L103

[2022-05-09 23:18] sbrugman commented on #944
The alert messages are currently defined in the file in the previous comment for JSON, while for the HTML report they are defined in the [alert templates](https://github.com/ydataai/pandas-profiling/tree/develop/src/pandas_profiling/report/presentation/flavours/html/templates/alerts). For consistency, the messages should be defined on the Alert classes in the model.

[2022-05-13 19:00] adamrossnelson opened #981 "TypeError From ProfileReport in Google Colab"
### Current Behaviour

In Google Colab the `.to_notebook_iframe` method on `ProfileReport` throws an error:

[code]

This issue has been spotted in other contexts and there are questions in StackOverflow: https://stackoverflow.com/questions/61362942/concat-got-an-unexpected-keyword-argument-join-axes

### Expected Behaviour

This section not applicable. Reporting bug that throws an error.

### Dat

[2022-05-14 21:21] Fntquie commented on #916
I'm not sure what @enesMesut  meant by "got this:", but I also get no plots at all when defining `interactions.targets` (although interactions do being plotted without targets definition).

<img width="1165" alt="image" src="https://user-images.githubusercontent.com/17274915/168448434-f36515c5-1866-43f9-96c5-3a05b93092bd.png">

**Python**: 3.8.13
**Environment**: Jupyter Notebook via VSCode, separ

[2022-05-15 16:45] sbrugman commented on #981
Hi @adamrossnelson! This (unfortunately) is a known issue that we aren't able to resolve structurally as far as I'm aware. Your `pip freeze` list show that pandas-profiling 1.4.1 is installed. Updating the package resolves the issue:

https://pandas-profiling.ydata.ai/docs/master/rtd/pages/support.html#frequent-issues

[2022-05-15 16:49] adamrossnelson commented on #981
Okay, this is helpful. Sorry I missed that on the earlier documentation.
I'm happy to close this for you.

[2022-05-15 16:49] #981 closed

[2022-05-16 18:06] sbrugman commented on #981
@adamrossnelson No problem. We are working on improving the discoverability of this information in the documentation.

@dr-ydata it would be helpful to include this error message verbatim in the frequent issues.

[2022-05-17 09:40] LukasBoersma opened #983 "ProfileReport.to_json() returns invalid JSON"
### Current Behaviour

Python has the known issue that its standard json implementation [produces invalid JSON](https://bugs.python.org/issue40633): NaN and Infinity values are not supported by the json specification, but Python serializes those values anyway.

Because of that, when using `ProfileReport.to_json()`, the JSON is often not valid. For example, the example code below produces this outp

[2022-05-17 13:16] sbrugman commented on #983
Well spotted @LukasBoersma! In addition to your bug report proposals, we could also consider writing non-finite floats as string (which will result in a mixed-type). This way there is no information loss.

At this moment my preference would go out to your proposed solution above (perhaps with a parameter to toggle between handling). A PR is much appreciated, lets take it from there.

[2022-05-18 14:11] sbrugman opened #985 "Is there are chance to export the figures as `csv`?"
### Discussed in https://github.com/ydataai/pandas-profiling/discussions/984

<div type='discussions-op-text'>

<sup>Originally posted by **Anselmoo** May 18, 2022</sup>
Dear community,

thx for help?

I am wondering if there is a chance to export figure-reports like a variable, correlation, or missing_variables as `csv` for rendering in other packages like `seaborn` or `plotly`?

Thx</div>

[2022-05-19 09:09] LukasBoersma commented on #983
Okay, cool! Then I will prepare a pull request in the next days with a solution where you can configure the behavior.

[2022-05-19 10:52] Anselmoo commented on #985
@sbrugman concerning the issue, the `self.summarizer` contains the values for the plots.

https://github.com/ydataai/pandas-profiling/blob/188e02b2db156cd1cec3555ae33a983035f43b67/src/pandas_profiling/profile_report.py#L158-L168

I am wondering if it makes sense also to export figures as a dictionary, too? This will allow using`pandas-profiling` fully internally like:

[code]

Consequently, avoid

[2022-05-22 08:17] Anselmoo opened #987 "Feature Request: .devcontainer for pandas-profiling"
### Missing functionality

A .devcontainer could be nice for CodeSpace Users and Organizations for quickly working on `pandas-profiling`, especially for `hotfixes` and `releases`.

https://code.visualstudio.com/docs/remote/containers

### Proposed feature

Adding a `.devcontainer` folder including Docker-Image and `devcontainer.json`

### Alternatives considered

_No response_

### Additional cont

[2022-05-22 18:35] PraJaL55 commented on #543
Is someone still working on this feature?

[2022-05-27 15:33] kwunlyou opened #993 "crash when running in python scripts"
### Current Behaviour

output error

Summarize dataset:  27%|█████████                         | 11/41 [00:00<00:02, 13.43it/s, scatter a, a]From cffi callback <function _make_write_func.<locals>.write_func at 0x7f16e8ffa550>:
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/cairocffi/surfaces.py", line 47, in write_func
    file_obj.write(ffi.buffer(data, length))

[2022-05-27 17:10] sbrugman commented on #993
@kwunlyou The issue seems to be with `cairocffi` and capturing the matplotlib output. Could you try with a new environment, and/or updating/removing `cairocffi`?

[2022-05-27 17:20] sbrugman commented on #861
Closing as the tutorial has been removed in the latest version

[2022-05-27 17:20] #861 closed

[2022-05-30 13:50] kwunlyou commented on #993
@sbrugman Thanks. You're right. A fresh minimum environment with the latest dependencies can solve the issue.

[2022-05-30 21:47] #993 closed

[2022-05-30 21:47] sbrugman commented on #993
No problem, happy that your issue has bren resolved

[2022-05-31 20:02] mbkupfer commented on #935
@sbrugman just wanted to reach out and see where you were on this? Have you figured out the bug? Let me know if you need any help.

[2022-06-03 16:18] DaiZack opened #995 "cannot import name 'soft_unicode' from 'markupsafe'"
### Current Behaviour

Used colab with 3.2.0

[code]

it shows
ImportError: cannot import name 'soft_unicode' from 'markupsafe' (/usr/local/lib/python3.7/dist-packages/markupsafe/__init__.py)

### Expected Behaviour

no error

### Data Description

None

### Code that reproduces the bug

[code]

### pandas-profiling version

2.3.0

### Dependencies

[code]

### OS

Mac

### Checklist

- [X] There

[2022-06-15 07:53] Gexar commented on #543
No news so far?

[2022-06-17 09:54] SuhailAhmad1 opened #999 "Bug Report"
### Current Behaviour

Trying to import ProfileReport from pandas_profiling but everytime i try to import, it is showing an error message
![Screenshot (9)](https://user-images.githubusercontent.com/89300429/174274317-3c48b367-cd59-481d-b4d9-2ab2cbf79137.png)

### Expected Behaviour

It should import ProfileReport

### Data Description

My dataset is available at 'https://drive.google.com/file/d/1K

[2022-06-17 09:56] SuhailAhmad1 commented on #999
For some versions of pandas_profiling it did import ProfileReport but while constructing the report it was showing error "join_axis"

[2022-06-21 18:56] GDGauravDutta opened #1001 "Bug Report : Error : ImportError: cannot import name 'escape' from 'jinja2.utils' (/opt/conda/lib/python3.7/site-packages/jinja2/utils.py)"
### Current Behaviour

ImportError                               Traceback (most recent call last)
/tmp/ipykernel_33/1861185338.py in <module>
      1 from markupsafe import escape
----> 2 from pandas_profiling import ProfileReport #Automated Report about dataset is available
      3 profile = ProfileReport(train, title="Pandas Profiling Report", explorative=True)
      4 profile

/opt/conda/lib/p

[2022-06-22 00:35] abhicantdraw commented on #999
@SuhailAhmad1
The problem isn't with pandas-profiling so much as it is a problem with the visions package looking for ABCIndexClass  within pandas and newer versions of pandas (>=1.3.x) have removed this reference.

In the next build of pandas-profiling, because the visions package has been bumped up to 0.7.5, the correct reference will be picked up.

For now, you can simply `!pip install visions=

[2022-06-22 01:38] dvasdekis commented on #995
There's [discussion about this online](https://github.com/aws/aws-sam-cli/issues/3661) - looks like a breaking change was introduced in markupsafe. Downgrading to markupsafe==2.0.1 seems to be the fix for now.

[2022-06-25 07:36] luckyzero0 commented on #717
@the-whopper I'm thinking that this might be a faster solution instead of creating a new feature for it.

[code]
**summary_df**
![image](https://user-images.githubusercontent.com/10165125/175763479-1ca28979-b7a3-4b40-abf7-7d18b596c954.png)

[2022-06-27 20:21] maxreis86 opened #1003 "(get_var_type) No module named 'pandas_profiling.model.base'"
### Current Behaviour

Hi dear all,

Before in version 2.13.0 we had the very usefull function get_var_type() available in:

`from pandas_profiling.model.base import get_var_type`

I could not find this function in version 3.2.0

`ModuleNotFoundError: No module named 'pandas_profiling.model.base'`

Is there any simular function like get_var_type?

### Expected Behaviour

Import get_var_type functi

[2022-06-29 06:48] ZechyW opened #1004 "markupsafe 2.1.0 drops support for Python 3.6"
### Current Behaviour

When using Python 3.6, `pandas-profiling==3.2.0` does not install because it cannot satisfy its dependency on `markupsafe~=2.1.1`.
It looks like markupsafe dropped support for Python 3.6 in v2.1.0.

### Expected Behaviour

pandas-profiling should either continue supporting Python 3.6, or explicitly drop support for it.

### Data Description

-

### Code that reproduces the b

[2022-06-30 11:20] pvaibhku commented on #671
I am having same error while running pandas in GRAALVM environment @sbrugman Any idea how to resolve ?

[2022-06-30 17:22] sbrugman commented on #671
Upgrade to a newer version, see above

[2022-07-07 19:46] boral opened #1006 "pandas_profiling not working with markupsafe"
### Current Behaviour

ImportError: cannot import name 'soft_unicode' from 'markupsafe' (C:\PROGRA~3\ANACON~1\lib\site-packages\markupsafe\__init__.py)

### Expected Behaviour

It should run without error

### Data Description

No data is needed

### Code that reproduces the bug

[code]

### pandas-profiling version

3.2.0

### Dependencies

[code]

### OS

Windows 10

### Checklist

- [X] There i

[2022-07-11 05:17] ttxslxm commented on #910
I tried two ways by using PIP or Conda, but both failed that's why I tried the third way mentioned there ,
quote begin
Download the source code by cloning the repository or click on [Download ZIP](https://github.com/ydataai/pandas-profiling/archive/master.zip) to download the latest stable version.

Install it by navigating to the proper directory and running:
 quote end

[2022-07-12 09:53] IsmaheneLarbi commented on #440
Hello Everyone,

I had this same error; my code was supposed to do:  `(a - b) / c`.
It failed with an `AssertionError : Gaps in blk ref_locs in pandas profiling`.
a, b & c are dataframes of financial data, they're of the same shape, with the same index.
a and c and have the same columns in the same order.
b however has different column labels.

### What caused it ?
In my case, this error came form

[2022-07-12 19:55] Vamp1899 commented on #983
Hi , Lukas would like to mention some refinements in this code.
Make global class variables as private and call them using function .
Rather than defining and passing one value through config and checking in profile report make different instances for the same .

[2022-07-22 09:58] SergioG-M opened #1012 "Incorrect duplicate rows count"
### Current Behaviour

The duplicated rows count is different between pandas and pandas-profiling when there are nan's in columns

### Expected Behaviour

The count should be equal

### Data Description

I attach a simple example

![image](https://user-images.githubusercontent.com/61322372/180415055-83fc2fec-fc2a-4921-acf9-0a9a38ccb645.png)

### Code that reproduces the bug

[code]

### pandas-pro

[2022-07-22 17:10] AshokTak commented on #1006
Same issue, even if you change markupsafe==2.0.1, then pandas-profiling 3.2.0 create incompatibility issue with markupsafe.

[2022-07-22 22:53] adwaitas28 opened #1013 "Pandas profiling to slow to generate html report"
### Current Behaviour

The profile report.to_html() function takes around 78 sec for (10000, 295) shape data frame. Also, I am already using the minimal model.

### Expected Behaviour

Expected behaviour the .to_json() takes only 2-3 sec. Would expect maximum 10 sec for .to_html(). How can I optimize it further?

### Data Description

Pandas dataframe  with data shape (10000, 295)

### Code that r

[2022-07-26 14:30] eyaldahari commented on #543
Looking forward to have this feature released. Also if needed a beta tester and contribute.

[2022-07-29 06:18] dansleboby opened #1015 "Exception in thread ExecutorManagerThread:Bug Report"
### Current Behaviour

I get the following error because I more than 63 core on my machine and I don't see option to pass max n_job in pandas_profiling

Thanks

[code]

### Expected Behaviour

It should produce the normal report

### Data Description

https://dq-prd-bucket1.s3.ca-central-1.amazonaws.com/saaq/vehicule-en-circulation-2020.csv

### Code that reproduces the bug

[code]

### pandas-pro

[2022-07-29 15:34] adamrossnelson commented on #87
I vote to open this one back up. Github automatically closed it. But, it is an important issue (or at the very least a fun one). And, it seems to be an issue that brings warm sentiment and excitement to this package.

[2022-08-04 16:05] duncanrjones opened #1017 "Fail to allocate bitmap error when generating separate HTML reports in sequence (not concurrently)"
Hi,

I'm using pandas-profiling to do null checks and summarize distribution in columns in a postgresql database. I can run the script separately for each table with no issue, but if I try to do a for loop with the tables I get a "fail to allocate bitmap" error. If I export to JSON, it is no issue.

I couldn't find a relevant post about this in this issues forum but I saw it mentioned here: https:

[2022-08-05 11:09] ApurvBhusari commented on #836
I was also having the same issue but after using to_notebook_iframe() . it worked for me .

[2022-08-05 11:12] ApurvBhusari commented on #883
Instead of using to_widgets use to_notebook_iframe(). Hope it works for you

[2022-08-05 18:25] bi2017dg opened #1018 "issue with visions application in pandas_profiling __version__ = "2.6.0" in Python 3.9.7"
### Current Behaviour

I have uninstalled visions 0.7.5 and installed 0.7.4 for pandas_profiling even then I have the same error.
 it pops  with ModuleNotFoundError: No module named 'visions.application' from jupiter run

I have-> Python 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
pandas_profiling =__version__ = "2.6.0"

This is very simple code be

[2022-08-05 19:11] fabclmnt commented on #1017
Hi @duncanrjones thank you for the provided detail.

This is indeed a bug. We will check the fix that can be done.

[2022-08-05 19:16] fabclmnt commented on #1006
Hi,

can you you please share the details of your python version?

[2022-08-09 10:56] zwelshman commented on #846
@chanedwin hats off to you for progressing this work! How can I help?

[2022-08-09 19:03] AshokTak commented on #1006
Hi @fabclmnt Thanks for looking into it. I'm using the python version 3.8.4
The error is `ImportError: cannnot import name 'soft_unicode' from 'markupsafe'`

[2022-08-12 09:15] SergioG-M commented on #1012
Any update on this?

[2022-08-17 12:00] soliverc opened #1019 "Multiple duplicated correlations in "Alerts" section"
### Current Behaviour

When the HTML report is generated, I checked the Alerts section and found duplicated correlations.

This bug is even present in Pandas Profiling's official examples on the documentation page, Please follow this link and click the "Alerts" tab. You will see the correlation between Pclass and Fare flagged at least 6 times.

 https://pandas-profiling.ydata.ai/examples/master/ti

[2022-08-19 21:36] fabclmnt commented on #1012
@SergioG-M is included for the next release. But still under development.

[2022-08-19 21:51] fabclmnt commented on #1013
@adwaitas28 can you please detail more on the dtypes of your dataset variables?

Also, can you share with us the relevance of the speed increase on the HTML and JSON compute?

[2022-08-23 22:59] #824 closed

[2022-08-23 23:03] fabclmnt commented on #1019
@soliverc this is a duplicate request from #824.
There is already a fix, it will be included in the next release of the package: https://github.com/ydataai/pandas-profiling/pull/1000

[2022-08-23 23:03] #1019 closed

[2022-08-23 23:17] fabclmnt commented on #999
@SuhailAhmad1 were you able to overcome your challenge?

[2022-08-23 23:25] fabclmnt commented on #908
@dkooten it seems like a problem related with the data your inputing.

Based on the error traced you've shared, this lines can let you know there is an unsupported dtype, or a variable type that pandas itself is not being able to coerce when applying numerical variables specific functions.

`-> 4919         return algos.isin(self, values)
   4920

E:\Anaconda\lib\site-packages\pandas\core\algorith

[2022-08-23 23:25] #908 closed

[2022-08-24 00:21] fabclmnt commented on #1017
@duncanrjones after assessing the last release from pandas-profiling, we cannot replicate this issue in different python env (3.7, 2.8, and 3.9) with pandas-profiling=3.2.0.

Can you please confirm whether you are still able to have it replicated with a more up-to-date version of the package? After further assessment, it seems related to your windows python installation and missing dll.

[2022-08-24 00:34] fabclmnt commented on #1018
Hi @bi2017dg,

this error happens because in release 2.6.0 the version for jinja2 was not pinned and we have instead `jinja2>=2.11.1`. Has Jinja is not in its version 3 and has deprecated the function `escape`, you're getting that error.
There are 2 ways to overcome that issue:
- Installation of the last version from pandas-profiling
- After pandas-profiling 2.6.0 is installed you have to force a

[2022-08-24 00:34] #1018 closed

[2022-08-24 00:45] fabclmnt commented on #1006
@AshokTak Can you please let me know the detailed list of the versions you've installed for the packages in your virtual env.
Particularly I'm looking to have the info on Jinja2 and MarkupSafe.

[2022-08-24 01:49] duncanrjones commented on #1017
Thanks for taking time to look into it @fabclmnt, I will try it on a different server ASAP and let you know.

[2022-08-25 15:47] #1012 closed

[2022-08-27 17:40] Ayoyinka-Sofuwa commented on #935
Just tested the code above, looks like`infer_dtypes` for the profile report still treats the id column as an integer in the report.

Is there a way to manually change the data type? Like the astype() function in pandas?

[2022-08-29 09:54] Alpha-su opened #1026 "Feature Request"
### Missing functionality

I think it would be better if we add some customerize options not noly the appearance or color theme but also the **content of report**, especially adding some **user-defined statistical charts**. I think with this feature, pandas-profiling can be an powerful offline **BI** tools.

### Proposed feature

We can config the content of report, such as adding an statistical c

[2022-08-29 11:29] snknitin opened #1027 "IndexError: index 3098 is out of bounds for axis 0 with size 3098 on Jupyter"
### Current Behaviour

I have a huge data frame(900k rows) and since i received IndexErrors multiple times on the `3.1.0 version`, I tried 3 things based on all the similar issues

* Imputed all nans to median , so there are no nulls or nans now
* Created small random sample of the data frame only taking 5% data `df.sample(frac=0.05, random_state=3407)`
* Upgraded to `3.2.0`

My pandas version is

[2022-08-29 15:15] snknitin commented on #1027
Update :

- It seemed to be failing only on those columns that had their nans imputed. Removing those columns , made the profile report go further and didn't give the index error.
- Upon further inspection , I noticed those columns were cast to `float16` by a reduce memory utility function.
- There is probably an overflow issue here at work which is why the numbers in the IndexError sometimes go c

[2022-08-29 17:29] snknitin opened #1028 "HTML Profile report keeps crashing browser and jupyter"
### Current Behaviour

I reduced the size as much as possible to only do 1000 rows and 118 columns. It still takes 500 seconds to generate a report and crashed the jupyter notebook.  I remember running much larger dataframes quite quickly. So i saved it as a html file.  Now the jupyter notebook tab is fine(as long as i don't open it as a notebook iframe) , but anytime I open the html report it cra

[2022-08-30 04:30] ktavabi commented on #759
I am getting `KeyError: 'data'` for a frame with zero non-null counts.

[2022-08-30 06:07] snknitin commented on #1028
UPDATE:

- I have used minimal on the complete data(980k,118) and that runs and generates a report that loads without crashing
- I removed the samples, missing, duplicates etc., by setting them to None
- I ran a correlation report on a larger sample (98k, 118)  and it generated a report just for those which doesn't crash the tab either
- When i run the report only for interactions, even with small

[2022-08-30 20:33] fabclmnt commented on #1028
Hi @snknitin,

this is an expectable behavior - the time of computation is expected to increase quadratically with the number of columns available in your dataset, particularly considering correlation matrices and interactions.

In what concerns your browser crash, it is also a known and expected limitation. It has to do with the amount of information held by the HTML, that for 118 columns is quit

[2022-08-31 10:30] Tuxedo94 commented on #506
@sbrugman Can you please provide a full example to dump and load the report? I am not able to get this working to generate a report from binary file that is created by the loads method.

[2022-08-31 14:32] Sohaib90 commented on #915
I volunteer to look into this and try fixing this issue. Is that okay?

[2022-08-31 16:24] Somesh140 opened #1031 "ProfileReport not generated"
### Current Behaviour

 getting KeyError: 'Requested level (var1) does not match index name (None)'

![image](https://user-images.githubusercontent.com/97947690/187729311-e7dd0df9-ed46-44df-be99-4ffe0bb788be.png)
![image](https://user-images.githubusercontent.com/97947690/187729561-0487be2d-27d5-4451-9542-2194ebdcd7c1.png)

### Expected Behaviour

It should generate html file

### Data Description

[2022-09-01 00:28] pydawud commented on #1006
facing same issues

[2022-09-01 06:48] Tuxedo94 opened #1033 "Generating ProfileReport from pickle files does not work (methods ProfileReport.dumps() and ProfileReport.loads())"
### Current Behaviour

- Used all defaut values
- Generating ProfileReport from pd.DataFrame (Works) with ProfileReport(df) (**Works**)
- Saving ProfileReport locally as pickle file (Works) with ProfileReport.dumps() (**Works**)
- Loading ProfileReport from local pickle file with ProfileReport.loads() (**Works**)
- Getting the error when calling ProfileReport.to_file('report.html') function: Value

[2022-09-01 13:20] IloBe commented on #947
This import error happens again with Jinja 3.1.2 on a Python 3.9.12 environment using MarkupSafe, pandas and pandas-profiling versions as mentioned in the comment before. It does not appear by using Jinja2 3.1.1

[2022-09-02 08:38] rawathemant246 commented on #1006
@fabclmnt Can you help me with that : pandas-profiling needs markupsafe version 2.1.1 when installed version 2.1.1, anaconda jupyter notebook stopped working. By uninstalling version 2.1.1 and reinstalling 2.0.1, notebook worked well but unable to import pandas_profiling. How to resolve this problem?

Here is my package list with versions.
absl-py                            1.2.0
alabaster

[2022-09-13 18:19] rasbt opened #1047 "Fails on simple Iris dataset"
### Current Behaviour

Using the simple Iris dataset as an example, the report generation fails with an error.

### Expected Behaviour

It should generate the report because the dataset format is similar to the example one in the README

### Data Description

DataFrame with 4 numeric columns.

### Code that reproduces the bug

[code]

where `X_df` is

<img width="474" alt="Screen Shot 2022-09-13 a

[2022-09-14 17:35] #1028 closed

[2022-09-14 17:38] fabclmnt commented on #1017
@duncanrjones I'll be closing this one. But happy to re-open in case you're not able to solve it.

[2022-09-14 17:38] #1017 closed

[2022-09-14 17:40] fabclmnt commented on #1006
@boral can you test using the latest version of pandas-profiling: v.3.3.0?

[2022-09-14 17:41] fabclmnt commented on #1003
@maxreis86 can you please let me know if you still experience this with v3.3.0?

I advise the creation of a virtual-env.

[2022-09-14 17:42] #1004 closed

[2022-09-14 17:43] fabclmnt commented on #995
@DaiZack can you please confirm if the behaviour remains with the latest verion `pandasprofiling=3.3.0`

[2022-09-14 17:48] DaiZack commented on #995
Yes it words
<img width="1784" alt="image" src="https://user-images.githubusercontent.com/45176371/190226258-cc2445a8-e605-48fc-b817-21aa1f9efb88.png">

[2022-09-15 03:05] duncanrjones commented on #1017
Thanks so much @fabclmnt, sorry I didn't get back to you yet--still haven't had a chance to try it again. I will definitely update you if there's any issues and I do really appreciate your time.

Thanks again!

[2022-09-16 14:08] i621148 opened #1052 "Feature Request"
### Missing functionality

I am really enjoying the use of the new switch: minimal=True
Ex:
profile = ProfileReport(df, title="Pandas Profiling Report", minimal=True)
This allows me to process a huge data set which I don't have enough memory to scrutinize.

By using the
profile.to_widgets()
I am able to see all values which say "has constant value"

I then manually remove all these values by using

[2022-09-16 21:01] EdwardMarsDS opened #1053 "Profile Creation warnings due to pandas append"
Creating a profile throws a bunch of warnings.  Seems to be related to the use of pandas append function (depreciated in 1.4), but completes generating the file.  The action completes and the report is viewable (as html)

profile_df = ProfileReport(df, title="Profiling Report",
                           explorative=False,
                           correlations={"pearson": {"calculate": True},

[2022-09-18 08:14] celestinoxp opened #1056 "Feature Request: Joblib 1.2"
### Missing functionality

Support for latest version of joblib

### Proposed feature

Support for latest version of joblib

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-09-18 14:46] maxreis86 commented on #1003
Hi Fabiana,
Yes, v3.3.0 is still with the same problem.
The function `pandas_profiling.model.base.get_var_type` is not available.
Thank you!

[2022-09-19 09:57] IloBe commented on #946
Today I updated to pandas profiling V3.3.0 on a Windows environment because of another fixed issue in the pandas profiling library,
but now have got the same RuntimeWarning as mentioned by Joseph Ramon
by using this dataset page:
https://unfallatlas.statistikportal.de/_opendata2022.html
with
Download Unfallorte 2021 - CSV-Format (zip) => read in with delimiter ';'

And coding:
preprocessing to cha

[2022-09-19 10:43] alexbarros commented on #946
hi @IloBe, it seems an error on pandas profiling dependencies, can you install `numpy==1.22.4` and check if it runs correctly?

[2022-09-19 18:28] PhilMacKay opened #1059 "Compatibility issue due to pydantic version upper bound"
### Current Behaviour

Pandas-Profiling cannot be installed alongside another package that requires the latest version of Pydantic (`~=1.10`).

The requirements of Pandas-Profiling are currently `pydantic>=1.8.1, <1.10`.

Manually upgrading Pydantic doesn't break the first code sample I tried (create a `ProfileReport` from a dataframe, then write this report to HTML), but I suppose other features

[2022-09-19 19:39] PhilMacKay commented on #1059
I just noticed this issue will be fixed by PR https://github.com/ydataai/pandas-profiling/pull/1029

[2022-09-19 19:39] #1059 closed

[2022-09-20 21:45] fabclmnt commented on #1052
Thank you for your feature request, we have put your request under consideration.

@i621148 please consider updating your request title to a more detailed description.

[2022-09-21 02:11] fabclmnt commented on #1031
@Somesh140 can you please check wether this behaviour still happens with the latest version of the package?

[2022-09-21 07:52] MANU-CHAUHAN commented on #602
If you get this after the steps mentioned above:
**ImportError: cannot import name 'ABCIndexClass' from 'pandas.core.dtypes.generic'**

Follow these steps: [Stackoverflow](https://stackoverflow.com/questions/68704002/importerror-cannot-import-name-abcindexclass-from-pandas-core-dtypes-generic)

[2022-09-21 18:38] JPvRiel commented on #820
This happened to me as well, but the cause of the pickling error can vary. The following error seems to be generic:

Just in case anyone else finds this issue, first make sure it's not caused by running out of space. The original issue shown above doesn't show an out of space issue.

If I dig into the lower level exception, I find `No space left on device` in my case:

[code]

The cause in my case

[2022-09-22 03:44] fabclmnt commented on #1056
This is already solved in develop branch. Will be made available in the next release.

[2022-09-22 03:44] #1056 closed

[2022-09-22 04:33] fabclmnt commented on #1047
@rasbt the error is ocurring because you are providing two columns with the same name. Please take a look at the snippet from your code:

`columns=["sepal length", "sepal width", "petal width", "petal width"]`

While generating some of the metrics, 2 columns are pulled into a series instead of 1, causing the error you're getting. Can you please correct the column names provided?

[2022-09-22 04:34] #1047 closed

[2022-09-22 04:37] fabclmnt opened #1061 "feat: Validate input dataframe"
### Missing functionality

As a frequent user of ``pandas-profiling``, it would be nice to know in advance why my input dataset is failing.

Eg. If and when providing a dataset with duplicated column names, a validation error is expected to be returned.
Eg. The input provided must be of type pandas.DataFrame

### Proposed feature

Include a validate_input function to ProfileReport init.

### Alter

[2022-09-23 11:54] Julian opened #1068 "tangled-up-in-unicode dependency means installing pandas-profiling takes ~2GB"
### Current Behaviour

[code]

(This is filed upstream at dylan-profiler/tangled-up-in-unicode#10 which has some detail on why, but filing here for visibility)

### Expected Behaviour

A smaller unicode database :)

### Data Description

N/A

### Code that reproduces the bug

_No response_

### pandas-profiling version

3.3.0

### Dependencies

[code]

### OS

macOS 12.5.1 + Linux

### Checklist

[2022-09-23 11:54] Julian commented on #1068
(CC @cfbolz)

[2022-09-25 12:50] Field95 commented on #912
not solved by the forward suggestion. THX

not solved by the forward suggestion. THX

[2022-09-25 17:48] sbrugman commented on #1068
Hi @Julian, will look into this

[2022-09-25 22:40] sbrugman commented on #1015
@dansleboby Could you check if setting the `pool_size` parameter to 1 solves the issue?

[2022-09-27 12:56] ashutosh486 opened #1071 "Getting DispatchError on Missing diagram bar"
Hi,

I am getting DispatchError when trying to run below code:
[code]

Following Error:
[code]

Version Info:
pandas                 1.4.4
pandas-profiling  3.3.0
matplotlib            3.5.3

[2022-09-28 17:56] tibor-mach opened #1075 "Feature Request: support of pandas 1.5"
### Missing functionality

pandas-profiling 3.3.0 requires pandas version lower than 1.5.

### Proposed feature

Compatibility with pandas 1.5

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-09-28 21:25] fabclmnt commented on #1071
@ashutosh486 Can you please share the details of your operating system?

[2022-09-30 18:39] fabclmnt commented on #995
Closing the issue! :)

[2022-09-30 18:41] fabclmnt commented on #1003
ok thank you for the update!
I'll have a look into it @maxreis86

[2022-09-30 19:54] fabclmnt commented on #915
@Sohaib90 yes off course!

[2022-10-01 08:12] ashutosh486 commented on #1071
OS: Windows 10

[2022-10-01 08:14] ashutosh486 commented on #1071
OS: Windows 10

PS: I closed the issue by mistake.

[2022-10-01 12:42] Somesh140 commented on #1031
@fabclmnt yes it is working fine with the latest version of the package

[2022-10-01 12:42] #1031 closed

[2022-10-01 14:39] LyndonFan opened #1087 "Incorporate Categorical Variables in Interactions"
### Missing functionality

I often encounter product data, which are grouped and categorised in different ways. Having found the library recently and wanting to use it, I would like to quickly see how these categories interact with each other.

I think this would be useful for datasets which can be grouped in different ways. e.g. For the titanic dataset, we can look at the gender of passengers and

[2022-10-02 13:37] sbrugman commented on #1071
@ashutosh486 What have you tried so far? Have you reinstalled the environment? What version of the missingno package is installed?

[2022-10-02 13:43] sbrugman commented on #1053
This appears to be something coming from our dependency on the missingno package. Preferably, it is picked up upstream. Alternatively, we could narrow the usage of the package to the core functionality and move the rest here. The second option requires more effort, but can be used to kill two birds with a stone on other issues with this package.

[2022-10-02 17:59] Mineric commented on #803
May I work on this one?

[2022-10-02 19:57] ashutosh486 commented on #1071
@sbrugman I have installed:
[code]
I created a new environment with python version 3.9 and have also tried it on python 3.8 but getting the same error.

To bypass the error for now I have set the bar plot in missing_diagrams as False:
[code]

[2022-10-02 21:50] sbrugman commented on #1071
Thanks for checking, will look into reproducing it locally

[2022-10-02 22:49] fabclmnt commented on #1087
Hi @LyndonFan, definitely this something missing.
We would be happy to have your contribution with the development of this feature.

[2022-10-02 22:54] fabclmnt commented on #999
Closing the issue as not updates were provided.

@SuhailAhmad1 feel free to let us know if it still remains and I'll be happy to re-open the discussion.

[2022-10-02 22:54] #999 closed

[2022-10-03 08:28] MichaelTiemannOSC commented on #1056
dependabot has marked joblib-1.1.0 as a critical vulnerability since 3 days ago with "high severity" and "low complexity" to exploit.  An expedited security release would be appreciated!

[2022-10-03 08:40] aquemy commented on #1087
Hi @LyndonFan,

This would be very useful. However, note that with high cardinality variables, it might be difficult to visualize a heatmap of frequency. How would you solve this problem?

Would you consider something like Weight of Evidence and Information Value for instance? Low and high WoE and IV could be displayed as it is mostly what we are interested in I suppose.

[2022-10-03 10:27] sbrugman commented on #1071
The issue comes from the pandas plotting backend not set to matplotlib, but to plotly which is currently not supported:
```if plot_backend.__name__ != "pandas.plotting._matplotlib":```

I could reproduce the error by changing the plotting backend to plotly.
[code]

This issue can be resolved by changing the backend back to matplotlib (the default):
[code]

[2022-10-03 10:28] #1071 closed

[2022-10-04 05:21] fabclmnt commented on #679
Closed by https://github.com/ydataai/pandas-profiling/pull/930

[2022-10-04 05:21] #679 closed

[2022-10-04 05:29] akx commented on #1056
@MichaelTiemannOSC Please note that CVE-2022-21797 is only an issue if Joblib's `pre_dispatch` is used with arbitrary input.

[2022-10-05 16:08] fabclmnt commented on #937
Hi @haloapping I'll be closing this issue. But in case you've more details or any other questions I'll be happy to have it re-open.

[2022-10-05 16:08] #937 closed

[2022-10-05 16:16] fabclmnt commented on #905
Same as #837

[2022-10-05 19:57] dilkushpatel opened #1097 "Getting error while running profile.to_html or profile.to_JSON"
getting this error while doing either to_json or to_html

Uncaught SyntaxError: Invalid regular expression: /^[Î‘-ÏŽ]+$/: Range out of order in character class

I'm running code in databricks

code:
import pandas_profiling as pp
import pandas as pd
import json
from datetime import datetime

spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic")
spark.conf.set("fs.azure.account.key.sy

[2022-10-05 20:41] fabclmnt commented on #1097
@dilkushpatel can you provide more details?

- Python version you are using
- Package version

Also if could provide any detail on the data would be great.

[2022-10-05 22:21] dilkushpatel commented on #1097
I'm running code in Azure databricks

Python 3.9.5

Name: pandas-profiling
Version: 3.3.0
Summary: Generate profile report for pandas DataFrame
Home-page: https://github.com/ydataai/pandas-profiling
Author: YData Labs Inc
Author-email: opensource@ydata.ai
License: MIT
Location: /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages
Requires: tqdm, requests, matplotlib, sc

[2022-10-05 22:48] sbrugman commented on #1097
@dilkushpatel Please provide the full stack trace

[2022-10-06 16:21] bdao568 opened #1099 "Cramer correlation matrix is not computed"
/usr/local/lib/python3.7/dist-packages/pandas_profiling/model/correlations.py:61: UserWarning:There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-p

[2022-10-06 16:24] fabclmnt commented on #1099
Hi @bdao568 thank you for submitting your support request.
Can you please share the `pandas-profiling` version you are using?

[2022-10-06 16:29] bdao568 commented on #1099
Im using this particular one https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

[2022-10-06 16:34] fabclmnt commented on #1099
Can you please share the stack trace as well as the sample of your code?

[2022-10-06 16:35] bdao568 commented on #1099
https://colab.research.google.com/drive/1GKbCuAxNL91MN6jyNlyHn6zfnB7tcRCN?usp=sharing

[2022-10-06 16:54] dilkushpatel commented on #1097
@sbrugman  it looks like an issue with pandas or something as any profiling library i use while writing to disk or db i get same error.
I will explore this more on my end and if help needed I will re-open issue.

[2022-10-06 16:54] #1097 closed

[2022-10-06 16:54] fabclmnt commented on #1099
Thank you! I'll take a look into it and get back to you.

[2022-10-06 17:27] fabclmnt commented on #1099
@bdao568 it seems there is a bug related with Cramer's calculation for your dataset.

I was able to generate the html report with no Cramer correlation matrix calculated. This is the workaround while we try to better understand the root cause.

[2022-10-06 18:04] fabclmnt opened #1100 "Add to documentation an extensive comparision between correlation matrices"
### Missing functionality

Currently the user have multiple correlation metrics to choose from, nevertheless, the description of the metric is only depicted in the HTML/widget after the report generation.

### Proposed feature

Add to the `pandas-profiling` package an extensive comparison between the pros and cons of the different association metrics so the user can make a better and more informed

[2022-10-09 21:54] sbrugman opened #1102 "Schema for dataset summary (JSON)"
### Missing functionality

The dataset summaries in `pandas-profiling` are stored as nested dictionaries. This offered flexibility in the past for users and developers, however has also led to issues of users of the representation. A clear concise data representation is lacking, were users and developers know what to expect from the data.

### Proposed feature

Refactor the data summary representa

[2022-10-10 10:21] joshua-lagasca-novare opened #1104 "Bug Report (Empty column tagged as Unsupported)"
### Current Behaviour

An empty non-object datatype column must be tagged with an 'Empty' alert.

### Expected Behaviour

An empty non-object datatype column returns tagged with an 'Unsupported' alert.

### Data Description

An empty non-object datatype column.

### Code that reproduces the bug

[code]

### pandas-profiling version

v3.3.0

### Dependencies

[code]

### OS

Ubuntu 20.04.5 LTS x86_

[2022-10-10 11:05] prjailani opened #1105 "Updating contributing.md"
### Missing functionality

We need to thank the contributors who've contributed to our repository.

### Proposed feature

So, In the end of contributing.md can I add something like "thanks to our contributors" and show their GitHub profiles. If you are ok with this. Please assign me. Thanks.

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-10-11 19:52] Mathanraj-Sharma commented on #1104
Shall I take this ticket and work on this?

@fabclmnt

[2022-10-11 21:42] ktavabi opened #1108 "Config Descriptions ValidationError"
### Current Behaviour

When adding a description to the profiler configuration using `**{kwargs}` I am getting a

### Expected Behaviour

I am expecting a profile report with said description, as seen [here](https://pandas-profiling.ydata.ai/docs/master/pages/use_cases/big_data.html)

### Data Description

I am reproducing the error with the example meteorite [dataset](https://data.nasa.gov/api/vi

[2022-10-11 22:08] fabclmnt commented on #1104
@Mathanraj-Sharma feel free to submit a PR with a proposed solution!

[2022-10-11 22:15] fabclmnt commented on #1105
Hi @prjailani that can be found in the [**Acknowledgments** ](section: https://github.com/ydataai/pandas-profiling/blob/master/CONTRIBUTING.md)

Furthermore, for each and every release, we ensure that the contributors are tagged in the changelog. https://pandas-profiling.ydata.ai/docs/master/pages/reference/changelog.html?highlight=release

[2022-10-11 22:15] #1105 closed

[2022-10-18 10:50] alexbarros commented on #1099
fixed by #1109

[2022-10-18 10:50] #1099 closed

[2022-10-20 14:03] JulioBarros opened #1118 "ImportError: cannot import name 'DataError' from 'pandas.core.base'"
I have the same issue:

### Discussed in https://github.com/ydataai/pandas-profiling/discussions/1066

<div type='discussions-op-text'>

<sup>Originally posted by **etanaga** September 22, 2022</sup>
Hi all.
I have an issue with pandas_profiling, currently my environment

- Conda 4.14.0
- Python 3.9.13
- pandas 1.5.0
- pandas-profiling 2.9.0

And received an error while try to import pandas_profil

[2022-10-20 14:38] JulioBarros commented on #1118
Though it works with python 3.9

[2022-10-21 16:03] fabclmnt commented on #1118
@JulioBarros Can you please update pandas-profiling version to the latest: 3.4.0?

And let me know whether it works. This issue is expected to be already sorted.

[2022-10-22 11:25] JulioBarros commented on #1118
@fabclmnt  This is strange.  The env of the project where I saw this has changed quite a bit so I can't reproduce it in that env. But I had just installed pandas-profiling so believe it was the latest version.

However I just created a new env with the minimal number of packages and Python 3.10.8 and it worked fine.

If it was previously fixed perhaps I got an old/cached version instead.

Looks li

[2022-10-24 02:35] #1118 closed

[2022-10-24 02:35] fabclmnt commented on #1118
Happy to know @JulioBarros !

[2022-10-24 21:13] fabclmnt commented on #1108
@ktavabi can you please validate if the behavior remains with the latest version `3.4.0`

[2022-10-25 20:11] PierreSnell opened #1129 "Feature Request: support for Polars"
### Missing functionality

Polars integration ? https://www.pola.rs/

### Proposed feature

Use polars dataframe as a compute backend.
Or let the user give a polars dataframe to the ProfileReport.

### Alternatives considered

Spark integration.

### Additional context

Polars help to optimize queries and reduce memory footprint.
It could be used to do analysis on big dataframe and speed up comput

[2022-10-27 08:13] aquemy opened #1130 "Feature Request: pre-commit hook workflow to mimic github PR actions"
### Missing functionality

At the moment, there is no easy way to check that a PR will pass basics actions such as the linter, commit message format, etc.
Therefore, when someone open a PR, it most likely fail, then the contributor has to either add more commits just to solve these issues or worse, reword/amend/rebase with a force-push (e.g. when a commit message is not well formatted).

See for i

[2022-10-27 09:22] d0glrq opened #1131 "Bug Report: cannot import name 'Literal' from 'statsmodels.compat.python'"
### Current Behaviour

I get an error when importing `from pandas_profiling import ProfileReport` in jupyter code: `cannot import name 'Literal' from 'statsmodels.compat.python'`

### Expected Behaviour

The import package is successful, no error should be reported

### Data Description

I tried to install pandas-profiling in jupyter, executed `conda install -c conda-forge pandas-profiling`, `cond

[2022-10-31 20:40] fabclmnt opened #1134 "Introduce type-checking"
### Missing functionality

Types are not enforced by Python, nevertheless, to introduce type checking would reduce the number of issues open.

### Proposed feature

Introduce type-checking for the user interfaced methods.

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-10-31 20:59] fabclmnt commented on #1129
Hi @PierreSnell ,
we have the spark integration already ongoing so I'll be linking this Issue to that instead #543.
Thank you for your suggestion

[2022-11-02 15:58] tleonhardt opened #1135 "pandas-profiling does not support latest version of matplotlib"
### Missing functionality

Support for latest version of matplotlib, version 3.6.x

### Proposed feature

Update dependencies to support latest version of matplotlib

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-11-02 15:59] tleonhardt commented on #1135
#1064 appears to fix this issue

[2022-11-02 20:31] tleonhardt commented on #1135
Thanks for your quick response @fabclmnt

[2022-11-09 10:29] m-a-r-o-u opened #1138 "Feature Request: Alpanumeric sorting of columns in the output"
### Missing functionality

A option to show the variables in alphabetic order, or setting this as default,
would greatly enhance the search process for larger datasets.

### Proposed feature

Change order of Columns in the output by sorting them alphanumerically.

### Alternatives considered

Or adding an option do change to a sorted view,
but this may be unnecessary.

### Additional context

_No

[2022-11-10 11:08] #1134 closed

[2022-11-10 14:49] m-a-r-o-u opened #1142 "Feature Request: change variables in the interaction field with arrow keys"
### Missing functionality

Currently, to change the variable,
one has to use the mouse.
But a convenient way to change the variable would be with the arrow keys.

### Proposed feature

Change variable with arrow keys in the interaction view

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-11-10 16:01] m-a-r-o-u opened #1144 "Feature Request"
### Missing functionality

Add log scale option for all plots

### Proposed feature

Log scale switch

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-11-12 07:51] m-a-r-o-u opened #1145 "Feature Request: Alignment of x-axis labels in histograms"
### Missing functionality

X-labels are left-aligned w.r.t the histogram bars,
a central alignment would more intuitive.

### Proposed feature

Increase intuition

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-11-14 06:10] fabclmnt commented on #1138
Hi @m-a-r-o-u we will consider your request.
Can you please share more details on the benefit and value of the request above?

[2022-11-14 06:12] fabclmnt commented on #1142
Hi @m-a-r-o-u, can you please provide more details on the functionality expected (section, area, etc.)?

[2022-11-14 06:14] fabclmnt commented on #1144
@m-a-r-o-u Can you please provide more details on the benefits or pain that this feature would solve?
It would be great if you have any story that you could share.

[2022-11-15 16:20] #1130 closed

[2022-11-16 10:21] BigNerd opened #1147 "Make bin size configurable"
### Missing functionality

As a frequent user of histograms of integer valued variables we encounter the issue that the bin size is automatically chosen such that some bins include one while other bins include two integers. As a consequence the resulting histogram displays a distorted image of the distribution because many bins collect values from two consecutive integers and display high bars whe

[2022-11-22 00:39] planhanasan commented on #1006
Problem exists now even if install latest v3.4.0.

We need to use below version for using on Google Colab.
`pip install pandas_profiling==3.2.0 && pip install markupsafe==2.0.1`

[2022-11-22 21:49] EdwardMarsDS opened #1165 "Values are not obscured as expected"
### Current Behaviour

When using the sensitive=True flag, data is obscured from the columns in the report, however names appear in category frequency plot.  For the example I've included I've replaced the names with numeric values, however when I first ran the report names were visible in the chart legend.

![Sensitive Leak](https://user-images.githubusercontent.com/102184868/203427067-e3019748-7

[2022-11-23 03:42] #1061 closed

[2022-11-23 03:53] #532 closed

[2022-11-23 03:54] fabclmnt commented on #292
We are very happy to announce that this feature is now available in pandas-profiling v3.5.0 🎉

[2022-11-23 03:54] #292 closed

[2022-11-23 05:14] fabclmnt commented on #638
@g-kabra implemented a great feature to answer this request.

Since python v3.4.0 variable section filtering is possible.

[2022-11-23 05:14] #638 closed

[2022-11-25 07:04] m-a-r-o-u opened #1170 "Larger correlation plots"
### Missing functionality

The correlation plot has a lot of information in it
and is currently too small

### Proposed feature

Increase correlation plot size

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-11-25 16:40] balovp opened #1171 "Traslation of dashboard"
### Missing functionality

Dashboard are rendered in English Language.

### Proposed feature

Make available to add and choose traslations of the dashboards to different languages.

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-11-27 08:52] rivanfebrian123 commented on #543
Can we use [Koalas](https://koalas.readthedocs.io/en/latest/) as a "backend"?

[2022-11-27 09:12] rivanfebrian123 commented on #693
Apparently, Pandoc works really well with our generated HTML
[code]

It would be nicer if Pandas Profiling natively generate LaTex code to be exported to PDF

[2022-11-27 16:39] matindra commented on #805
Same issue here

[2022-11-28 06:28] rivanfebrian123 opened #1181 "Automatically detect time series dataset"
### Missing functionality

When I first know this library, I didn't know if it has timeseries mode. I was absolutely beginner in data science.

I hope this feature can give practical output for newcomers, as they might don't know the difference between timeseries dataset and the regular ones.

### Proposed feature

# Solutions

- #1180 [rejected]
- Check if any values has type of `pandas._libs.tsl

[2022-11-29 14:12] renovate[bot] opened #1188 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>dockerfile</summary>
<blockquote>

<details><summary>.devcontainer/Dockerfile</summary>

 - `mcr.microsoft.com/vscode/devcontain

[2022-11-29 20:22] Filimoa opened #1189 "Feature Request"
### Missing functionality

pandas-profiling 3.3.0 requires a version of python <3.11

I'm open to submitting a pull request, what is the underlying issue?

### Proposed feature

Compatibility with pandas 3.11

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-11-29 20:37] fabclmnt commented on #1189
@Filimoa unfortunatelly for 3.3.0 this is a compatibility that we cannot ensure.

May I suggest you use more up-to-date versions of pandas-profiling v3.5.0?

[2022-11-29 20:37] #1189 closed

[2022-11-29 20:45] Filimoa commented on #1189
![CleanShot 2022-11-29 at 13 44 19](https://user-images.githubusercontent.com/21352040/204643790-88e291d7-9421-4c56-8a69-3c7f54831621.png)

From what I can tell 3.5.0 isn't compatible with 3.11 either?