[2020-09-07 15:55] sbrugman commented on #571
@bedangSen Not yet, however the change would be simple. You're welcome to contribute.

You can find the relevant code here: https://github.com/pandas-profiling/pandas-profiling/blob/master/src/pandas_profiling/visualisation/plot.py#L283

[2020-09-08 02:17] lawson-source opened #572 "Chinese font display erro"
**Describe the bug**

I try to generate a report in which data is including Chinese characters. it can't display directly. I try to modify the matplotlib config file, but it doesn't work.

[2020-09-08 12:13] sahPraveen opened #573 "wrong "Constant value" information displayed in Warnings"
Incorrect warning message displayed in the "**Overview->Warnings**" section.

Here, in the table -  we had "0.00" as the Constant value but the Warning message said "_discount_total has constant value "1459843"_"

**Screenshots:**

- The message says that 1459843 is the constant value in this column/field.

![image](https://user-images.githubusercontent.com/31186607/92474678-dfac8e80-f1f9-11ea-97b

[2020-09-08 14:24] sbrugman commented on #573
Thanks for pointing this out, that's indeed a bug. The mode is taken from the value counts, but instead of taking the index, it returns the counts. Easy fix, will be in the next release.

[2020-09-08 14:26] sbrugman commented on #572
Could you provide the minimal information to reproduce this error? [This guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) can help crafting a minimal bug report.

- the minimal code you are using to generate the report

- which environment you are using:
    - operating system (e.g. Windows, Linux, Mac)
    - Python version (e.g. 3.7)
    - jupyter notebook, console or ID

[2020-09-08 15:12] qiankeqin opened #574 "ImportError: cannot import name '_check_savefig_extra_args' from 'matplotlib.backend_bases'"
Summarize dataset: 72%
18/25 [00:03<00:01, 4.53it/s, Get scatter matrix]

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
~/opt/anaconda3/lib/python3.7/site-packages/IPython/core/formatters.py in __call__(self, obj)
    343             method = get_real_method(obj, self.print_method)
    344

[2020-09-08 16:06] sbrugman commented on #574
Please check this question
https://stackoverflow.com/questions/52979322/matplotlib-3-0-0-cannot-import-name-get-backend-from-matplotlib

[2020-09-08 16:06] #574 closed

[2020-09-09 15:56] edwardtilley opened #575 "jupyter-script.py file is removed from Jupyter during pandas-profiling reinstall"
I installed the Jupyter notebook extension for Pandas-Profiling via PIP INSTALL, and had trouble with my Anaconda3 config, so I uninstalled Pandas-Profiling and reinstalled with Conda.

I also installed the notebook widgets extension with:
jupyter nbextension enable --py widgetsnbextension

That uninstall script or reinstall script, erased my ..\Anaconda3\Scripts copy of an essential boot file - j

[2020-09-13 16:53] sbrugman commented on #575
Thanks for reporting this. It would be suprising if the code is this repo to caused your error. The only way this package interacts with the Jupyter config is by listing it as a requirement. There are also difficulties with installing pip and conda packages in the same environment [1].

The conda package for pandas-profiling is maintained here: https://github.com/conda-forge/pandas-profiling-feeds

[2020-09-13 16:53] #575 closed

[2020-09-16 09:48] sahPraveen commented on #573
@sbrugman Thank you for confirming the bug, Do let me know it's fix will part of which version so that I can upgrade the lib and start using it. Thanks, Simon for looking into this issue.

[2020-09-17 00:02] #513 closed

[2020-09-17 06:59] sobayed opened #577 "Warn for high correlations using Phi_K?"
Is it possible to create high correlation warnings using the Phi_K coefficient instead of Pearson/Cramer? This would be helpful to identify correlations between variables of different types (e.g. bool & categorical). Right now, I can see the high correlations in the "Correlations" tab of the report, but trying to create warnings by changing the config results in an error:

[code]

[code]

UPDATE:

[2020-09-17 09:31] zhenlingcn opened #578 "How to display Chinese characters correctly in pandas profiling?"
I find that when I render non-ASCII characters, pandas profiling will not render them correctly. I have tried to modify the default rendering font of matplotlib. However, even though I can manually render a correct figure by using matplotlib, the figure rendered by the pandas profiler is still wrong. How can I solve this problem?

[2020-09-17 16:31] sbrugman commented on #578
Hello @zhenlingcn,

Matplotlib unfortunately doesn't support Chinese characters by default. This can be overcome by changing the font.

See:
https://jdhao.github.io/2017/05/13/guide-on-how-to-use-chinese-with-matplotlib/
https://medium.com/@hoishing/using-chinese-characters-in-matplotlib-5c49dbb6a2f7

If anyone is interested in adding this as a feature/config param, then a pull request is welcome.

[2020-09-17 16:31] #572 closed

[2020-09-17 16:35] sbrugman commented on #577
@sobayed Thanks for reporting this. The issue is that the default config file does not have a `threshold` in that section, we should add it!

[2020-09-18 01:12] zhenlingcn commented on #578
I have configured matplotlib correctly. However, it seems like pandas profiling does not use the default configuration of matplotlib.

[2020-09-18 01:47] elsieyin commented on #363
I also have the same issue, it seems the shape is ok,index is ok
index -9223372036854775808 is out of bounds for axis 0 with size 572736

[2020-09-18 16:56] ebonat opened #579 "TypeError: concat() got an unexpected keyword argument 'join_axes'"
hi,

**i'm getting the following error on:**

import pandas_profiling as pp
profile = pp.ProfileReport(df)

**here is the error:**

File "...lib\site-packages\pandas_profiling\describe.py", line 392, in describe
    variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)
**TypeError: concat() got an unexpected keyword argument 'join_axes'**

**used libraries:**

pandas: 1.0.1
pandas

[2020-09-18 16:57] sbrugman commented on #579
Please update to the lastest version (2.9)

[2020-09-18 18:30] ebonat commented on #579
yes, this fixed this issue. it runs good and fast!

thank you,

-ernest

[2020-09-18 18:30] #579 closed

[2020-09-18 20:19] sbrugman commented on #577
Resolved in `develop`, will be out with the next release!

[2020-09-18 20:23] #577 closed

[2020-09-18 20:24] sbrugman commented on #578
@zhenlingcn Could you share that config? Then we'll try to find a solution.

[2020-09-19 17:42] sbrugman commented on #578
Update: pandas-profiling v3 will use Altair which is not expected to have character issues.

[2020-09-19 17:43] sbrugman commented on #561
@dclong Yes, pandas-profiling v3 will include a completely new execution system, that caches results.

[2020-09-19 17:44] sbrugman commented on #532
Update: pandas-profiling v3 will use Altair which is not expected to have issues with plotting (probably caused by matplotlib).

[2020-09-21 09:39] shahbaz-ali opened #581 "Pandas Profiling Installation Error: Unable to install on ubuntu server 18.04 and 20.04"
**Describe the bug**
Hi,
I am trying to install pandas profiling on a Ubuntu 18.04 / 20.04  server its failing. This is my first bug report, apologies if I do any mistake. I will try to be explanatory as much as possible. I have been struggling with installation of pandas profiling on Ubuntu server. I observed two problems with the installation.

1. Either pandas profiling is not getting installed

[2020-09-21 16:30] sbrugman commented on #581
Thanks for reporting this. The issue seems not to be with this package, but with some of the requirements. Most of the time, this has to do with the environment (outdated `pip` or so, although I don't see any indicators here).

What's best to do is to ask on stackoverflow, where a broader audience is able to help solve this issue: https://stackoverflow.com/questions/tagged/pandas-profiling

Anothe

[2020-09-23 12:29] felixchretien opened #584 "Missing documentation"
Many parameters are not defined in the [doc](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/api/_autosummary/pandas_profiling.profile_report.ProfileReport.html?highlight=profilereport) for profile_report.ProfileReport

[2020-09-23 16:04] 3mlifamily commented on #560
I got the same issue as shown below.  How did you solve it?

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
C:\ProgramData\Anaconda3\envs\data_analysis\lib\site-packages\IPython\core\formatters.py in __call__(self, obj)
    343             method = get_real_method(obj, self.print_method)
    34

[2020-09-23 18:20] NehaSharma1507 opened #585 "HTML Request"
Hi,

I want to append my html file to pandas profiling output which is in html.I want append it before the footer tag but I am struggling to do so because the footer tag is not starting in a new line. Instead its sandwiched in an existing line.
Is it possible to move footer tag to a new line?

Here is the code that I am using to search footer tag in python
item.startswith("<footer")

It finds foot

[2020-09-23 18:32] sbrugman commented on #585
What is the use case for doing this?

[2020-09-24 07:28] shahbaz-ali commented on #581
After struggling with this issue for couple of days, I found that the issue was not with the library itself as was suggested by @sbrugman. While debugging the issue I found that ubuntu kernel was starting `oom-killer` (Out Of Memory Killer) for the installation process which can be determined by checking the logs in `/var/log/syslog`, that's why it was getting directly KILLED. The OOM-KILLER was i

[2020-09-25 06:28] dependabot-preview[bot] opened #586 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/pandas-profiling) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/pandas-profiling/update-logs/48700673).

[2020-09-25 11:50] NehaSharma1507 commented on #585
I wrote another code to fix this issue so ignore my request. Thank you for your quick response!

[2020-09-25 11:50] #585 closed

[2020-09-25 11:53] jamesmyatt opened #587 "Nullable types not fully supported"
Using pandas >= 1, columns of nullable integer type with low numbers of distinct values appear as "UNSUPPORTED".

This comes down to the check in `is_numeric` on whether there are infinite values in the series.

https://github.com/pandas-profiling/pandas-profiling/blob/216704bc6643ac691f3d1c513c0328c8cb29d088/src/pandas_profiling/model/base.py#L126

The following code gives a TypeError, which trig

[2020-09-25 13:00] bi2017dg commented on #560
Hi ,
The error was due to a lot of data columns not having values, they were
nulls . This resulted in not being able to create an index and matrix.

Thanks for responding to my emails. I will keep posting if I receive any
errors. The only thing that I am facing now is the memory error due to
lack  of RAM.

Any suggestion if I have a billion rows from the database ( Not using Vaex
as  this can use

[2020-09-25 15:04] #587 closed

[2020-09-26 13:08] #586 closed

[2020-09-26 15:24] ahmedanis03 commented on #543
What about leveraging [koalas](https://koalas.readthedocs.io/en/latest/) ?, this would be a huge shortcut?

[2020-09-26 15:31] sbrugman commented on #543
@skorski The Slack community for pandas-profiling can be used for that:
https://join.slack.com/t/pandas-profiling/shared_invite/zt-hfy3iwp2-qEJSItye5QBZf8YGFMaMnQ

@ahmedanis03 Thank you for the suggestion, we're also considering koalas. The bulk of the work seems to be in refactoring and specific features more or less regardless of API (correlations, missing diagrams).

[2020-09-28 14:27] sakthigeek commented on #231
Restarting environment fixed the error for me.

[2020-09-29 23:32] nateGeorge commented on #528
For me, this was just an older version of pandas-profiling I needed to upgrade.

[2020-10-01 17:13] kochuyt opened #592 "Take "ordered" into account for columns declared as Categorical"
**Background of request**

In statistics a distinction is made between categorical data which has no inherent order (aka _nominal scales_) and categorical data which does have order (aka _ordinal scales_).
Among other places, this  distinction is used when creating histograms of the frequency of occurrence of categories.

- For nominal data, the categories on the x-axis are typically ordered _pare

[2020-10-03 00:03] #482 closed

[2020-10-06 14:39] gkoutsos9 opened #593 "Broken Process Pool Error"
When using pandas_profiling to generate a report. The process terminates at 65% (when calculating correlation) and returns a broken process pool error.

To Reproduce
I am using Jupyter Notebook 6.1.1 on an Anaconda Environment, Python 3.8 on a Windows 64 bit machine.  The data can be found here: https://github.com/lilinglu/Device-failure-prediction/blob/master/failures_prediction.csv

[code]

[cod

[2020-10-06 14:53] gkoutsos9 commented on #593
Just needed to install llvmlite.dll

[2020-10-06 14:53] #593 closed

[2020-10-07 11:57] dojo-technology opened #594 "difficult to put up panda-profiling into my docker using alpine linux"
The scenario below is blocking me to have progress in dockerize my flask app where pandas-profiling is very important for us, anybody has any clue about it? some important info below. I already see about to set the LLVM_CONFIG file to the right path but which path and how to do that during docker build process? **llvmlite é a dependency to install pandas-profiling**

pip version 20.2.3 python 3.8

[2020-10-08 07:24] TrentonBush opened #595 "missing data matrix not rendering correctly"
First, thanks for saving so many hours of boilerplate EDA with this project. I appreciate it!

I ran into an issue with the missing data matrix rendering missing bits as 'blurred' bars that run into neighboring columns and rows:
![image](https://user-images.githubusercontent.com/35943254/95424650-cd586a00-08f7-11eb-8a2a-7aaec832fd37.png)

For comparison, I made the same matrix plot directly with m

[2020-10-08 23:23] test32443 commented on #543
There is already a project that was built around porting pandas-profiling to Spark: https://github.com/julioasotodv/spark-df-profiling
I wonder if its code base could be of any help.

[2020-10-10 00:02] #527 closed

[2020-10-10 00:02] #531 closed

[2020-10-10 00:03] #523 closed

[2020-10-10 00:03] #520 closed

[2020-10-10 00:03] #246 closed

[2020-10-10 07:37] geoHeil commented on #543
What about simply replacing pandas with koalas? https://github.com/databricks/koalas? Maybe it is worth a shot?

[2020-10-11 04:35] yasirroni commented on #349
I made a web example of pandas-profiling, so users can upload their data and see the result, including export to HTML and JSON. Everyone can just clone the repo and run in local or use it live on a remote server. Link to my repo: [link](https://github.com/yasirroni/binder-profiling)

Host on mybinder (recommended, full support using threading):

[![Binder](https://mybinder.org/badge_logo.svg)](htt

[2020-10-11 14:34] akrulz commented on #593
following fixes this
conda install --channel numba llvmlite

[2020-10-11 16:50] dclong commented on #543
I used to develop a big data profiling library based on Spark and also explored for such good open source solutions. Later, when I came across pandas-profiling, I give us other solutions and have been quite happy with pandas-profiling. I have been using pandas-profiling to profile large production too. The simple trick is to randomly sample data from Spark cluster and get it to one machine for dat

[2020-10-13 15:27] diraol opened #598 "Minimal config seems to be "persistent" across session"
It seems that once you use the "minimal" config, during that "runtime session" you can't go back using the "full" config. Somehow the "minimal" settings seem to be "persisted" somewhere and/or are not fully overwritten by the default config.

**To Reproduce**
1. Load the data
1. Run the "not minimal" profile report once.
1. Run the "minimal" profile_report.
1. Run the "not minimal" profile report

[2020-10-13 16:40] yasirroni opened #599 "The get-go web-based implementation of pandas-profiling"
**Missing functionality**
A get-go example of pandas-profiling using user data

**Proposed feature**
Hi, I made a get-go web-based implementation of pandas-profiling, so users can upload their data and see the result, including export to HTML and JSON. Everyone can just clone the repo and run in local or use it live on a remote server. Link to my repo: [link](https://github.com/yasirroni/binder-pr

[2020-10-14 06:45] fanzhuyifan commented on #543
Is there a development branch for this if we want to contribute?

[2020-10-14 10:24] yeahthebe commented on #231
Thanks you

I tried restarting the environment but it hasn't worked for me

On Mon, Sep 28, 2020 at 4:27 PM sakthigeek <notifications@github.com> wrote:

--
"Strive not to be a success, but rather to be of value." --- Albert Einstein

[2020-10-21 21:38] N2Network opened #601 ""ValueError: Maximum allowed size exceeded""
I've got a large dataframe I'm working with and it errors out "ValueError: Maximum allowed size exceeded." I'm running it in a Google Colab instance so I'm not sure if it's the hosted machine or limitations of the software. It's a multi-index dataframe that contains 3 indexes. If I switch it to a 2 index dataframe it appears to run fine. Although the html file that it generates is 72MB in size it

[2020-10-22 00:03] #538 closed

[2020-10-23 00:46] JMBurley opened #602 "pandas_profile fails to import due to missing visions module"
**Describe the bug**

v.2.9.0 can't import into jupyter due to missing module 'visions'

**To Reproduce**

Terminal:
[code]

Jupyter:
`import pandas_profiling`

**Version information:**

Version information is essential in reproducing and resolving bugs. Please report:

* _Python version_: '/usr/local/opt/python@3.8/bin/python3.8'
* _Environment_:Jupyter Notebook (local)
* _`pip`_: If you are usin

[2020-10-23 17:42] sbrugman commented on #602
@JMBurley I suspect the terminal and jupyter are different environments, since visions is in your pip freeze.

You can try the following in the notebook:
[code]

Or alternatively in the notebook:
[code]
and then copy that string and install in the terminal.
Please let me know if that resolves your issue.

[2020-10-23 19:15] JMBurley commented on #602
pip freeze was called in the notebook.  I'm not sure what caused the issue;  pip uninstall and `pip install visions` resolved the problem before I posted here.

Mostly just wanted to flag in case it is an issue affecting multiple users and there's something funky in the wheel after the Sept 3rd update.

Happy to close out if this looks unique to me and not indicative of a broader issue. 👍

[2020-10-23 20:15] sbrugman commented on #602
Thanks for flagging, much appreciated. Happy that it's resolved. Will look into it deeper when upgrading to the next visions' version.

[2020-10-23 20:15] #602 closed

[2020-10-23 20:45] sbrugman commented on #430
Work in progress 🏗️  Currently working on using the [visions](https://github.com/dylan-profiler/visions) typeset to automatically generate expectations (see visions' PyData talk for more info).

[2020-10-27 12:00] JiByungKyu commented on #598
I have same issue and calling ProfileReport.clear_config() clear run time configuration and working well.

[2020-10-28 13:23] VikrantMN26 opened #605 ".to_json and ._render_json do not return data under "Toggle details" tab"
We use both the html report and the json output in our projects. However, a few things present in the html report seem to be missing in the json output. Specifically, the data from the "Toggle Details" tab under every variable is missing in the json output.

**To Reproduce**
import pandas as pd
from pandas_profiling import ProfileReport

def test_issueXXX():
    df = pd.read_csv(r'<file>',encoding

[2020-10-28 16:52] nimrodazoulai opened #606 "Error installing using github master.zip"
**Describe the bug**

Can't install the package using:`pip` install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip`

** I know i can pip install regularly but I'm using GCP datalab and I can't get the latest version differently

**To Reproduce**

`pip` install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip`

_Data:_

    ERROR: Command errored out

[2020-10-29 09:55] haripriyatv01 opened #607 "Multiple request to pandas profiling at the same time is failing"
**Describe the bug**

I am using pandas profiling (version=2.9.0) with a python django application. When ever i am giving multiple requests to pandas profiling at the same time , Python django application itself is getting crashed.

report = ProfileReport(table, title='Profile Report', minimal=True,pool_size=3)
html_string = report.to_html()

its crashing when executing the line ***html_string = r

[2020-10-29 17:48] sbrugman commented on #606
Are you by any chance running Python3.5?

[2020-10-29 19:26] nimrodazoulai commented on #606
Python 3.6.2

On Thu, Oct 29, 2020 at 7:48 PM Simon Brugman <notifications@github.com>
wrote:

[2020-10-30 10:33] marnel-runner opened #608 "HTML report - Interactions unresponsive on selection"
Love the functionality, using JupyterLab 2.2.6 within Chrome Version 85.0.4183.83 (Official Build) (64-bit).
profile = ProfileReport(df, title='Pandas Profiling Report')
profile.to_notebook_iframe()
produced my report but the Interaction plot does not change when the data selection is changed. Following:
profile.to_file("df2_report.html")
the html file attached is also unresponsive for Interaction

[2020-10-31 11:10] Anselmoo opened #609 "Tracking non-linear correlation"
**Missing functionality**

@sbrugman thx for the great tool!

I was wondering if there is any chance to implement in the pandas-framework also a check of handling **non-linear correlation**. So far, it looks that [ppscore](https://github.com/8080labs/ppscore) is able to calculate _Predictive Power Score_ [[1]](https://towardsdatascience.com/rip-correlation-introducing-the-predictive-power-score-3d

[2020-11-03 12:57] zhazhazhi opened #610 "ImportError: DLL load failed: 找不到指定的程序"
ImportError: DLL load failed: 找不到指定的程序   how to

[2020-11-05 18:46] raybellwaves opened #611 "slack link not working"
In the README there is a link at the top for slack

  <a href="https://join.slack.com/t/pandas-profiling/shared_invite/zt-hfy3iwp2-qEJSItye5QBZf8YGFMaMnQ">Slack</a>

I believe this no longer works and should be deleted.

[2020-11-05 18:49] raybellwaves opened #612 "Dask.dataframe support"
Dask dataframes (https://docs.dask.org/en/latest/dataframe.html) are essentially partitioned and out-of-core pandas dataframes.

It would be great to support this for large datasets/remote data/and/or use a cluster to speed up the profiling.

[2020-11-06 20:08] matejmojzes opened #613 "NaN value is treated as a string in length frequency analysis"
It seems to me that a missing value (`NaN`) is treated as a string of 3 characters in the _Histogram of lengths of the category_ feature. I believe this behaviour is misleading, and thus would call it a bug.

**And example to be reproduced**

[code]

Yields the following length statistics of the column `col`, which do not seem to be correct.

Mean length = 3.666666667
Min length = 3

Or, graphical

[2020-11-08 03:07] danilomendesdias commented on #608
I can confirm the same behavior with pandas-profiling 2.9.0 from conda-forge

[2020-11-11 05:21] snehalvartak commented on #560
@bi2017dg how was this resolved? I am facing the same issue.

[2020-11-14 13:13] SunnyxBd commented on #613
Great catch @matejmojzes
I created a PR that solves this bug https://github.com/pandas-profiling/pandas-profiling/pull/619

Cheers,
Sana

[2020-11-14 16:19] sbrugman commented on #611
Thank you for reporting this, the link expires apparently. I'll add a new one.

[2020-11-14 16:19] #611 closed

[2020-11-17 17:51] lionettis opened #620 "Hidden index conversion with ProfileReport"
A `pandas.DataFrame` with columns indexed by an `Int64Index` object gets the column index converted to `Index(..., dtype='object')` upon calling `ProfileReport`.

**To Reproduce**

[code]
Output:
[code]

**Version information:**

Running on `jupyter-lab`, Python 3.8.5.

`pip freeze`

absl-py==0.10.0
alembic==1.4.1
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.2

[2020-11-18 17:44] loopyme commented on #610
As Simon always like to say, could you provide the minimal information to reproduce this error? [This guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) can help crafting a minimal bug report.

- the minimal code you are using to generate the report

- which environment you are using:

  - operating system (e.g. Windows, Linux, Mac)
  - Python version (e.g. 3.7)
  - jupyter

[2020-11-18 18:01] loopyme commented on #607
As far as I know, PP 2.9 is unable to execute concurrently (there are a lot of hurdles), so before a new version is released, I recommend that you can add a global queue to Django, and let it generate reports one by one.

[2020-11-18 18:20] loopyme commented on #605
I believe this part of data is in the json (maybe wrong)

Since the json structure is kind of complex, read this function may help you understand it
https://github.com/pandas-profiling/pandas-profiling/blob/87d964c1e5a20461002c27a2861f7ea1ba742c93/src/pandas_profiling/model/describe.py#L24

[2020-11-19 04:24] haripriyatv01 commented on #607
@loopyme Thank you so much for your reply. So can we expect this functionality for the new version ?

[2020-11-19 13:39] Connossor opened #621 "KeyError when building any report with v2.4.0"
**Describe the bug**

With a fresh install of pandas-profiling in a new conda environment, I get a `KeyError` when I try to create a report.

Possibly related to #498 . In that issue, there seemed to be conflicting versions between `conda list` and `pip freeze`. However, in my case I've a fresh conda environment and both conda and pip agree the pandas-profiling=2.4.0.

**To Reproduce**

[code]

Ou

[2020-11-19 20:59] sbrugman commented on #609
@Anselmoo pandas-profiling computes the [phi k correlation coefficient](https://github.com/kaveio/phik), which is able to pick up nonlinearities and is statistically well motivated and peer reviewed.

The predictive power score is indeed also a possibility and people might find this helpful, but for now misses out on validation and any link to related literature. For that reason, I do not think it

[2020-11-19 21:03] sbrugman commented on #594
@dojo-technology Since there hasn't been response here, I'd advice to try on stackoverflow: https://stackoverflow.com/questions/tagged/pandas-profiling.

Your question is pretty specific to your environment and less to pandas-profiling in the sense that llvmlite is not an explicit dependency. The chances of finding the solution there are probably higher.

Cheers,

[2020-11-19 21:05] sbrugman commented on #584
@felixchretien That's an unfortunate side effect of the way our configuration is used (we read this [yaml](https://github.com/pandas-profiling/pandas-profiling/blob/master/src/pandas_profiling/config_default.yaml) file). Contributions in this area are welcome.

[2020-11-19 21:19] sbrugman commented on #608
@marnel-runner Just verified that the report if working properly on my machine. However, it requires you to wait until it's fully loaded (which can take a while since the file is around 17MB). One way to get around this is to set `html.inline` to `False` to store the assets as separate files([read more](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/advanced_usage.html#t

[2020-11-19 21:20] sbrugman commented on #621
Is there any reason not to update to the latest version (2.9)?

[2020-11-19 23:26] Connossor commented on #621
The kernel we use has quite a complex web of dependencies I'm afraid; we have various requirements for particular versions of libraries, and the conda list above is the environment that conda solves for when trying to find the latest version of everything that is all mutually compatible. It's hard to me to pinpoint a single specific dependency that limits the version of pandas-profiling.

Are ther

[2020-11-20 06:31] #609 closed

[2020-11-20 16:48] loopyme commented on #607
I'm not working on the new version, so I don't know exactly if it supports concurrent execution. I would say this is a big challenge.

[2020-11-20 20:45] dclong opened #624 "Is it better to make `ProfileReport.json` has the dict type?"
**Missing functionality**

A dictionary representation of the profile report.

**Proposed feature**

Make `ProfileReport.json` has the dict type or have a property/method to return the dictionary representation of the profile report.

**Alternatives considered**

We can of course use `json.loads` to convert the JSON string to dict. However, this is not convenient. I wonder how often people need to

[2020-11-21 09:58] Anselmoo opened #625 "Including structured text-files"
I would also included structured `*txt` files, which are separated just by whitespace because many analytic programs print out results in this way

https://github.com/pandas-profiling/pandas-profiling/blob/b8b738aa979435a0348d081f84d31d38612dabf0/src/pandas_profiling/utils/dataframe.py#L43-L67

[2020-11-24 20:26] ncoish commented on #543
Hey all, is there any ongoing development for this Spark backend? We're thinking of adopting this tool, but as our datasets grow we're eventually going to have to use Spark for our profiling.

[2020-11-24 22:09] sbrugman commented on #543
Hey @ncoish, yes it's ongoing ! @chanedwin has done the lion's share of the work needed for the Spark backend, which now needs to be integrated

[2020-11-25 13:24] zhazhazhi commented on #610
已经解决了，重新安装了所有包

在 2020-11-19 01:44:28，"loopyme" <notifications@github.com> 写道：

As Simon always like to say, could you provide the minimal information to reproduce this error? This guide can help crafting a minimal bug report.

the minimal code you are using to generate the report

which environment you are using:

operating system (e.g. Windows, Linux, Mac)
Python version (e.g. 3.7)
jupyter noteb

[2020-11-28 07:56] liaoran opened #626 "Browser freeze"
Python version:3.7.9
Jupyterlab version:2.2.6
pandas_profiling version:2.9.0
Browser:Google Chrome Version 87.0.4280.66
OS:Ubuntu 20.04.1 LTS
Host memory:32G
Host CPU：Intel® Core™ i7-8750H CPU @ 2.20GHz × 12
Problem:The browser does not respond after getting the data report.
Performance:The CPU fan ran wildly, making a loud noise, and then the browser became unresponsive and stuck. The data set th

[2020-11-29 14:19] Data-drone commented on #608
I rendered one with `html.inline` set to `False` and I can find the interaction charts rendered out in the assets folder but when I choose different interaction variables in the main report it doesn't seem to refresh the chart? I tried on chrome and firefox if that makes a difference

[2020-11-29 19:36] michaellifly opened #627 "front size of the report"
**Missing functionality**
 when I have a lot of feature want to explore. the front size (label) of correlation report looks very small.

**Proposed feature**
is there any way to adjust that?

[2020-11-29 19:52] sbrugman commented on #627
@michaellifly There is some logic accounting for this, but it's not perfect. The recommended way to go about this is to propose a minimal example dataset which we can use to calibrate the font size on and add that to the unit tests.

[2020-11-29 23:29] sbrugman opened #631 "Migrate Travis CI to Github Actions"
Travis CI changed their policy, effectively meaning that open-source software like ours isn't supported anymore. [1](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing) Github Actions is a great alternative, which we already use for linting and building of the docs.

[2020-12-01 07:38] dclong opened #636 "Support customized schema when output a report to a JSON file"
**Missing functionality**

In the case of profiling a large data frame (many rows and columns),
a large (a few GBs) JSON report can be generated,
which is not convenient for further filtering based on the JSON report.
It would be great if there's a way to control the output schema off a JSON report,
so that some fields containing large data can be skipped to reduce the size of the JSON report.
The

[2020-12-01 07:46] dclong opened #637 "Document fields in the JSON report"
**Missing functionality**

The JSON report has lots of fields but unfortunately, they are very confusing and hard to figure out their meanings. For example, I thought `is_unique` tells whether a column has unique value or not, but it doesn't seem to be the case. Also, I have no idea what `n_unique` means. Based on the name, I'd guess it is then number of unique values, but it doesn't seem to be th

[2020-12-01 07:50] dclong opened #638 "Provide ways to quickly locate a column in the HTML report"
**Missing functionality**

In the situation of profiling large data frames (hundreds of columns), it is very hard to locate a specific column. It would be great if the HTML report provide a way for this. For example, provide a filtering box. When a user type in something in the filtering box, show only match columns.

**Proposed feature**

Provide a filtering box in the HTML report. When a user ty

[2020-12-01 07:57] dclong opened #639 "Dump to Pickle using `ProfileReport.dump` fails silent"
**Describe the bug**

I profiled a large pandas DataFrame and tried to dump the report into HTML, JSON and pickle. It successfully dumped the report into HTML and JSON files but it failed silent when dumping into pickle. Basically, no pickle file was generated and no error was thrown either.

**To Reproduce**

**Version information:**

Python: 3.8.5
Env: command line
pandas-profiling: 2.9.0

**Add

[2020-12-01 20:17] sbrugman commented on #639
@dclong Thanks for reporting. Could you share the code example you're using?

[2020-12-01 20:20] sbrugman commented on #637
Agreed, it would be a great addition to have a JSON schema. Contributions welcome.

To answer your question: `n_unique` is the number of unique values (i.e. occur exactly once). You might be looking for `n_distinct`, which is the number of distinct values.

[2020-12-01 20:25] sbrugman commented on #636
Agreed, good suggestion. Could be a follow-up from #637

[2020-12-01 23:19] dclong commented on #637
Thank you, @sbrugman! I confused myself on `unique` vs `distinct`.

[2020-12-01 23:20] dclong commented on #639
@sbrugman Sorry that I didn't provided reproducible steps. I couldn't share the data here. I will make some fake data and try to reproduce the issue based on the fake data. Will update this thread later.

[2020-12-04 06:34] dclong opened #640 "Reduce the memory consumption when dumping a report to files"
**Missing functionality**

Dumping a profile report (generated based on large dataframe) to JSON file consume lots memory. I wonder whether it is possible to reduce the consumed memories. For example, handle a column and dump it to disk and move the next column. If JSON doesn't support this, is there other format that we can leverage to dump a report to the file while doe not consume too much memo

[2020-12-04 06:36] dclong commented on #640
Also, allow skipping some large fields (as proposed in https://github.com/pandas-profiling/pandas-profiling/issues/636) can probably help reduce memory consumption a lot.

[2020-12-04 22:03] dclong commented on #639
I think the issue was caused by out of memory issue. I encounter the issue issue dumping JSON report for a larger data frame. If this is indeed caused by out of memory issue, a MemoryError or so should be thrown rather than failing silently.

[2020-12-05 00:37] rogerdahl opened #641 "Issues with the tutorial on how to change the order of sections in the report"
First, thank you for pandas-profiling. It's awesome.

I found the tutorial at https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/examples.html while looking into how I might be able to move the Sample section of the document to the top. The tutorial is very helpful, but I needed to make some changes in order to get things working:

- First off, both the "launch binder" and "

[2020-12-06 19:04] leopascual opened #642 "Length Histograms in texts columns are being wrongly plotted"
**Describe the bug**

Assuming all text columns length frequency histograms are referring to the length on values found on the text columns, I noticed several columns that have only two possible values for lengths col1(null, 13);  col2 (null, 8) but the profiling report calculates mins, mean, median not found in the table data.

**To Reproduce**
Use a single column with multiple values of unique l

[2020-12-07 22:03] sbrugman commented on #642
Thanks for reporting this @leopascual in such detail. Seems like a duplicate of #613, for which a fix is started in #619.

I'd be interested in knowing where the incompatibility comes from, we might be able to resolve this.

[2020-12-07 22:44] leopascual commented on #642
Hi @sbrugman,
I have created a virtualenv with 3.9.0, upgrade pip, install pandas; and then after, when I try to install pandas-profiling an error during installation is occurring.  Attached complete detail.
Building wheels for collected packages: numba, llvmlite
  Building wheel for numba (setup.py) ... error
  ERROR: Command errored out with exit status 1:

[error_installing_pp.txt](https://gith

[2020-12-08 19:23] sbrugman commented on #641
Absolutely good points. This notebook is somewhat outdated as you've noticed. A pull request would be very welcome :)

[2020-12-13 17:59] Guthman opened #644 "Disabling correlations leads to 'ConfigTypeError: correlations.pearson must be a collection, not bool'"
When disabling one or more correlations when calling profile_report(), one is greeted with:

[code]

**To Reproduce**
[code]

The same error is generated when running:

[code]

**Version information:**

* _Python version_: 3.7.3
* _Pandas version_: 1.1.3
* _Pandas Profiling version_: 2.9.0

* _Environment_: Jupyter Notebook

[2020-12-13 20:50] sbrugman commented on #644
@Guthman Could not reproduce this issue. The most probable scenario is that there is an outdated pandas-profiling version in your environment. Try

[code]

[2020-12-13 22:29] sbrugman commented on #620
Great catch, we should create a test for this and fix it :)

[2020-12-14 17:20] Guthman commented on #644
Thank you for the quick response, I'll try that ASAP when I have access to that machine again. But I find it a bit peculiar that pandas_profiling.__version__ could output 2.9.0 while the 'actual' version is older. Or can specific components be outdated?

[2020-12-14 18:23] sbrugman commented on #644
If you've used `from pandas_profiling import __version__` then the cause is something else. I've you've used something like `pip freeze | grep pandas-profiling` then the above could be an explanation. In any case, updating/starting a fresh environment should solve your issue.

[2020-12-14 23:25] pedrosan commented on #640
(new user here!)
Looking at what gets dumped to json, i.e. the `description` of the profile object, there are two components that seem to account for almost all the size: `value_counts` and `scatter_data` .
Both exist for each variable.

- `scatter_data` seems to be just a `pd.Series` of all values of each feature
- `value_counts` is another `pd.Series` that can be nearly the same size of former f

[2020-12-15 10:30] jamesmyatt commented on #509
I have this issue too. Can this be re-opened?

[2020-12-15 19:04] shyamcody commented on #76
So I am getting check_recoded, check_correlation, check_correlation_pearson to be non-existing. The correlations dictionary thing with setting the 5 of the correlations as False also didn't work with an error saying correlations. Pearson should be a collection instead of a boolean.

[2020-12-16 15:00] jjfrasca commented on #608
Hey I've been having this issue as well within Jupyter notebook and HTML. Thanks I also really love pandas-profiling and use it all the time.

[2020-12-17 07:21] sonusourabh commented on #543
Few more weeks/months of wait?

[2020-12-17 21:55] pedrosan opened #646 "vars.num.quantiles does not behave as one would naturally expect"
**Describe the bug**

Profiling breaks if the list of values for `vars.num.quantiles` does not include the five default values (`[0.05,0.25,0.5,0.75,0.95]`) because of how reports are coded, [https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/report/structure/variables/render_real.py#L126-L133]( https://github.com/pandas-profiling/pandas-profiling/blob/develop/s

[2020-12-18 08:38] apethani21 commented on #644
For what it's worth, I have also come across an issue like this, although I'm a little unclear on whether I'm just not passing arguments in the correct format. When I run:

[code]
 I get `ConfigTypeError: missing_diagrams must be a collection, not list`.

If I instead just pass `[]` instead of `None` like so:

[code]
 I get `ConfigTypeError: correlations.spearman must be a collection, not bool`.

[2020-12-19 19:35] nateGeorge commented on #228
For me, I needed to either run the jupyter notebook from the same terminal where I upgraded pandas-profiling, or open a new terminal window.

[2020-12-22 14:28] vinutshetty opened #647 "Value Counts Bin"
Hi,

Is there a setting in config file to restrict "value counts" to say 50 max. I profiled 10M records and it created 3GB big JSON file. Mainly because of "value counts".

Is there a way to restrict say top 10 value counts.

[2020-12-23 17:23] SenHan-lionheart opened #648 "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
**Describe the bug**

**To Reproduce**

**Version information:**

**Additional context**

[2020-12-23 17:25] #648 closed

[2020-12-24 03:54] rogerdahl commented on #621
A logical path to follow would be to look into where `self.name` is getting set and determine why it ends up as `None` instead of the expected `var1` (as seen in the last frame of your traceback).

[2020-12-28 07:10] Blanket58 commented on #578
With all due respect, when will the version 3 be released?

[2020-12-28 12:13] EXJUSTICE opened #651 "Possibility of deriving features matching condition?"
**Missing functionality**
 I'm not sure if this has already been implemented, but I'd like a way to derive some processed information from my report. For example, the "Distinct" parameter is very useful, I would like to derive a list of features with a number of "distinct" values below or above some threshold.

**Proposed feature**
 A method to derive information on the features after the report h

[2020-12-29 01:02] scholarsmate opened #652 "Automatically handle compressed files as pandas does"
**Missing functionality**

While pandas can infer compressed files for certain formats (e.g. CSV, JSON), pandas-profiling currently cannot.

**Proposed feature**

If the file format appears to be one of the compression formats that pandas can natively handle (e.g. zip, gz, bz2, xz), allow pandas-profiling to to pass that along to pandas.

**Alternatives considered**

Decompressing the files on the

[2020-12-29 01:16] scholarsmate commented on #652
https://github.com/pandas-profiling/pandas-profiling/pull/649 should satisfy this request.

[2020-12-29 12:16] CatNofishing opened #653 "Indexing a Series with DataFrame is not supported, use the appropriate DataFrame column"
# bug:

TypeError: Indexing a Series with DataFrame is not supported, use the appropriate DataFrame column

# : _Data:_
![image](https://user-images.githubusercontent.com/33288114/103283020-6b009880-4a12-11eb-9a9f-6c70454bcaa3.png)

#_Code:_ Preferably, use this code format:
[code]

[2020-12-30 18:26] fabioannovazzi opened #654 "Profile Report does not show anymore with Streamlit"
Hi,

If I run the profiler in streamlit (example streamlit run https://raw.githubusercontent.com/okld/streamlit-pandas-profiling/master/examples/streamlit_pandas_profiling_demo.py) I get a message "generating profile report" but no actual report.

I get this error in Powershell

[code]

To reproduce, simply run the report with the test link

Thanks

Fabio

[2021-01-04 11:33] CodeCox opened #655 "The "conda install defaults to 1.4.1" saga continues ..."
Not a bug but related to #448 and others as per the [FAQ](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/support.html#frequent-issues)

The ffg advice did not work for me!

    conda install -c conda-forge pandas-profiling=2.9.0

The command fails with

    UnsatisfiableError: The following specifications were found to be incompatible with each other:

but conda does not

[2021-01-04 19:18] sbrugman commented on #655
Great work tracking down the cause of this nightmare indeed. Feel free to add a small section to the FAQ via a pull request here in case you're interested: https://github.com/pandas-profiling/pandas-profiling/blob/develop/docsrc/source/pages/support.rst.

The issue should resolve itself once numba supports python 3.9, which they are working on so we should have some patience: https://github.com/nu

[2021-01-04 19:35] sbrugman commented on #654
Hi Fabio, thanks for reporting

I guess this issue is better raised at https://github.com/okld/streamlit-pandas-profiling/issues, since it's relevant to that code

[2021-01-04 19:35] #654 closed

[2021-01-05 17:56] #652 closed

[2021-01-05 18:09] #631 closed

[2021-01-05 21:13] CodeCox commented on #655
The numba website currently states compatibility for _python => 3.6_  which suggests quite a small window of support in the latest version(s). But I guess earlier versions of numba will support earlier python versions so its probably not as restrictive as it seems at first glance.

OK - I'll have a think about adding a few lines to the FAQ wrt to this `mamba` tip.

[2021-01-06 14:34] yancyrafael opened #661 "TypeError: function takes exactly 6 arguments (5 given)"
Import my data:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
from ipywidgets import widgets

df = pd.DataFrame(
    np.random.rand(100, 5),
    columns=["a", "b", "c", "d", "e"])

When I run the command:
profile = ProfileReport(df, title="Pandas Profiling Report")

have this response:

---------------------------------------------------------------------------

[2021-01-07 12:39] sbrugman commented on #661
Hi @yancyrafael welcome! Could you provide more information such as which version of pandas-profiling you are using and which kind of dataset?

[2021-01-07 16:09] yancyrafael commented on #661
Hello
I'm running the dataset on the tutorial

df = pd.DataFrame(
    np.random.rand(100, 5),
    columns=["a", "b", "c", "d", "e"])

Pandas version: 1.2.0
Pandas Profile version: 2.9.0

[2021-01-07 16:11] sbrugman commented on #661
Using that exact same configuration the package works on this machine. Which environment you are using:
    - operating system (e.g. Windows, Linux, Mac)
    - Python version (e.g. 3.7)
    - jupyter notebook, console or IDE such as PyCharm
    - Package manager (e.g. pip, conda  `conda info`)
    - packages (`pip freeze > packages.txt` or `conda list`)

[2021-01-07 16:25] yancyrafael commented on #661
Windows 10
Running Anaconda
python                    3.7.4
conda                     4.9.2
jupyter                   1.0.0
 active environment : base
    active env location : D:\Anaconda
            shell level : 1
       user config file : C:\Users\Yancy\.condarc
 populated config files : C:\Users\Yancy\.condarc
          conda version : 4.9.2
    conda-build version : 3.18.9
         python ve

[2021-01-07 17:06] sbrugman commented on #661
@yancyrafael The issue is that you're running pandas-profiling v2.4.0 instead of 2.9.0 as reported!

[2021-01-07 17:06] sbrugman commented on #661
The easiest solution is to reinstall, or start with a clean virtual environment

[2021-01-07 17:11] yancyrafael commented on #661
reinstall anaconda or pandas profiling?

I tried everything yesterday for an upgrade and seems not to work.

[2021-01-07 17:13] sbrugman commented on #661
Does the following work for you:
[code]

[2021-01-07 17:21] sbrugman commented on #605
@VikrantMN26 We've changed the json respresentation a bit (still could be simplified more even). If you're still encountering this issue, could you please give an example of a specific field missing for a given dataset (for instance from the examples section)?

[2021-01-07 18:18] yancyrafael commented on #661
Hello

Thanks

Start working and now has this error:

Summarize dataset: 74%
14/19 [00:05<00:02, 2.19it/s, Get missing diagrams]
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
D:\Anaconda\lib\site-packages\IPython\core\formatters.py in __call__(self, obj)
    343             method = get_real_m

[2021-01-07 18:21] sbrugman commented on #661
Other dependencies are also outdated, for instance pillow:

```pip install Pillow==8.0.1```

[2021-01-07 18:24] yancyrafael commented on #661
Finally, have like 3 days working on this you're the best!!!

[2021-01-07 18:25] #661 closed

[2021-01-07 21:22] yancyrafael commented on #661
Sorry but I'm trying to used another dataset CSV one and say all of them the same error:
Summarize dataset: 3%
1/31 [00:00<00:04, 6.42it/s, Describe variable:rank]
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
D:\Anaconda\lib\site-packages\IPython\core\formatters.py in __call__(self, obj)

[2021-01-07 21:28] yancyrafael opened #662 "AttributeError: 'PandasArray' object has no attribute '_str_len'"
I'm trying to review a CSV and have always the same error:

Dataframe info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   re

[2021-01-08 14:41] cdeil opened #663 "Interactions in HTML broken for some columns"
**Describe the bug**

For the simple and small example given below, the "Interactions" user interface is working for some columns, but not for others.

**To Reproduce**

_Data:_

Put this in a file `example.csv`:
[code]

_Code:_ Preferably, use this code format:
[code]
-->

**Version information:**

* _Python version_: 3.8.6
* _Environment_: I first saw the issue from JupyterLab, but you can simpl

[2021-01-08 14:56] cdeil commented on #607
I have a JupyterLab session out of which I created multiple profiles, one after the other from different cells.

I see weird behaviour as well, e.g. when I used the `minimal=True` option in the first `ProfileReport`, but then in the second cell an hour later `minimal=False`, I do get a new profile report, but still a minimal one.

Is it not possible to avoid global state and make the `ProfileRepor

[2021-01-08 14:59] cdeil commented on #608
Might or might not be the same issue: #663 There I have a tiny dataset, so that should really be an implementation bug though, not a performance / loading issue with larger datasets as described above.

[2021-01-08 16:31] Jrecos opened #664 "Lambda problems in summarizer process"
Hi,

I'm currently using Pandas-profiling to get information from a parquet file.
My dataframe contains 140 columns.

When I try to generate the profiling report, I'm getting this error:

`TypeError: <lambda>() argument after * must be an iterable, not bool`

I tried to change the column position but the error persists.

My Code is:

[code]

I'm doing something wrong?

Thanks

[2021-01-08 16:43] sbrugman commented on #664
Will look into this. What version are you on? And could you please provide a sample of your dataset / minimal version of the data to reproduce (may be anonymized)?

[2021-01-08 16:47] Jrecos commented on #664
I'm using the last version.
 How can I provide the dataset?

[2021-01-08 16:48] sbrugman commented on #664
You can just drag it into this comment field and github should upload/share it for you

[2021-01-08 17:43] Jrecos commented on #664
[ds.zip](https://github.com/pandas-profiling/pandas-profiling/files/5788644/ds.zip)
Done :)

[2021-01-08 18:02] sbrugman commented on #664
Good catch, it's a special case when one or more columns are fully empty.
Until I've patched it, you can use this workaround (dropping empty columns):

[code]

[2021-01-08 18:05] sbrugman commented on #663
The cause for this is a broken mapping from column to "clean name", which removes numbers (resulting in four times "day" in this your example). Will fix in the next release.

[2021-01-08 19:27] Jrecos commented on #664
Awsome, Works!

[2021-01-08 20:49] dhimmel opened #665 "Writing profile report to an I/O stream"
`ProfileReport.to_file` allows writing to a local path, specified as a str or pahtlib.Path:

https://github.com/pandas-profiling/pandas-profiling/blob/d4e70185fa7e16b1d0b07dfb731897ef06bb3067/src/pandas_profiling/profile_report.py#L254-L262

I'd like to write an HTML report to an I/O stream (i.e. `typing.IO`). The motivation is to write directly to a remote filesystem opened via fsspec. It also wo

[2021-01-10 04:10] cccntu commented on #594
This happened to me and here is how I solved it:
follow https://apt.llvm.org/ to install llvm-10, then set LLVM_CONFIG:
`export LLVM_CONFIG=/usr/bin/llvm-config-10`

[2021-01-11 02:54] rynmccrmck opened #668 "2.10.0 - TraitError: The 'value' trait of a HTML instance must be a unicode string..."
**Describe the bug**

Hi there - Looks like latest release (2.10.0) has broken a to_widgets functionality as outlined in the `Getting started` section of the docs. Confirmed eolling back to 2.9.0 does not produce the issue.

**To Reproduce**

[code]
Returns:
[code]

**Version information:**
2.10.0

**Additional context**

[2021-01-11 04:37] harrywinks commented on #50
I am in same problem...

[2021-01-12 17:44] aidamanzano commented on #668
I have this same issue too, do you know if it has been fixed?

[2021-01-12 18:11] rynmccrmck commented on #668
@aidamanzano I don't think so yet, but you can downgrade to 2.9.0

[2021-01-13 20:41] MarvinTeichmann commented on #668
I have the issue as well.

[2021-01-14 09:21] SanderLam opened #671 "RecursionError: maximum recursion depth exceeded while calling a Python object"
**Describe the bug**

I got this error when trying to get a report on a file with around 250k rows and a couple of thousand columns. I managed to in the end reproduce the error with this minor dataframe.
Removing any of the 6 values removes the error.

**To Reproduce**

[code]

**Version information:**

* _Python version_: 3.7.5
* _Environment_: Azure Databricks notebook (in a Jupyter Notebook in

[2021-01-14 20:43] kabartay commented on #454
This error is with 2.3.0. You need to update Pandas Profiling to version 2.9.0 available at the beginning of 2021.

[2021-01-15 02:17] jvschoen commented on #244
These suggestions don't seem to work with jupyter 3.0.3...

[2021-01-15 04:42] rahul8879 commented on #671
Hi SanderLam,

Please upgrade python version to 3.8.3 so this problem will solved.
Let me know if you need more clarification on this.

Thanks

[2021-01-15 19:38] arpita-chintha opened #672 "Pandas Profiling Profile Report Too huge"
My data frame consists of 27321 rows x 80 columns. Create a profile report for the same and it created a 291 MB report which is way too huge and is not opening up on machines.
Using previous version a friend was able to create  a report of size 10MB.
Attaching all the csv file for reference.
Unable to attach the report file since its too huge .

[train.xlsx](https://github.com/pandas-profiling/pan

[2021-01-17 15:46] adamrossnelson opened #673 "Slack Links On ReadMe.md"
Hello, I am doing some research related to helping others make contributions to open source software. I'm looking at profiling Pandas-Profiling. I noticed a slack channel linked from the ReadMe.md page. The link leads me to an error page.

Here is a screen grab of the error: https://github.com/adamrossnelson/HelloWorld/blob/master/sparefiles/Screen%20Shot%202021-01-17%20at%2010.38.46%20AM.png

I h

[2021-01-18 16:15] set92 commented on #671
Is happening to me too in python 3.8.5 and 3.9.1 with the code of @SanderLam.

[2021-01-18 18:27] nickcorona commented on #438
Updating pandas-profiling doesn't work. This problem still exists.

[2021-01-18 18:33] nickcorona commented on #528
No, this happens on the latest version.

[2021-01-19 09:50] DeepOde commented on #620
I want to fix it :) but I haven't ever contributed to open-source projects, I found that constructor sets `self.df = df`, if it is never intendent to mutate the original df, shall I change it so that it creates new DataFrame object (if time required to copy doesn't prohibits us from doing so). Sorry, I'd have asked this on Slack but the link is broken!

[2021-01-19 21:58] robroc commented on #528
I got the same error when installing from `conda-forge`, which is version 1.4.1. Specifying the version like @kfeaginsiii suggested worked.

[2021-01-19 22:04] ons-cherif commented on #668
Me too :(

[2021-01-20 13:07] victorouttes commented on #671
Same problem here! Python 3.8.6.

[2021-01-20 22:08] mukeshmithrakumar commented on #668
any updates on this issue?

[2021-01-20 22:36] sbrugman commented on #673
@adamrossnelson thanks for flagging this, the link expired (as of now we don't have a way of generating links for longer than 30 days). Here is a new link (which I'll add to the readme until we have a permanent solution):
https://join.slack.com/t/pandas-profiling/shared_invite/zt-l2iqwb92-9JpTEdFBijR2G798j2MpQw

[2021-01-20 22:56] sbrugman commented on #668
Fixing it now, will release the fix together with some others soon.

[2021-01-20 23:52] sbrugman commented on #646
@pedrosan I agree that we could improve upon this behaviour following your suggestions. Code contributions are very much welcome.

[2021-01-21 00:39] sbrugman commented on #620
@DeepOde feel free to have a go at it ([slack link](https://join.slack.com/t/pandas-profiling/shared_invite/zt-l2iqwb92-9JpTEdFBijR2G798j2MpQw"))..

[2021-01-21 18:42] sbrugman commented on #244
@jvschoen Could you please provide details so that we can reproduce?

[2021-01-25 10:58] jamesmyatt opened #675 "Feature request: Identify numbers stored as strings"
**Missing functionality**

It would be useful to identify columns that appear to be numbers stored as strings. These are hard to identify from the report, especially when there are a limited number of possible values, in which case the column is identified as categorical, just as it would if the values were stored as integers.

**Proposed feature**

These should be identified as warnings.

**Alter

[2021-01-25 11:57] muthugit commented on #668
Version 2.9.0 works fine
[code]

[2021-01-25 13:27] mukeshmithrakumar commented on #668
Thanks for the quick fix fellows :)

[2021-01-26 12:08] mohith7548 opened #676 "Pandas-Profiling not considering the type of the column which is changed manually."
**Describe the bug**
- Pandas is used to read data
- One of the column was misread as number (`int`) instead of string/category (`str`)
- That column is manually typecast with the help of `astype` function [`astype('str')` / `astype('category')`]
- Pandas-Profiling is used to generate report
- The new type of the column is not considered and instead it considered that column as number.

**To Repro

[2021-01-26 13:11] hellenesherman commented on #671
Facing same issue, even when converting all cols to str. Could you share your fix @sbrugman  ?

[2021-01-26 20:54] sbrugman commented on #676
pandas-profiling has no way of knowing if a column is cast in another type manually or not. The user should be able to disable the automatic detection of strings with integer values (and/or individual columns). Contributions are welcome. The code can be found here:
https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/model/typeset.py#L38

(cc @ieaves)

[2021-01-26 20:55] sbrugman commented on #675
Great suggestion. The new type system should make this easy to achieve. Contributions are welcome.

(cc @ieaves)

[2021-01-26 23:50] ieaves commented on #675
Hey @sbrugman - did the base typeset implementation you went with include the String -> Numeric inference relations we setup in base visions? If so I suspect you could get this right now by running a profile report setting the categorical config to some arbitrarily high number (or np.inf).

[2021-01-27 03:17] ieaves commented on #676
The root of his issue is the use of `infer_type` instead of `detect_type` here: https://github.com/pandas-profiling/pandas-profiling/blob/d4e70185fa7e16b1d0b07dfb731897ef06bb3067/src/pandas_profiling/model/summary.py#L43 @sbrugman.

[2021-01-27 13:05] vin2015-edem opened #677 "TqdmDeprecationWarning in ProfileReport"
**Describe the bug**

I use Pandas Profiling 2.9 (09.2020) in my public notebook in Kaggle:
https://www.kaggle.com/vbmokin/automatic-eda-with-pandas-profiling-2-9-09-2020?scriptVersionId=52853008

`ProfileReport(train_x, title='Pandas Profiling Report for training dataset', html={'style':{'full_width':True}})`

2 month ago this code successfully worked - see my previous commit:
https://www.kaggle.

[2021-01-28 15:48] mohith7548 commented on #676
So, how can we solve this issue? @sbrugman can we manually tell pandas-profiling the data types of a misunderstood column?

[2021-01-28 15:50] mohith7548 commented on #638
`CTRL + F` is what I'm using currently

[2021-01-28 16:34] ieaves commented on #676
@mohith7548

This isn't a long term solution for you but if it's a blocker you can solve the problem by building from source with the following changes to summary.py linked above:

Change

[code]

to

[code]

[2021-01-28 21:29] jamesmyatt opened #678 "Feature request: df can be empty"
**Missing functionality**

When I run the profiler with an empty datafram---in this case, there are no rows but some columns---I get a ValueError with "df can not be empty".

[code]

This seems like an unnecessary limitation. When I'm profiling a relational database, then I want to create a profile report for every table in the database, including the empty ones.

**Proposed feature**

Allow empty

[2021-01-29 09:57] jamesmyatt commented on #672
Try with `minimal=True`

See https://github.com/pandas-profiling/pandas-profiling#large-datasets

[2021-01-29 15:48] jamesmyatt opened #679 "Feature request: Replace pie chart with alternative"
**Missing functionality**

Pie charts are horrible. 😝

**Proposed feature**

Can we have an option to disable the pie chart and/or to replace it with another format, such as a tree map, please?

**Alternatives considered**

 N/A

**Additional context**

Related issues: https://github.com/pandas-profiling/pandas-profiling/issues?q=pie+chart

[2021-01-29 17:51] JamesMDorame commented on #496
@fepre This still an issue with Pandas Profiling version 2.10.0.

`import numpy as np
import pandas_profiling
df = pd.DataFrame(
    np.random.rand(100, 5),
    columns=["a", "b", "c", "d", "e"]
)
pandas_profiling.ProfileReport(df)`

[2021-01-29 21:13] JianWang2016 commented on #551
Could someone please follow-up to include this feature?

[2021-01-29 23:12] abrichr commented on #671
I'm guessing this is the fix: https://github.com/pandas-profiling/pandas-profiling/pull/674/commits/1a3bffb724cdca35799843ef6915636985a08374

[2021-01-30 12:39] mohith7548 commented on #676
I'm trying to create a pull request that can handle both options based on a boolean value passed to ProfileReport class.
This is my first pull request. I'm not sure how to do testing. @ieaves can you please shine some knowledge on how to run the test cases present in the `tests` folder at a go. Any additional info is helpful. Thanks.

[2021-01-30 18:54] mohith7548 commented on #676
Thanks for the help @ieaves. I made a pull request making the developer choose infer/detect dtype by using a new kwarg param  `infer_dtypes` in ProfileReport. <br>
New changes here: <br>
https://github.com/mohith7548/pandas-profiling/blob/4dd35dfbf7c1eb005a90e87275efdeec6968931b/src/pandas_profiling/model/summary.py#L46

[2021-02-01 05:35] SuhyunL commented on #183
thank you. it worked for me

[2021-02-01 10:01] enesMesut opened #681 "Pagination would be nice when dealing with high number of column"
**Missing functionality**

When i generate report for a table with high number column html page is getting too long

**Proposed feature**

Pagination or some other solutions like pagination would be great at least "variable" part of report. It can also makes report html file size smaller too

[2021-02-01 17:13] endremborza opened #683 "Recursion error when nan rate is too high"
**Describe the bug**

For some reason the dataset summary gives a recursion error. I'll try to look into it a bit deeper, but I'd like to post it first so that maybe someone knows something.

**To Reproduce**

[code]

results in

[code]

**Version information:**

python 3.8 in a notebook

pandas==1.2.1
pandas-profiling==2.10.0

[2021-02-01 18:26] JamesMDorame opened #684 "@fepre This still an issue with Pandas Profiling version 2.10.0."
@fepre This still an issue with Pandas Profiling version 2.10.0.

`import numpy as np
import pandas_profiling
df = pd.DataFrame(
    np.random.rand(100, 5),
    columns=["a", "b", "c", "d", "e"]
)
pandas_profiling.ProfileReport(df)`

_Originally posted by @JamesMDorame in https://github.com/pandas-profiling/pandas-profiling/issues/496#issuecomment-769953226_

[2021-02-01 18:30] JamesMDorame opened #685 "Issue #496 AbstractMethodError when using pandas_profile"
**Describe the bug**

**To Reproduce**

**Version information:**

**Additional context**

[2021-02-02 17:30] engrarqam commented on #668
Thanks a lot, Mukesh bro you solved my problem.

[2021-02-02 17:32] engrarqam commented on #668
Thanks a lot, muthugit bro you solved my problem.

[2021-02-03 04:56] mohith7548 commented on #676
@ieaves Kindly review this pull request https://github.com/pandas-profiling/pandas-profiling/pull/680

[2021-02-03 14:03] sbrugman commented on #685
Could you provide the minimal information to reproduce this error? [This guide](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) can help crafting a minimal bug report.

- the minimal code you are using to generate the report

- which environment you are using:
    - operating system (e.g. Windows, Linux, Mac)
    - Python version (e.g. 3.7)
    - jupyter notebook, console or ID

[2021-02-03 15:57] JamesMDorame commented on #685
Here is more information for this bug.

When trying to generate a report the following error occurs: AbstractMethodError: This method must be defined in the concrete class type

**Environment**
Windows 10
Python 3.7
jupyter notebook
numpy                     1.16.2
pandas-profiling          2.10.0
[PackageList.txt](https://github.com/pandas-profiling/pandas-profiling/files/5919708/PackageList.txt)

[2021-02-03 15:59] JamesMDorame commented on #685
Information added to comment on issue.
Thank you

On Wed, Feb 3, 2021 at 8:03 AM Simon Brugman <notifications@github.com>
wrote:

[2021-02-03 17:24] sbrugman commented on #685
Thanks @JamesMDorame. The issue in your environment seems to be with the code below, although I could not reproduce it. Could you please verify that the following snippet yields the same error:

[code]

[2021-02-03 17:32] sbrugman commented on #684
Duplicate of #685

[2021-02-03 17:32] #684 closed

[2021-02-03 17:43] JamesMDorame commented on #685
That code does not return the error.

Abbreviated output
91  0.367833  0.188482  0.658861  0.485134  0.400419
92  0.624880  0.229420  0.591141  0.094314  0.523189
93  0.231544  0.340217  0.738064  0.472836  0.838604
94  0.586591  0.479526  0.074745  0.643456  0.519543
95  0.524571  0.471131  0.256094  0.456682  0.564187
96  0.860796  0.816732  0.590780  0.325540  0.619459
97  0.324934  0.872229  0

[2021-02-03 17:54] sbrugman commented on #685
Based on the stack trace and the code I can't find a clear reason why this is happening. Any help to track down the root cause is appreciated.

[2021-02-06 15:41] luckrols commented on #668
Same issue here with version pandas-profiling version 2.10.0

[2021-02-06 17:38] johnnyheineken opened #687 "Crashes jupyter notebook on Mac M1"
**Describe the bug**

When importing:
`from pandas_profiling import ProfileReport`

jupyter kernel crashes on Apple Silicon:

**To Reproduce**
see description
_Data:_
see description
_Code:_ Preferably, use this code format:
see description

**Version information:**

Version information is essential in reproducing and resolving bugs. Please report:

* _Python version_: sys.version_info(major=3, mi

[2021-02-06 17:47] johnnyheineken commented on #687
when running as .py file, `profile = ProfileReport(data, title="Pandas Profiling Report")` hangs.

When interrupted, following error is shown:

<details><summary>Error, click to expand</summary>

[code]

[2021-02-07 11:49] sbrugman commented on #687
@johnnyheineken You are on `pandas-profiling 1.4.2`. This is a known issue with conda (sometimes caused by mixed conda and pip installs). You can resolve this issue by explictly installing 2.9.0.

[2021-02-07 11:49] #687 closed

[2021-02-07 21:49] sbrugman commented on #668
Fix is available in develop, will release it tonight.

[2021-02-07 22:22] sbrugman commented on #679
@jamesmyatt  Turing off the pie chart is possible by setting the "plot.pie.max_unique" parameter to 0, however this could be documented more clearly (feel free to PR a documentation improvement).

[2021-02-07 22:25] sbrugman commented on #678
The linked issue is unrelated.

This should be a simple way to get started with contributing to pandas-profiling/open source. If anyone is interested in taking this up, please send in a PR to get started or ask here or on our slack channel.

[2021-02-07 23:57] sbrugman commented on #683
@endremborza I've just released v2.10.1 that should resolve your issue!

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-07 23:57] #683 closed

[2021-02-07 23:58] sbrugman commented on #673
@adamrossnelson I've just released v2.10.1 that should this issue and included your article!

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-07 23:58] #673 closed

[2021-02-07 23:59] sbrugman commented on #671
@SanderLam I've just released v2.10.1 that should resolve your issue! (cc @rahul8879 @set92 @victorouttes @hellenesherman @abrichr)

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-07 23:59] #671 closed

[2021-02-08 00:00] sbrugman commented on #668
@rynmccrmck I've just released v2.10.1 that should resolve your issue!

(cc @aidamanzano @MarvinTeichmann @ons-cherif @analuizaypessoa @mukeshmithrakumar @muthugit @engrarqam @luckrols)

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-08 00:00] #668 closed

[2021-02-08 00:01] sbrugman commented on #664
@Jrecos I've just released v2.10.1 that should resolve your issue!

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-08 00:01] #664 closed

[2021-02-08 00:01] sbrugman commented on #663
@cdeil I've just released v2.10.1 that should resolve your issue!

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-08 00:01] #663 closed

[2021-02-08 00:02] sbrugman commented on #642
@leopascual  I've just released v2.10.1 that should resolve your issue!

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-08 00:02] #642 closed

[2021-02-08 00:02] sbrugman commented on #613
@matejmojzes I've just released v2.10.1 that should resolve your issue!

_Want me to continue to support this package? Please consider [sponsoring](https://github.com/sponsors/sbrugman)_

[2021-02-08 00:02] #613 closed

[2021-02-08 00:14] sbrugman commented on #644
@Guthman @apethani21 Are you still experiencing this issue with v2.10.1?

[2021-02-08 00:40] #598 closed

[2021-02-08 00:40] #676 closed

[2021-02-08 07:55] cdeil commented on #663
Yes, the issue is resolved. Thank you!!!

[2021-02-08 08:32] apethani21 commented on #644
Hi @sbrugman, it works for me now with v2.10.1! Specifically when I do:

[code]

[2021-02-08 09:05] hellenesherman commented on #671
Great work @sbrugman  - now it works perfectly. Thanks a lot

[2021-02-08 18:05] johnnyheineken commented on #687
thanks a lot. how can I install it though?

This is the report I get:

[code]

[2021-02-09 17:33] albertonvilas opened #693 "Pdf instead of HTML"
**Proposed feature**

I propose create an output option for pdf creator instead of html

[2021-02-10 17:00] K20shores opened #694 "macOS Big Sur 11.2 build fails"
**Describe the bug**

`pip install pandas-profiling` fails

[code]

**To Reproduce**

Have a mac with the above version operating system. `pip install pandas-profiling`

**Version information:**

[code]

**Additional context**

Sorry if the above isn't formatted properly. How to format was confusing

[2021-02-10 18:41] sbrugman commented on #694
Possible duplicate of https://github.com/pandas-profiling/pandas-profiling/issues/594 (please check if that solution helps you).

[2021-02-10 21:01] sbrugman commented on #693
Others have had this feature request before (there is a dedicated slack channel for it). Interested contributed are invited to reach out. Supporting [this project](https://github.com/sponsors/sbrugman) allows for more time to spend on feature request as well.

[2021-02-12 08:21] gverbock opened #695 "Counting negative values"
**Missing functionality**
When asked to provide data overview, the number of negative value (and percentage) can be really helpful to assess data quality. I would like to add the number and the percentage of negative values to the summary.

**Proposed feature**
Look like it could be an easy implementation. Something like
summary['n_neg'] = series.lt(0).sum()
summary['p_neg'] = series.lt(0).mean()

[2021-02-17 00:39] hkennyv opened #698 "descriptions per variable raises ValueError"
**Describe the bug**

The "descriptions per variable" feature described [in the metadata section of the docs](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/metadata.html) does not seem to work yet. So far, I've tried both the inline dictionary syntax as well as using an external JSON file (see the snippets below).

**To Reproduce**

Here's a simple snippet:

**main.py**

[2021-02-17 07:42] cdeil opened #699 "Better support for long variable name access from HTML"
I have variable / column names like `sensor_F1A13S1_REAL_line_1` in my dataframe.

In the HTML profile report I can't find a way to "access", i.e. copy & paste that name in the variables view, there's only the truncated version.

Being able to do that would allow me to use the HTML report for EDA and then copy & paste the names to my notebook to continue / write my analysis there.

Is it possible

[2021-02-17 23:20] sbrugman commented on #695
@gverbock Indeed I can imagine this to be useful in some cases, provided that the implementation is efficient.

[2021-02-18 03:24] JianWang2016 commented on #699
Similarly, the column names are also truncated on the correlation heatmap (x-axis).

[2021-02-18 14:23] BenDavisson commented on #607
Adding on to this thread.

I have ran into this same "crashing" behavior whenever I try to generate a pandas profile before the previous profile is finished.

I'm sending a request from a Web App hosted by Flask to generate a pandas profile.  Basically, when a user clicks a button on the web app, a report is generated.  If a user clicks the button before the previous profile is generated, the enti

[2021-02-18 16:12] psorianom opened #705 "Loading report without access to the original dataframe"
**Missing functionality**

**Proposed feature**

I am computing the profiles of several hundreds of csv files. These files are not changing anytime soon and accessing is a little bit cumbersome. In this context, saving a profile via the `dump()` method is ideal for caching. That said, it seems to me that I need the original dataframe when using the `load()` or `loads()` methods, which is cumbersom

[2021-02-19 08:29] ahmetbaglan opened #706 "Is it possible to convert a script with pandas_profiling to executable using pyinstaller?"
**Missing functionality**

I have been writing a very simple tkinter application reading a csv and running pandas profiling.  I couldn't convert my application  to windows executable using pyinstaller. Is it possible for you to share  .spec file which is working ?  I have already tried to write mine without success. My intention is to share pandas_profiling withouth necessarily asking people to in

[2021-02-19 09:10] sbrugman commented on #706
Which error are you getting? Which version are you using?
Happy to support compatibility with pyinstaller if we discover the issue.

(related issues: https://github.com/pandas-profiling/pandas-profiling/pull/175 and https://github.com/pandas-profiling/pandas-profiling/issues/246)

[2021-02-19 09:50] ahmetbaglan commented on #706
Thank you so much for such a quick reply. I would really appreciate your help. I don't know if there is anybody tried this earlier but I suspect it might be a general issue for different Python and pandas_profiling versions somehow. Is there  any spec which worked before?

My setup and error is as following:

My Python version: 3.6.5

My pandas_profiling version:  2.10.1

I was  getting a bunch of

[2021-02-19 10:06] sbrugman commented on #706
@ahmetbaglan pyzmq should not be dependency for this package.
I'd recommend asking on stackoverflow (tag pyinstaller) to have higher chances of getting your question answered: https://stackoverflow.com/questions/tagged/pandas-profiling.
Again, feel free to create a PR once you've found the solution.

[2021-02-19 10:51] vgroshev opened #707 "pandas-profiling crashes if there are some unwanted characters in text fields"
I am trying to apply profiler for data extracted from SAP. Data size is 1 million rows and 42 columns.
I load it to dataframe dfp and use the following code:

[code]

After analysis starts, something goes wrong and the following error occurs:

[code]
Out of all data I was to find the cell with data that produces this error (See attached csv file).
I use **Python 3.6**, **pip**, and both **win10**

[2021-02-19 11:02] vgroshev commented on #707
[pip_freeze_win10.txt](https://github.com/pandas-profiling/pandas-profiling/files/6009448/pip_freeze_win10.txt)
[pip_freeze_linux.txt](https://github.com/pandas-profiling/pandas-profiling/files/6009449/pip_freeze_linux.txt)

[2021-02-19 11:06] vgroshev commented on #707
[only7_union_comma.txt](https://github.com/pandas-profiling/pandas-profiling/files/6009468/only7_union_comma.txt)

[2021-02-19 18:19] sbrugman commented on #707
Good point, the character-level analysis assumes utf-8. Quick fix would be to turn that off (see config docs).

Needs a fix. Feel free to send in a PR.

[2021-02-21 11:58] sbrugman commented on #698
This is actually a bug, both interfaces should be consistent. These are the only dynamic configuration keys, where all others are known in advance, which is causing the issue.

Note that the analogous call to `set_variable` is `profile = ProfileReport(df, variables={"descriptions": {"A": "The A column", "B": "The B Column"}})`, however this results in the same error.

[2021-02-21 11:58] #694 closed

[2021-02-22 17:43] sbrugman commented on #705
Should be (made) possible. @proinsias are you interested in trying to contribute a PR?

[2021-02-22 21:49] psorianom commented on #705
Yes of course! I will look into it and propose a PR.

[2021-02-23 03:31] gmgeorg commented on #677
A workaround is to use set `progress_bar=False` .  Not fixing the underlying problem, but at least the report can be generated.

[2021-02-24 14:47] kyprifog commented on #612
I do some work  in dask these days and would be interested in investigating adding this.  Has anyone started this?

[2021-02-24 21:06] sbrugman commented on #612
@kyprifog Feel free, would be a great addition. We have spark support in progress (see PRs), which should help to generalize to multiple engines. The best way to reach us is on Slack (see link on top of readme)

[2021-02-25 17:19] vgroshev commented on #707
Thank for your reply, I don't feel I understand what and how to fix in the code though.

[2021-02-25 17:27] sbrugman commented on #707
The issue is actually with [tangled-up-in-unicode](https://github.com/dylan-profiler/tangled-up-in-unicode):

[code]

[2021-02-25 17:30] sbrugman opened #713 "The issue is actually with [tangled-up-in-unicode](https://github.com/dylan-profiler/tangled-up-in-unicode):"
The issue is actually with [tangled-up-in-unicode](https://github.com/dylan-profiler/tangled-up-in-unicode):

[code]

_Originally posted by @sbrugman in https://github.com/pandas-profiling/pandas-profiling/issues/707#issuecomment-786071154_

[2021-02-25 17:30] #713 closed

[2021-02-25 20:13] KeVoyer commented on #699
Setting **full_width: True** (under style) in the config file took care of this problem for me (it obviously change the aspect of the report)

[2021-02-27 04:09] vasili111 commented on #528
Same problem problem is with installing from `conda forge` which is the version 1.4.1. No problem after installing with pip.

[2021-02-28 21:15] Zalfrin commented on #707
As a temporary workaround until tangled_up_in_unicode gets fixed, I found I could get past this error on my dataset by using:

report = ProfileReport(df, vars={'cat':{'characters':False}})

The advanced usage documentation page mentioned vars.cat.unicode, but it doesn't seem like this option exists in the latest release of pandas-profiling.

[2021-03-01 06:19] tkanngiesser opened #715 "Broken Link to get more info about integration with Great Expectations"
When I click on "https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/great_expectations_integration.html"
I get a 404.

[2021-03-01 15:46] #695 closed

[2021-03-01 16:03] kyprifog commented on #543
I would also like to know where this code lives so I can help out.  One thing I would like to put forth to be considered is being able to pull out the underlying queries that form the profiles into spark to avoid pulling all of pandas-profiling for people that just want to be able to get that part of it and not the whole package.

[2021-03-01 16:07] sbrugman commented on #543
https://github.com/pandas-profiling/pandas-profiling/pull/670

[2021-03-01 18:20] sbrugman commented on #715
Should be okay now, thanks.

[2021-03-01 18:20] #715 closed

[2021-03-02 10:58] the-whopper opened #717 "Variable Types to Dataframe"
**Proposed feature**

It would be really useful to get a simple datafame containing the Variable name and the inferred variable type.

[2021-03-02 17:44] amitpartani commented on #662
Hi,

I am also running into same issue after conda updated the pandas. I am getting error in versions 1.0.5, 1.1.5
code is
import pandas as pd
x= pd.DataFrame([(1,2),(2,3)])
x.head()

Out[9]: ---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
~/miniconda3/lib/python3.8/site-packages/IPython/core/fo

[2021-03-02 18:09] kurosch commented on #693
@sbrugman can you assign the issue to me, if no one is working on it?

[2021-03-02 18:52] ricoms opened #719 "Import on code snippets for documentation or full working sample?"
**Describe the bug**

on this line there is no imports https://github.com/pandas-profiling/pandas-profiling/blame/d90ccb550db427ca88c17f0b2bb41d39edbdd0eb/docsrc/source/pages/advanced_usage.rst#L20

Issue #196 is related. I believe complete small sample codes would be more informative.

Having the time I might be able to work on that and submit some PRs.

**To Reproduce**

To reproduce, that is th

[2021-03-03 16:51] nateGeorge opened #720 "Once you use minimal=True in a Jupyter Notebook, you cannot go back to minimal=False"
**Describe the bug**

If you run `ProfileReport()` with `minimal=True` in a Jupyter Notebook, when you run `ProfileReport` again it does not show correlations or anything besides the 'variables' and 'overview' tabs.  You can specify each separate section to run (e.g. `correlations={...}`) but it would be better to have it default to `minimal=False`, or if you specify `minimal=False`, it should sho

[2021-03-05 05:22] ieaves opened #721 "Support for Schemeless URL type detection"
**Missing functionality**
The current `URL` type implementation fails to identify URLs when missing a scheme. Omitting the scheme is pretty common when identifying sequences containing values like `www.google.com` and it would be convenient if the URL implementation worked in these circumstances.

**Proposed feature**

[code]

[2021-03-05 12:45] wellingtonf-souza commented on #662
I'm having the same error.

Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

'1.1.5'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\wellington.souza\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py", line 751

[2021-03-05 12:50] wellingtonf-souza commented on #662
I'm having the same error.

Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

'1.1.5'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\wellington.souza\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py", line 751

[2021-03-05 15:36] rdpapworth opened #723 "Negative exponents appear positive"
**Describe the bug**

Negative exponents do not appear in a profiling report

**To Reproduce**

[code]

![no_negative_exponents](https://user-images.githubusercontent.com/1386312/110135651-a7f85b00-7dc6-11eb-8457-67416ade5dea.png)

Minimum should be 1 x 10<sup>-8</sup> rather than 1 x 10<sup>8</sup>. The issue also arises for Mean and Maximum.

**Version information:**

Python 3.7.7 (default, May

[2021-03-06 13:15] albertonvilas commented on #693
That will be a nice feature, hope you can do it!

[2021-03-07 16:26] jankaWIS opened #724 "Add functionality to modify plots (and their look)"
**Missing functionality**
I have searched pandas profiling documentation, the [advanced usage](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/advanced_usage.html) webpage and also the [plotting](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/api/_autosummary/pandas_profiling.visualisation.plot.html#module-pandas_profiling.visualisation.plot) bu

[2021-03-07 20:44] ankitrajixr commented on #717
Can we please work on this?

[2021-03-08 10:26] sbrugman commented on #723
Good catch. Feel free to make a PR with a fix ([relevant code](https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/report/formatters.py#L207)), otherwise I'll pick it up later.

[2021-03-08 10:26] sbrugman commented on #693
Feel free to send in a PR!

[2021-03-09 07:33] yaosting opened #725 "An Error is emitted when the ‘count’field is present in DataFrame"
**Describe the bug**

1.When I load a local file with a count field, it looks like this:

![image](https://user-images.githubusercontent.com/39480659/110434491-d8086c80-80ec-11eb-9b4a-57963df424b6.png)

2. So I'm going to go ahead and execute, I met this error:
'cannot insert count, already exists'

its all:
`---------------------------------------------------------------------------
ValueError

[2021-03-09 07:43] yaosting commented on #717
Maybe we can learn from featuretools or other feature engineering package

[2021-03-09 08:03] jruots commented on #528
pip install pandas-profiling==2.8.0 fixed it for me. Originally installed from conda forge and it came in as version 1.4.1.

[2021-03-09 17:01] vgroshev commented on #707
Hi. Are you planning to update package at https://pypi.org/project/tangled-up-in-unicode/ also? (It would be really cool:)

[2021-03-09 17:25] vgroshev opened #726 "pandas_profiling fails to process dates if they are "far" from each other"
### **description**
Having 2 dates from long time span in one column (one value from year 1900, another from 1934) causes error.
Changing those to equal (both 1900 or both 1934) allows to process without errors. If dates are very close to each other -- also ok.

### **configuration and details**
One attached file from ***pip freeze*** shows ok libraries set, another -- NOK set. The error occurs du

[2021-03-09 18:50] sbrugman commented on #707
@vgroshev Just updated the tangled-up-in-unicode package, let me know if that resolves your problem.

_ps. This project is maintained on best-effort basis, you are very welcome to [support it](https://github.com/sponsors/sbrugman)._

[2021-03-11 09:48] browaan commented on #662
I have the exact same error.

[2021-03-11 10:49] sbrugman commented on #662
What version of pandas-profiling are you running?

[2021-03-11 15:23] jstammers opened #727 "ExpectationProfiler fails to profile a datetime column"
**Describe the bug**
I've encountered the following `TypeError` when trying to profile a dataframe that has a datetime column
<details><summary>Click to expand <strong><em>Traceback</em></strong></summary>

[code]
</details>

[code]

From looking at the arguments to `is_between` in `great_expectations.dataset.pandas_dataset.py`, this seems to be due to `min_value` and `max_value` being serialised

[2021-03-12 15:38] sawonece15 opened #729 "error"
STEP_SIZE_TRAIN = train_generator.n//train_generator.batch_size
STEP_SIZE_VALID = valid_generator.n//valid_generator.batch_size

history_warmup = model.fit_generator(generator=train_generator,
                                     steps_per_epoch=STEP_SIZE_TRAIN,
                                     validation_data=valid_generator,
                                     validation_steps=STEP_SIZE_VAL

[2021-03-12 15:41] #729 closed

[2021-03-12 17:52] jackmoody11 commented on #662
Seems like this might be a conda/pandas issue. Not sure that the issue belongs here.

[2021-03-13 13:48] arita37 opened #730 "pandas version too restrictive"
Your pandas requirements are too restrictive,
making conflict with other big packages.

Can you make compatible with pandas > 1.0

[2021-03-14 14:15] #662 closed

[2021-03-14 14:16] sbrugman commented on #730
This package is compatible with pandas>=0.25.3 with the exclusion of a few patch releases (1.0.{0,1,2} and 1.1.0) that contained serious bugs that affected effective working. All latest patches are fully working (e.g. 1.0.5, 1.1.5,1.2.3). In case you really need one of the bugged pandas versions, feel free to submit a PR patch.

[2021-03-14 14:17] #727 closed

[2021-03-18 00:37] sdmuzel commented on #233
I tried, but don't work

[2021-03-21 22:47] niall0 commented on #662
I fixed the same problem with the following:

pd.set_option("display.max_columns", None)

Possibly something broke with the latest version of pandas whereby the '_str_len' attribute seems to no longer exist.
If you don't like the way the results are displayed when you use the "pd.set_option("display.max_columns", None)" solution, you can also fix the issue by editing line 844 in the Anaconda3\Lib\

[2021-03-23 15:57] Buckeyes2019 commented on #662
Unfortunately, the solution @niall0 provided does not work for me. I am curious why this issue was closed?  Is there an open issue elsewhere addressing this problem?

[2021-03-23 18:57] niall0 commented on #662
Hi @Buckeyes2019,  there are a couple of other threads relating to this problem. I provided more details on my experience of this issue in the following comment:

#https://github.com/pandas-dev/pandas/issues/40404#issuecomment-804439414

If that doesn't help you, can you provide more info on what's happening in your case?

Good luck!

[2021-03-23 23:29] dennis39784 commented on #662
Thanks niall0.  I just hit the same problem, and your fix to format.py solved it for me.

[2021-03-24 05:06] ttpro1995 opened #732 "Please consider update version requirement of package `visions`"
**Missing functionality**
Currently, in `requirements.txt`, the version of visions is set to `0.6.0`
[code]

**Proposed feature**
Currently, visions version is 0.7.1.
Please consider update the version, or set to `visions[type_image_path]>=0.6.0`

**Additional context**
Install pandas profiling break some package that required feature in visions 0.7

[2021-03-24 05:13] ttpro1995 commented on #732
I try to force install visions=0.7.1 with conda, here is output

[code]

Conda change channel
[code]

My system OS: Ubuntu 18.04.5 LTS

[2021-03-25 12:55] owenlamont opened #733 "Slack links in the README.md are no longer valid"
**Describe the bug**

The slack of Join the Slack community links on the README.md - both return an error saying the link is no longer valid

**To Reproduce**

Click the [Slack](https://join.slack.com/t/pandas-profiling/shared_invite/zt-l2iqwb92-9JpTEdFBijR2G798j2MpQw) link at the [beginning](https://github.com/pandas-profiling/pandas-profiling#pandas-profiling) or [Join the Slack community](https

[2021-03-25 14:03] owenlamont opened #734 "dark themed configuration file link in README.md broken"
**Describe the bug**

The dark themed configuration file link in the README.md points to a file that no longer exists in the repo

**To Reproduce**

Click the [dark themed configuration file](https://github.com/pandas-profiling/pandas-profiling/blob/master/src/pandas_profiling/config_dark.yaml) link under the [Advanced Usage](https://github.com/pandas-profiling/pandas-profiling#advanced-usage) sec

[2021-03-25 14:22] Mayurji commented on #183
After doing this

Restart the kernel and clear outputs in Jupyter Notebook. It worked for me.

[2021-03-25 14:28] owenlamont commented on #734
I've made a PR to remove this particular link - I assume it is no longer relevant.

I've never played with GitHub actions before but I can see there are actions specifically for checking bad links in Markdown files. That may be a better long term fix for this issue in general.

[2021-03-25 17:21] #734 closed

[2021-03-25 17:26] sbrugman commented on #732
We made a start at this in https://github.com/pandas-profiling/pandas-profiling/tree/visions-0.7.1. Maybe @ieaves is open to helping out, otherwise I'll look into it.

[2021-03-25 17:31] sbrugman commented on #725
This is a bug, "count" is currently reserved in `pandas_profiling/model/duplicates.py`(which it shouldn't be). You are welcome to contribute a patch if you are interested. Replacing count with "duplicate_count" would already significantly reduce the chance of collusion. Alternatively we could pick an unique name base on the existing columns.

[2021-03-25 17:32] sbrugman commented on #724
It's already possible to change the cmap, however it's not directly documented (you can find the related [parameters](https://github.com/pandas-profiling/pandas-profiling/blob/master/src/pandas_profiling/config_default.yaml#L120) in the config file). Feel free to extend the docs with the relevant settings in a PR.

[2021-03-25 23:29] #723 closed

[2021-03-27 07:54] jankaWIS commented on #724
Perfect, thanks a lot. How detailed should it be? Do you have some guidelines on how to write your docs? Or is it enough to load some dataset and show on some examples how to make it, eg. as [seaborn](https://seaborn.pydata.org/tutorial/relational.html) does.

[2021-03-27 15:54] sbrugman commented on #724
The addtions should be consistent with the existing docs and helpful to readers. You can find the relevant page here: https://github.com/pandas-profiling/pandas-profiling/blob/develop/docsrc/source/pages/advanced_usage.rst. Feel free to add in examples or anything you feel is useful to the reader. Much appreciated!

[2021-03-27 19:16] sbrugman commented on #733
The previous link expired in 30 days. This one doens't: https://join.slack.com/t/pandas-profiling/shared_invite/zt-oe5ol4yc-YtbOxNBGUCb~v73TamRLuA.

[2021-03-27 19:23] #733 closed

[2021-03-27 22:13] #725 closed

[2021-03-28 11:23] sbrugman commented on #430
Details on the integration [here](https://github.com/pandas-profiling/pandas-profiling#great-expectations)!

[2021-03-28 11:23] #430 closed

[2021-03-28 11:26] sbrugman commented on #592
With `visions` integrated, this should be easy to support. Anyone interested is invited to pick this up!

[2021-03-28 22:03] #678 closed

[2021-03-30 06:11] arita37 opened #741 "pandas profilling too dlow: make multi processing"
Have a stable of 10000 rows, 4000 columns,
panda profile is too slow...

Can you make it in multi-processing ?
(ie column stats can be done in multi-processing easily).

thanks

[2021-03-30 11:29] jankaWIS commented on #724
I have updated the docs (see [here](https://github.com/pandas-profiling/pandas-profiling/pull/742)) but I have noticed a few problems when testing it.

1. For the `histogram`, both `max_bins` and `x_axis_labels` do not exist and raise:
[code]
and the last, `bins`, seems to change nothing.

2. It is still not possible to pass an argument to the plot itself, eg. what if I want to have the plots red?

[2021-03-31 08:30] arita37 opened #743 "Pandas profiling becoming too slow : un-usable"
With 10k rows and 30 columns, it takes more than 2mins to generate a report...

Pandas profiking becomes more and more slow...

Can you run benchmark tests ?

[2021-04-01 15:31] qndbsxo commented on #183
i have same issue
but installted  and success

enviorment : google colab

1) !pip install -U pandas-profiling==2.3
2) runtime restart!

[2021-04-01 20:08] jamesmyatt commented on #678
Thanks

[2021-04-02 05:40] LikhithTati opened #744 "Plotting interactions using Hex-binned plots"
I'm using Anaconda/Jupyter and I've installed the package using "pip install pandas-profiling[notebook]"(Version 2.11.0). When I create a profile, I can see the interactions as Scatter Plots. I would like the plots to be hex-binned. I've read the Advanced Usage section of the official documentation, and it mentions that the plots can be either scatter or hex-binned. But, I could not find any optio

[2021-04-02 08:00] sbrugman commented on #744
Hex-bin plots are created if the number of observations exceeds the ``scatter_threshold`` parameter (default 1000). Setting this parameter to 0 would provide hex-bin plots.

(https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/config_minimal.yaml#L118)

[2021-04-02 08:00] #744 closed

[2021-04-02 09:41] sbrugman commented on #743
Could you provide a dataset to reproduce? Did you test against prior versions of this package?

[2021-04-02 09:43] sbrugman commented on #741
The `pool_size` parameter can currently be used ([relevant code](https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/model/summary.py#L83)). Possible duplicate of #743.

[2021-04-02 10:20] sbrugman commented on #719
Hi @ricoms, good to meet you here now that there is no offline MediaEval :)
Good point, feel free to submit a PR!

[2021-04-02 10:32] arita37 commented on #743
Dataset is simple :

40k rows
37 columns of float.

You can try add sklearn random dataset
as your regression tests.

[2021-04-02 10:50] sbrugman commented on #743
What settings are you using? There is always a trade-off between the performance and which statistics are generated. For instance, on a similar dataset as you mention with the `minimal=True` setting, the full report, including HTML rendering takes 2.5 seconds.

[2021-04-02 14:53] arita37 commented on #743
Ok,
How much time for
   minimal= False ???

My suggestions :

1) Run speed benchmark when releasing
 With nrows= 10,000 and ncolumns=50
  (ie a small dataset)

2) Find tricks / optional to remove heavy compute
      —> Mostly pairwise

 Mostly :
   ratio =Nb of unqiue values in (5%, 95%) / len(df)
    if ratio is low : might skip

[2021-04-02 15:34] arita37 commented on #743
Suggest to use

pyinstrument to benchmark

You’ll see which functionalities
to de-activate by default.

[2021-04-02 16:16] sbrugman commented on #743
@arita37 Sounds good. Would you be interested in contributing a PR and work out the sketched solution?

[2021-04-02 18:07] arita37 commented on #743
Sorry, am too busy...
Check my profile and count the number of commits done....

It takes 5 lines of code

Random dataset numpy random:
10000 rows x 50cols
run pandas profiling
with py instrument
identifiy bottlenack

Put optional all compute > 40sec.

Make the total compute < 60 sec.

the more bloated you put pandas profiling
the less usable it becomes....

Dont spend time on useless jupyter widg

[2021-04-05 01:58] arita37 opened #748 "Add Benchmark speed at release time:"
Generated a table of benchmark speed
for each commit release using standard datasets.

Example :
https://tensorflow.github.io/io/dev/bench/

--> Keep Pandas profiling 'speed optimized'

[2021-04-05 04:27] LikhithTati commented on #744
Thanks for replying back so quick!

[2021-04-06 06:54] LikhithTati opened #750 "Adding custom section to the report"
Is there any way to add custom sections to the report? For example, I would like to add a section which has a single bar chart(with custom data) inside it. I know that there's the tedious way of going through the whole report graph and adding sections manually, but it is error-prone as there are many classes which are internal to pandas_profiling and which need to be understood first to have any e

[2021-04-07 08:41] soorma7 opened #752 "Getting TypeError while parsing a dataframe"
I'm facing TypeError while using pandas-profiling on a data as follows:
[code]
Please help. I have no idea what this is about.

[2021-04-07 15:07] sbrugman commented on #752
Hi @soorma7, what version of the package are you using and could you provide a sample of the data and code you are using?

[2021-04-07 17:16] sbrugman commented on #748
Got it running here: https://pandas-profiling.github.io/pandas-profiling/docs/dev/bench/

Thanks, great suggestion! Performance fixes and larger dataset benchmarks incoming (limiting factor is memory on Github Actions currently)

[2021-04-07 17:16] #748 closed

[2021-04-07 17:54] gmivan commented on #438
I fixed the same issue in the example bellow by changing "join_axes" operator to "keys" operator. It works.

Before:
dfsubmit = pd.concat([TestdataID['PassengerId'], dfPrediction['Survived']], axis = 1, join_axes=[TestdataID['PassengerId'].index])
dfsubmit = dfsubmit.reset_index(drop=True)

After:
dfsubmit = pd.concat([TestdataID['PassengerId'], dfPrediction['Survived']], axis = 1, keys=[TestdataI

[2021-04-07 18:52] sbrugman commented on #750
This is the closest related documentation that we have: https://colab.research.google.com/github/pandas-profiling/pandas-profiling/blob/master/examples/tutorials/modify_report_structure.ipynb

Hope that helps out, otherwise I'm afraid it will be a custom effort.

[2021-04-07 19:07] sbrugman commented on #724
This PR introduces improved config: https://github.com/pandas-profiling/pandas-profiling/pull/751. We can introduce additional plotting parameters easily. Feel free to contribute.

[2021-04-08 05:38] soorma7 commented on #752
Hi @sbrugman , I'm using version '2.11.0'.
I can't provide the sample actually as it's organizational data.

I used this code:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)

Profiling stopped on 2% and gave me the error.
But then I went to ~\Anaconda3\lib\site-packages\pandas\core\algorithms.py and changed 'np.isnan' to 'p

[2021-04-08 06:15] soorma7 commented on #752
Okay keeping minimal =True fixed the MemoryError for me.
But this didn't gave me any correlation graphs. Plus, for some variables I'm getting "Unsupported" flag.

[2021-04-10 15:28] DyegoDS commented on #62
Thank you!

It helps me...

[2021-04-11 01:35] arita37 commented on #748
Thank you.

Just increasing nb of columns
increase “heaviness”

[2021-04-13 14:23] dpnem commented on #743
I ran a 49 million record table with 86 variables. Yeah, it took 30 minutes to run, but I'm good with that because the data insights I got from the report are an incredible help.

I turned off correlations, interactions, and closed all the missing diagrams.

[2021-04-15 02:44] ricoms commented on #719
Hello @sbrugman! A nice surprise finding you here! I'll sure do that soon :)

[2021-04-15 03:12] renatagot opened #759 "KeyError: 'min' when generating report structure"
Getting KeyError: 'min' in the generate report structure step.

I am unable to share the dataframe as it is confidential. The dataframe structure however is:

`<class 'pandas.core.frame.DataFrame'>
Int64Index: 425876 entries, 0 to 425875
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   dummy_claimid

[2021-04-16 14:24] sbrugman commented on #759
Thanks for reporting. I suspect the error is caused by `POLineCancDate` having 0 non-null values.

[2021-04-18 16:58] XinQi7788 commented on #759
Thanks for sburgman's comment! I encountered the same error, and after removing the 0 non-null variable, the error is fixed.

[2021-04-18 23:09] renatagot commented on #759
Thank you sbrugman and XinQi7788. After removing the 0 non-null variable the report worked as expected!

[2021-04-20 17:24] kart2k15 opened #766 "Integration with plotly-dash"
**Missing functionality**

There are integrations available with streamlit [https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/integrations.html](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/integrations.html)

It'd be much appreciated if you could provide similar functionality with plotly dash, I tried embedding the report as an iframe, but it d

[2021-04-21 00:46] thomelane opened #767 "Slow import when debugging"
It takes ~2 minutes to import `ProfileReport` on m5.8xlarge Amazon EC2 instance when debugging a script with VSCode.

I've narrowed it down to this nested import:

https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/model/summary_helpers.py#L11

[code]

I think it's related to the objects in this library being huge. Are there alternatives?

**To Reproduce**

[cod

[2021-04-21 10:40] sbrugman commented on #767
Thanks for pointing this out. tangled-up-in-unicode is just a big lookup table. Two ways to improve the load time:
- trivial: import the library locally since it's only used for unicode lookup (which can be turned off)
- compile using `cibuildwheel` (on my wishlist)

[2021-04-21 14:05] jankaWIS commented on #724
I have updated the docs (see [here](https://github.com/pandas-profiling/pandas-profiling/pull/742)) but I have noticed a few problems when testing it.

1. For the `histogram`, both `max_bins` and `x_axis_labels` do not exist and raise:
[code]
and the last, `bins`, seems to change nothing.

2. It is still not possible to pass an argument to the plot itself, eg. what if I want to have the plots red?

[2021-04-25 17:35] MarcoGorelli commented on #662
This has been reported in pandas, though each post there mentions pandas-profiling in some way. I'm inclined to suggest the issue might be here, but without a reproducible example it's hard to say

[2021-04-27 11:55] mvanuyt opened #769 "Great_expectation: incompatible with config version 3.0 due to missing action_list_operator"
**Describe the bug**
When utilizing the great_expectation integration with the newest great_expectation config version, you receive the following error:
DataContextError: No validation operator `action_list_operator` was found in your project. Please verify this in your great_expectations.yml
Originating from
[code]

**To Reproduce**
Running example 1 from
https://github.com/pandas-profiling/panda

[2021-05-04 20:01] ahprh12 commented on #528
Update as of 5/4/2021, the above command mentioned, "pip install pandas-profiling==2.8.0" solves this issue. the basic example in the readme is up and running in my notebook. Thank you.

[2021-05-05 17:35] #730 closed

[2021-05-05 18:26] #732 closed

[2021-05-06 03:43] IncubatorShokuhou opened #776 "OSError: [Errno 28] No space left on device"
**Describe the bug**
Met the same bug with [this issue](https://github.com/pandas-profiling/pandas-profiling/issues/518). The bug still happened when I set the envrionment variable `JOBLIB_TEMP_FOLDER` to a folder that is big enough. Also, I am quite sure that my memory is big enough( about 128G)

**Version information:**
* _Python version_: 3.7.9.
* _Environment_:  Jupyter Notebook (local)
* _`pa

[2021-05-08 23:42] #554 closed

[2021-05-09 18:47] Leneet603 opened #779 "'Heat Map tabs not clickable'"
**Warning , Heat Map tabs not clickable**

[2021-05-09 20:39] sbrugman commented on #779
Hi @Leneet603, welcome to Github.

Please provide more information on how to reproduce the problem you are facing. There is no "heat maps" tab in pandas-profiling, do you mean correlations? The released version is tested, please provide details such as your version, environment and code/data (sample).

[2021-05-09 20:42] #776 closed

[2021-05-09 20:47] #707 closed

[2021-05-09 22:04] #584 closed

[2021-05-09 22:04] #644 closed

[2021-05-09 22:04] #698 closed

[2021-05-09 22:04] #720 closed

[2021-05-09 22:04] #724 closed

[2021-05-10 16:14] sbrugman commented on #767
@thomelane The time tangled-up-in-unicode requires should be reduced (significantly) with the new release 0.1.0. It would be really helpful, if you have a moment sometime, to check if the issue is resolved !

[2021-05-10 20:07] vperiyasamy commented on #752
I'm also facing this error when using a large dataset (2 - 4 GB). Reducing the dataset size resolves the issue.

[2021-05-11 21:31] sbrugman commented on #752
Quick and dirty reproduction using pandas works without problem on my machine (16GB), still works with 2 mln rows (using the latest version).

With the `minimal=True` flag the 10 mln rows work without problems
[code]

[2021-05-11 23:34] #779 closed

[2021-05-12 01:14] vperiyasamy commented on #752
Hmm, I tried executing that exact snippet you sent, with an upgraded `pandas-profiling==3.0.0` and still encountered the same error. I wonder if it's due to one of the dependencies - the stack trace ends with some pandas code. What version are you using? Mine is with `1.1.3` with this stack trace:

[code]

[2021-05-12 03:14] vperiyasamy commented on #752
I checked out the pandas source and found the root cause:
[Here](https://github.com/pandas-dev/pandas/blob/v1.1.3/pandas/core/algorithms.py#L440) is where that 1 million threshold is coming from, and in the version of pandas I'm using (`1.1.3`) checks this with `np.isnan` instead of `np.isna`; as the OP mentioned above, `np.isna` is the more robust check. `pandas==1.1.4`+ includes this fix and res

[2021-05-12 10:36] sbrugman commented on #752
Great work @vperiyasamy!

Anyone encountering this issue, please upgrade your pandas version.

[2021-05-12 10:36] #752 closed

[2021-05-13 14:07] briangrahamww opened #785 "Pydantic validation error when instantiating ProfileReport"
**Describe the bug**

I am getting a pydantic error when trying to instantiate a ProfileReport
[code]

This issue is that we cannot instantiate `Settings()` in line 80 of `src/pandas_profiling/profile_report.py`. `Settings` is imported from `src/pandas_profiling/config.py`

**To Reproduce**
[code]

**Version information:**

* _Python version_: 3.7.9 installed via pyenv
* _Environment_: ipython

**

[2021-05-13 16:51] sbrugman commented on #785
Thanks for reporting and looking into this.

Inheriting from BaseModel instead of BaseSettings would solve the problem, but not the root cause. The BaseSettings provide functionality to apply settings via the environment variables... However this is also what causes the issue you report, I suspect.

Setting the environment variable `PLOT=123` results in the same error as you report.

The solution

[2021-05-13 18:33] briangrahamww commented on #785
Thanks for the quick response and better solution!  I wasn't entirely sure what was going on, but I figured a quick fix was better than none.  I made your suggested change and it seems to work.  I updated the PR.

[2021-05-16 18:36] #785 closed

[2021-05-18 13:04] salmanea opened #791 "Stops at "Get scatter matrix""
**I have a dataset of about 250K rows and 28 columns. I run the profiler and it stops at 83% "Get scatter matrix" (see the attached screenshot)**
![image](https://user-images.githubusercontent.com/7900672/118655900-469f3000-b7ea-11eb-9c69-87fa1ed751cb.png)

**To Reproduce**

**Version information:**

**Additional context**

[2021-05-18 13:05] salmanea opened #792 "GPU Support"
**It would be great if pandas-profiling can run on GPU**

**Proposed feature**

**Alternatives considered**

**Additional context**

[2021-05-18 14:08] sbrugman commented on #792
[cuDF](https://github.com/rapidsai/cudf) would be a candidate backend for this. Since the codebase is already refactored to support multiple backends, and soon will support spark, only the cuDF-specific operations need to be implemented (such as value_counts)

[2021-05-18 14:09] varshithvvs commented on #476
I'm facing the same issue when executing within my Jupyter notebook. Is there a fix for the same.

PS: I also had issue around PEP517 while installing the library however installing build essential solved the issue:

" !{sys.executable} -m apt-get update && apt-get install -y build-essential"

[2021-05-18 14:10] sbrugman commented on #791
It's still computing (see *), just is slow for these 28x28 =784 plots. You can either turn this off or limit to 28xn where n = the number of target variables. See [this page](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/advanced_usage.html#interactions)

[2021-05-18 16:34] vahid-sb commented on #601
Google search for the same error brought me here, and then I found the following Q/A in stackoverflow that presented a solution, and thought to mention it here too. To sumarize, you have to set `minimal=True` when calling `profile_report`.
https://stackoverflow.com/questions/56035523/how-to-profile-large-datasets-with-pandas-profiling

[2021-05-19 07:53] zygm0nt opened #794 "Processing even small dataset freezes at random steps - versions >= 2.11.0"
**Describe the bug**

I have a small dataset (~100Mb) which I try to analyze with `pandas-profiling`.

The code snippet for that is rather basic:

[code]

What I observe is it hanging at random moments of the processing, never actually completing the whole process. The freeze occures at steps, that in previous runs could run smoothly, so it does not look as a resource bound error, more like deadlo

[2021-05-19 09:16] sbrugman commented on #794
Hi Marcin, thanks for reporting. Haven't encountered this before, let's dive into it and resolve the issue. This could be caused by matplotlib, it might be worth setting a different [matplotlib](https://matplotlib.org/stable/tutorials/introductory/usage.html#the-builtin-backends) backend. To be able to help it would be helpful to have a reproducible setup. Is it possible for you to reproduce the s

[2021-05-19 11:36] zygm0nt commented on #794
Hi, thanks for a quick answer.

I've started digging into the anonymization process, but during that exploration came to the conclusion that some of my types  may be somewhat misleading. Namely, some of the columns in that dataframe had columns of type `numpy.ndarray` or `dict`. I've removed them for now and I'm able to generate the report.

Don't know if this is the indented behaviour for those t

[2021-05-19 13:03] sbrugman commented on #794
Interesting. Those columns should be detected as "Unsupported" (they are checked for being hashable, and since they are not there things end). Are you able to construct a minimal dataframe with columns with `numpy.ndarray` or `dict` that break?

[2021-05-19 13:08] salmanea commented on #791
Thanks.
I realized that it has a problem with a column that contained mixed letters and numbers.
I dropped the column and it worked OK.

[2021-05-19 15:06] ashwin153 opened #795 "Profile contains incorrect types and rejected columns"
**Description:**

Profile contains incorrect types and rejected columns.

**Reproduction:**

[code]

**Version:**

* _Python version_: Python 3.8
* _Environment_: Jupyter Lab

<details><summary>Click to expand <strong><em>requirements.txt</em></strong></summary>
<p>

[code]

</p>
</details>

[2021-05-20 11:28] CodeCox commented on #655
Many moons have passed and and so have the versions in my environment - time for some housekeeping.

Numba 0.53 supports Python 3.9 so I'm closing this issue.

[2021-05-20 11:28] #655 closed

[2021-05-21 06:26] reedv commented on #676
I notice that using `infer_dtypes=False` when generating reports like
[code]
appears to make the report generation run much faster in my experience. Would you happen to know why this would be?

[2021-05-21 15:21] ieaves commented on #676
@reedv the `infer_dtypes` flag attempts to infer the best data types for each column in your dataframe before computing summaries. For example, if you had a sequence of values ['1', '2', '3'], when you use infer_dtypes, PP will provide a summary for integers rather than strings.

If you've already massaged your data and have things the way you want there's no harm in calling it with infer_dtypes o

[2021-05-26 23:17] akshayreddykotha commented on #743
Are correlations, interactions, and missing diagrams the most expensive in terms of computation? Could you throw in additional insights about what are the tasks which are computationally expensive during report generation?

[2021-05-31 10:12] boubou191911 opened #796 "Not working with Pandas 1.2.x"
Hello,

Running pandas_profiling on a machine with Pandas 1.2.x causes errors.

The requirements.txt mentions:
pandas>=0.25.3,!=1.0.1,!=1.0.0,!=1.0.2,!=1.1.0
which allows 1.2.4.

Maybe:
pandas>=0.25.3,<1.0.0
would be better.

Or even better support pandas 1.x ;-)

Br

[2021-05-31 10:13] sbrugman commented on #796
Thanks for reporting this. What's the error? Pandas 1.2.X should be supported.

[2021-05-31 13:55] boubou191911 commented on #796
Hello,

Sorry my mistake.
Running 'conda install -c conda-forge pandas-profiling' installed version 1.4.1 of the package and I didn't pay attention to it. I cannot figure out why in my environment history.
This version has obviously some conflicts with pandas 1.2.4.
Reinstalling the environment installed the version 3.0.0 and it works now as a charm...
Sorry again for the confusion.

[2021-05-31 13:55] #796 closed

[2021-06-03 02:26] AlexChiang0208 commented on #672
With minimal=True, all variable showed simplified information.
But if one of variable I want to see completed information, how to deal with it?

[2021-06-05 15:25] Baft opened #797 "yarn and hdfs support (hadoop)"
is it able to profile data that is stored on hadoop-hdfs where jobs/task managed by yarn?

[2021-06-08 09:56] endremborza commented on #373
this comes up sometimes (?!) when generating profiles in [dvc](https://github.com/iterative/dvc) which is very frustrating as the 2 tools fit together nicely.
could these few matplotlib lines be added to the pandas-profiling first import to circumvent this issue?

[2021-06-14 14:24] tugcekonuklar commented on #417
I still have the same issue. using panda-profiling v3.0.0

[code]

[2021-06-14 15:43] psorianom commented on #767
As a single point of information, in my setup (i7, 32gb ram, Linux Mint 20) it is indeed significantly faster when importing the module while debugging with Pycharm.

[2021-06-14 17:27] #767 closed

[2021-06-15 09:28] enesMesut commented on #791
I have same problem. My dataset have 5k record and 31 column. When profiling start process stucs at "Summarize dataset: 81%
 / Get scatter matrix". There is no mixed type column in dataset i changed all column types to float via astype(float) function of pandas. We want to use Pandas Profiling in our product but issues makes trouble at poc stage.

[2021-06-15 09:31] sbrugman commented on #791
@endremborza Will be improved in the next version. For now either turn the scatterplots off (`interactions={'continuous': False}`) or select particular columns for which you're interested in obtaining them (`interactions={'targets':['col1', 'col2']}`)

[2021-06-17 06:38] salmanea commented on #791
@sbrugman Thanks for the fix. It worked. Please let us know when you found a complete solution to the problem.
One more thing: Dates are not currently supported. It would be great if they can also be summarized in the profiling.

[2021-06-19 11:21] sou-joshi commented on #795
The reason for rejected column is because its a constant in your case - 2021-05-11

[2021-06-19 11:36] sou-joshi commented on #750
Don't see a easier way of adding a section. Changes to existing sections is easy!

[2021-06-19 13:03] nitinmnsn opened #800 "Ambiguous config usage documentation"
Documentation about [how to alter the configurations](URL) directly starts with ``` profile = df.profile_report(title="Pandas Profiling Report", pool_size=1)``` and it is absolutely not clear what the ```df``` is. If it is a pandas DataFrame, then it does not have profile_report as a method defined in it.

[2021-06-24 10:59] Anurag15v commented on #233
yes it worked for me as well

[2021-06-24 14:46] amitdas2k9 opened #801 "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
Please suggest the solution
This error comes up as follows

classifier = Sequential()
classifier.add(Dense(units=50,activation='relu',input_dim=x_train1.shape[1]))
classifier.add(Dense(units=40,activation='relu'))
classifier.add(Dense(units=3,kernel_initializer='normal',activation='softmax'))
classifier.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])
classifier.fit(x

[2021-06-24 18:12] #233 closed

[2021-06-24 18:13] #801 closed

[2021-06-28 11:03] nrcjea001 opened #803 "ParseException error thrown when dataframe entries contain "$$""
**Describe the bug**

When dataframe entries contain "$$" characters, a ParseException error is thrown. It appears to come from matplotlib: [see here](https://stackoverflow.com/questions/65655833/getting-parse-error-in-plotting-expected-end-of-text-found). It would be ideal if we didn't have to treat these manually prior to running ProfileReport.

_Code:_
[code]

**Version information:**

* _Pytho

[2021-06-30 10:16] #795 closed

[2021-07-06 18:37] harrywang opened #804 "explorative configuration file is missing"
**Describe the bug**

explorative configuration file missing

**To Reproduce**

in the readme, the link to the following file is broken: https://github.com/pandas-profiling/pandas-profiling/blob/master/src/pandas_profiling/config_explorative.yaml

[2021-07-07 04:25] belisards opened #805 "Error: module 'ipywidgets.widgets' has no attribute 'GridBox'"
**Describe the bug**
When I try to generate a report I get this error:
[code]

**To Reproduce**

_Data:_

[code]

_Code:_

[code]

**Version information:**

OS: Ubuntu
Python: 3.9.5
IDE: Jupyter Notebook and Visual Studio Code

<details><summary>Click to expand <strong><em>Version information</em></strong></summary>
<p>
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==18.3.0
attrs==20.3.0
backcall==0.2.0

[2021-07-08 15:35] Gunjitbedi commented on #246
Hi, any update on this, I am getting the same error

[2021-07-09 19:42] PranavMare opened #806 "Summarize dataset: 0%| | 0/19 [00:00<?, ?it/s]"
I was just getting started with Pandas Profiling however, I encounter a problem. The script was running but the profile report is not being generated for some reason. Can anyone let me know if it's a bug or I am doing something wrong?

![image](https://user-images.githubusercontent.com/56601384/125128139-96ec8d00-e0cb-11eb-8f51-0af30ae47cde.png)

[2021-07-12 10:27] nrcjea001 opened #807 "Pandas ewm with fixed window / offset"
**Missing functionality & Proposed feature**
Pandas ewm function works similar to the pandas expanding function in that it rolls over the whole dataframe. In my case however, I need to specify a fixed window or offset over which the ewm function is applied. In other words, an ewm function with a cutoff that would work similar to the 'window' parameter in the pandas rolling function.

**Alternative

[2021-07-12 10:31] #807 closed

[2021-07-14 17:45] timothyslau opened #808 "@sateesh12 You're running pandas-profiling v1.4.1. Please update to the latest version to resolve the issue."
I ran into this same error in Google CoLab today (running pandas_profiling v1.4.1 & pandas 1.1.5

@sateesh12 You're running pandas-profiling v1.4.1. Please update to the latest version to resolve the issue.

_Originally posted by @sbrugman in https://github.com/pandas-profiling/pandas-profiling/issues/401#issuecomment-630142175_

[2021-07-16 15:57] yiannis-had opened #809 "Install fails on python 3.9.6"
**Describe the bug**

Trying to `pip install pandas-profiling` but I get [this](https://pastebin.com/BZA6tjLh)

**To Reproduce**

**Version information:**
pip 21.1.3
Python 3.9.6

**Additional context**

[2021-07-16 16:06] sbrugman commented on #809
Related to https://github.com/pydata/bottleneck/issues/376

[2021-07-21 01:40] elephantoid commented on #534
Does who solve this problem?
I tried all about this issue. but I can't use profile function.
Thank you

[2021-07-22 18:24] smart-patrol commented on #759
I am running into this error as well.

[2021-07-27 17:41] firasm opened #810 "Installation issues on macOS"
**Describe the bug**

I've had pandas_profiling working in the past, but at the moment I'm not able to instal or use it.

First, from the readme the install instructions suggest:

[code]

Then, second when bypassing the `[notebook]` and installing pandas-profiling, on macOS 11.5.1 running Python 3.8.3 inside a JupyterLab notebook  I get this error:

[code]

Full Stack Trace:

<details>

[code]
</d

[2021-07-27 17:43] firasm commented on #810
**update**: Protip: if you are getting the AttributeError issue, it went away after I restarted my Jupyter Lab session. If that's not in the instructions anywhere, let me know and I can make a PR to make that recommendation.

The other issue of no matches found on pip still persists.

[2021-07-28 06:12] amlanmishra13 opened #811 "include the error message: 'No data; `observed` has size 0.'"
**Describe the bug**
While reading an excel file and profiling it using pandas-profiling I get the below error

Summarize dataset:  86%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                  | 48/56 [00:05<00:00, 155.69it/s, Calculatees\lib\python\debugpy\ cramers correlation]C:\Users\sriam\AppData\Local\Programs\Python\Py

[2021-07-28 13:55] mands opened #812 "Can't create reports from dataframes using newer/nullable dtypes"
**Describe the bug**

When using a dataframe with newwe dtypes, such as the following, I am unable to generate any reports

[code]

The exact error varies depending on which column it has tried to convert first, e.g. I can get the following too,
[code]

**To Reproduce**

_Data:_
Included in code-snippet below, df.info as follows

[code]

_Code:_
[code]

**Version information:**

* _Python version_

[2021-07-31 06:07] tirkarthi opened #813 "Importing ABC directly from collections has been deprecated and removed in Python 3.10"
https://github.com/pandas-profiling/pandas-profiling/blob/2f686b5c6d4c24515ace17920ac365ccb0186607/src/pandas_profiling/utils/common.py#L23

[2021-08-02 20:27] jjcfrank opened #815 "TypeError: concat() got an unexpected keyword argument 'join_axes'"
**Describe the bug**

I am trying to merge two data frames using concat(join_axes) but I get an error.

**To Reproduce**

pd.concat([df1, df2], axis=1, join_axes[df.index])

_Data:_
Please share your dataframe.
If the data is confidential, for example when it contains company-sensitive information, provide us with a synthetic or open dataset that produces the same error.
You should provide the Dat

[2021-08-04 08:28] chordx1206 commented on #805
Hello, I have the same problem. have you solved this problem?

[2021-08-04 16:59] joaocym opened #816 "TypeError: cannot safely cast non-equivalent object to int64 when calculating quantiles of integer variable"
OS: Windows 10

Environment:
[code]

Code to reproduce the error:
[code]

Traceback:
[code]

[2021-08-05 19:34] BotScutters commented on #816
@joaocym
I just resolved pretty much exactly this error, so hopefully my solution can help you too.
I found that the pandas quantile function was throwing this error on a column containing an ID feature (typically something like 12345648) that Pandas had inferred to be dtype Int64. I'm guessing the issue was that this column contained a few values showing up as <NA>, so not a proper NaN and also n

[2021-08-13 15:27] belisards commented on #805
@chordx1206 unfortunately, not yet.

[2021-08-16 08:21] landry57 commented on #404
bbbb

[2021-08-18 16:39] NagaKushal8 opened #819 "UserWarning: There was an attempt to calculate the cramers correlation, but this failed."
**Describe the bug**
C:\softwares\Anaconda\lib\site-packages\pandas_profiling\model\correlations.py:101: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://git

[2021-08-24 00:47] paudelsubodh opened #820 "PicklingError: Could not pickle the task to send it to the workers."
**Describe the bug**
While running ProfileReport(df), it returns picklerror while calculating  phi correlation.

**To Reproduce**

**Version information:**

 345                 return method()
    346             return None
    347         else:

/opt/conda/lib/python3.7/site-packages/pandas_profiling/profile_report.py in _repr_html_(self)
    395     def _repr_html_(self):
    396         """Th

[2021-08-24 09:48] niladri2909 opened #821 "Type Error: No matching signature found"
**Describe the bug**

But I'm getting error message

I'm doing it in Jupyter lab 3.0.16

 345                 return method()
    346             return None
    347         else:

/opt/conda/lib/python3.9/site-packages/pandas_profiling/profile_report.py in _repr_html_(self)
    420     def _repr_html_(self) -> None:
    421         """The ipython notebook widgets user interface gets called by the

[2021-08-25 13:02] lk137095576 commented on #578
I meet the same question, I have changed the config and it show right if only use matplotlib, but pandas profiling doesn't work

[2021-08-30 09:41] KSKarthik2019 opened #822 "ERROR:: Config parameter \"vars\" does not exist"
**Describe the bug**

I use pandas profiling to dataset and variable statistics.  I convert it to json format and return the dataset statistics via Django Restful API.  Below errors occur on & off.   Please see below the error list.

- "plot.histogram.max_bins not found"
- "interactions.continuous not found"
- "Config parameter \"vars\" does not exist."
- "NotFoundError('memory_deep not found"

**

[2021-09-05 09:18] vvsenthil opened #823 "Profiling is generating the report"
Not prodcuing report while using the attached titanic dataset.

Code :
df=pd.read_csv('train.csv')
df.head()

Id | MSSubClass | MSZoning | LotFrontage | LotArea | Street | Alley | LotShape | LandContour | Utilities | ... | PoolArea | PoolQC | Fence | MiscFeature | MiscVal | MoSold | YrSold | SaleType | SaleCondition | SalePrice
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |

[2021-09-05 14:10] abhicantdraw commented on #823
Your data is suspect. The error message is already providing you a way out.
If you used `df.profile_report(correlations={"cramers": {"calculate": False}})` to exclude the computation of Cramer's correlation, you'd get a report  like so -

![image](https://user-images.githubusercontent.com/81109309/132129926-46d83a8b-82c4-4acd-9fa6-71e764bb672d.png)

Alternatively, if you Really want the Cramer's c

[2021-09-05 16:58] cdeil opened #824 "High correlation warning printed multiple times"
I get the same warning "High correlation" with the same other column four times in the report.

Looks like a bug where the warning is accidentally generated multiple times or not de-duplicated properly.

Is it easy to spot the issue or reproduce? Or should I try to extract a standalone test case?

This is with pandas 1.3.0 and pandas-profiling 3.0.0.

<img width="572" alt="Screenshot 2021-09-05 at

[2021-09-05 19:46] cdeil opened #825 "Phi K correlation variable order"
For me all correlation plots show variables in the (domain-specific sensible) order of the columns in my data frame.

Only Phi K shows them in some other order.

Is this a bug or a feature?

Is there a setting to get the "good" order?

This is with pandas 1.3 and pandas-profiling 3.0.0

<img width="879" alt="Screenshot 2021-09-05 at 21 43 55" src="https://user-images.githubusercontent.com/852409/1

[2021-09-09 21:34] davidcereal commented on #806
Same issue.

[2021-09-13 00:27] Bibaceta commented on #165
sbrugman you closed #134 without replying something very important: where to add  if __name__=="__main__":

[2021-09-14 11:07] DanilZherebtsov opened #827 "adding config_file = 'config_default.yaml' (without changing the config) results in less warnings"
**Describe the bug**

When adding an argument to the ProfileReport without changing the contents of config_default.yaml, the resulting report produces much less warnings.

P.S. I want to change the config_default.yaml to exclude irrelevant information, but I had noticed that even without changing the config and just adding a path to original config as an argument changes the resulting report.

Whe

[2021-09-14 15:18] Atarpara opened #828 "DataFrame Value Can't Changed Using df.at"
**Describe the bug**
DataFrame Value Can't Changed Using df.at

**To Reproduce**
DataFrame :
[code]
Code:
[code]
[code]
Output:
[code]

**Version information:**

**Additional context**

Can't Copy If Dictionary Keys Value are List Object.

[2021-09-14 15:21] #828 closed

[2021-09-15 20:10] sbrugman commented on #823
Thanks  @abhicantdraw!

[2021-09-15 20:10] #823 closed

[2021-09-15 20:13] sbrugman commented on #827
Any contribution on reducing the warnings is welcome. I'd suggest sharing the relevant warnings here.

[2021-09-15 20:16] sbrugman commented on #825
The correlation variables should have the same order, so this is a bug.
Anyone who is interested, feel free to dig in to see where the issue is.

[Starting point](https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/model/pandas/correlations_pandas.py#L116)

[2021-09-15 20:19] sbrugman commented on #824
The alert is probably generated for each active correlation. This in itself is not wrong, however it should be clear. This can be improved by either merging the alerts or clarifying with respect to which coefficient there is a high correlation.

Feel free to contribute a PR.

[2021-09-15 20:21] sbrugman commented on #822
More information is needed to be able to reproduce this issue. Are you able to pinpoint what is causing this? Which version of PP and pydantic is installed?

[2021-09-15 20:24] sbrugman commented on #810
Thanks for reporting!

The other issue will probably be solved by https://github.com/pandas-profiling/pandas-profiling/commit/aa1a563ab55743af4ad814d9ef4554fa0a557a72

[2021-09-15 20:24] #810 closed

[2021-09-15 20:27] sbrugman commented on #805
What happens if you upgrade ipywidgets? `pip install -U ipywidgets` (and restart the environment)

[2021-09-15 20:27] sbrugman commented on #815
Sorry, unrelated to this package. Try stackoverflow.

[2021-09-15 20:27] #815 closed

[2021-09-15 20:29] #816 closed

[2021-09-15 20:35] abhicantdraw commented on #825
@sbrugman Can I give this a shot? ✌🏻

[2021-09-15 20:42] sbrugman commented on #825
@abhicantdraw Of course, many thanks!

[2021-09-15 21:10] sbrugman commented on #804
Fixed, thanks!

[2021-09-15 21:10] #804 closed

[2021-09-16 05:55] cdeil commented on #824
What do you mean by "active correlation"?

There are multiple alerts under "alite" saying multiple times `HIGH_CORRELATION` with the same column "belite".
That should be a bug, no?

I tried to have a quick look at the code to see if I can spot how this can happen:
https://github.com/pandas-profiling/pandas-profiling/blob/113277ede126e52717c1ee54014ed8f91fce5d02/src/pandas_profiling/model/alerts.py

[2021-09-16 05:57] cdeil commented on #825
The issue is that `selcols` is a set which is unordered?
And the solution would be to instead use a `list` or `dict` to preserve order?

[2021-09-16 05:58] abhicantdraw commented on #825
@cdeil Yup exactly, that's what this PR's doing.

[2021-09-16 08:31] #825 closed

[2021-09-17 16:21] DanilZherebtsov commented on #827
Oh, sorry, I mean Warnings that were created by the Profile Report. Please check the screenshot below

[2021-09-17 16:21] DanilZherebtsov commented on #827
<img width="1797" alt="image" src="https://user-images.githubusercontent.com/35999411/133821479-3feb1cce-fe09-4423-9d68-e589d42b2d97.png">

[2021-09-21 08:43] enesMesut commented on #743
@dpnem Would you share harware specs of computer that you run profiling on ?

[2021-09-21 13:45] enesMesut opened #831 "Correlation options in "Advanced Usage" not works as expected"
Trying to run profiling with:

profile = ProfileReport(
            postgres_db_table, title=db_parameter_dict["tableName"], html={"style": {"full_width": True}},
            sort=None, minimal=None, interactions={'continuous': False}, orange_mode=True,

            correlations={
                "pearson": {"calculate": True,"warn_high_correlations":True,"threshold":0.9},
                "spearma

[2021-09-26 20:04] astrojuanlu commented on #809
I fear that bottleneck has very little maintenance lately. I opened https://github.com/pydata/bottleneck/issues/388 asking for a new release.

This makes pandas-profiling very annoying to install on Python 3.9, and the same will happen on Python 3.10.

[2021-09-27 07:59] Baukebrenninkmeijer commented on #820
@paudelsubodh could you describe the data somewhat? As this doesn't seem to occur with other usage.
Additionally, can you list the versions of pandas profiling, joblib and pandas?

[2021-09-27 20:49] sbrugman commented on #809
I'll have a look

[2021-09-27 21:27] sbrugman commented on #809
Removed the bottleneck dependency from visions. Should be resolved on next release

[2021-09-27 22:45] #741 closed

[2021-09-27 23:17] #822 closed

[2021-09-27 23:18] #510 closed

[2021-09-27 23:18] #528 closed

[2021-09-27 23:18] #621 closed

[2021-09-27 23:19] #610 closed

[2021-09-27 23:19] #606 closed

[2021-09-27 23:19] #677 closed

[2021-09-27 23:21] #553 closed

[2021-09-28 20:08] kovar-ursa opened #835 "Error if index column's name is identical to another column's name."
**Describe the bug**

If you use set_index with drop=False then your dataframe will have an index and a column with the same name. This produces the following error when opening the profile widget. Dropping the column with the same name as the index clears the error.

[code]

**To Reproduce**

Create a dataframe with a column named 'TimeUTC' and then use:

`df.set_index('TimeUTC',inplace=True, dro

[2021-09-28 20:16] kovar-ursa opened #836 "TraitError: n_rows and n_columns must be positive integer"
**Describe the bug**

When running `profile.to_widgets()` on this dataframe:

Latitude | Longitude | Speed | AGL | HomeLongitude | HomeLatitude | PilotLongitude | PilotLatitude
-- | -- | -- | -- | -- | -- | -- | --
42492.000000 | 42492.000000 | 42492.000000 | 42492.000000 | 42492.000000 | 42492.000000 | 42492.000000 | 42492.000000
43.051334 | -70.787805 | 2.786957 | 59.270352 | -70.600058 | 42.936

[2021-09-28 21:04] raybellwaves opened #837 "importing ProfileReport seems to interfere with pandas plotting"
**Describe the bug**

Running
[code]
in the same notebook cells seems to interfere with pandas plotting

**To Reproduce**

Run this as a cell in jupyter lab (may be same as jupyter notebook)

[code]

<img width="507" alt="Screen Shot 2021-09-28 at 5 02 21 PM" src="https://user-images.githubusercontent.com/17162724/135165192-00755b6e-b275-436e-92f1-0958059b1903.png">

<img width="503" alt="Screen S

[2021-09-30 14:05] SebastianLarssonDTU commented on #836
I got the exact same error. My data is also sensitive. Python version: 3.7.11

[2021-09-30 18:17] srinivasramakrishnan commented on #836
I was seeing the same error when I was using profile.to_widgets()
I tried profile.to_notebook_iframe() and it worked. I was using a notebook though

[2021-10-02 17:07] sbrugman commented on #837
Good catch. Might have to do with the setting of the backend in 3.1.0.

Two ways of checking this: check if the same happens with 3.0.0 or set the backend of matplotlib after importing PP.

[2021-10-02 17:12] sbrugman commented on #836
Please provide a minimal reproducible example and the stack trace to find the root cause.

[2021-10-02 17:16] sbrugman commented on #835
A PR with a solution is very much welcome (e.g. add a suffix to the added column, or not adding the column in this case).

[2021-10-02 17:18] sbrugman commented on #808
Upgrading solves this issue. Make sure not to mix conda/pip installation, or start in a new virtual environment.

[2021-10-02 17:18] #808 closed

[2021-10-02 17:19] sbrugman commented on #797
Spark support is upcoming.

[2021-10-02 17:19] #797 closed

[2021-10-02 19:57] kovar-ursa commented on #835
Unfortunately, after encountering two fatal errors when trying to use the package and thus getting no useful information out of it, I am disinclined to invest more time in reproducing either error.

[2021-10-02 20:02] sbrugman commented on #835
Sure. The issue is open for anyone from the community that's interested in taking it on.

[2021-10-03 08:25] sbrugman commented on #800
When importing this package, it adds the method on the pandas dataframe.

This could be clearer in the docs. A PR would be much appreciated.

[2021-10-03 08:46] abhicantdraw commented on #800
@sbrugman I'd be happy to take this up😊

[2021-10-03 21:00] JPvRiel opened #838 "Unable to handle Multi-Index / multi-level columns?"
**Describe the bug**

Using ProfileReport on dataframes with multi-index columns cause a "TypeError: Setting a MultiIndex dtype to anything other than object is not supported." error due to the code trying to cast the multiindex as a string.

The code revealed in the exception trace causing this is `df.columns = df.columns.astype("str")`:

[code]

Perhaps it could be fixed with something like, pos

[2021-10-03 21:30] sbrugman commented on #838
Thanks for the extensive bug report! Since you've already written a fix and test cases, I'd suggest sending in a pull request :)

(You might also be interested in [Hacktoberfest](https://hacktoberfest.digitalocean.com/), I've added a tag)

[2021-10-04 10:46] chanedwin opened #841 "Inject Spark configurations"
Context:

pandas-profiling relies on default configurations to do computations.

Problem:

As we integrate a spark backend, we will require different default configurations based on whether the backend is spark or pandas. Thus, get_config (in profile_report.py - see architecture diagram) needs to properly detect whether the underlying dataframe is spark or pandas, and then fetch the appropriate co

[2021-10-04 14:29] Ierezell opened #842 "Dealing with list of values (words)"
**Missing functionality**
When dealing with NLP tasks I always find myself doing the same EDA on words.

Sentence length, Word length, lemmas, character length, etc...

I don't mind pandas profiling not being able to do NLP tasks but I'm frustrated not being able to get insights on lists of words.

**Proposed feature**
When a type list of strings is found it could be nice to analyze automatically

[2021-10-04 15:24] chanedwin opened #843 "Summarize Categorical Spark Type"
Branch : spark-branch

Categorical Types are currently not being summarized in spark

Feature:

Categorical Types are currently not being summarized in spark. We want to generate summaries for them properly, including generating simple statistics (similar to pandas)

[2021-10-04 15:25] chanedwin opened #844 "Summarize DateTime Spark Type"
Branch : spark-branch

Spark TimestampType is currently not being summarized in spark

Feature:

TimestampType is currently not being summarized in spark. We want to generate summaries for them properly, including generating simple statistics (similar to pandas)

[2021-10-04 15:35] sbrugman commented on #842
@Ierezell this should already be possible (word counts, length distributions and even character level statistics are all included)! `explorative=True` enables these features.

The data should be in string format (you mention list of strings). Happy to take a PR to support that format if it's a common corpus format.

[2021-10-04 15:42] chanedwin opened #845 "Write unit tests for 4 key summarisation modules"
Branch : spark-branch

Context :

4 key summarisation modules have been completed for spark - describe_counts_spark.py, describe_unsupported_spark.py, describe_generic_spark.py and describe_numeric_spark.py (see [here](https://github.com/pandas-profiling/pandas-profiling/tree/spark-branch/src/pandas_profiling/model/spark)).

Feature :

These features are testing as working, but are not currently t

[2021-10-04 15:50] chanedwin opened #846 "QA/scale testing for spark-profiling"
Branch : spark-branch

Context :

We need to test spark branch on production grade clusters with high amounts of data to understand the performance metrics and issues.

Problem :

Without such metrics, we would not be able to figure out the largest optimisation pitfalls of the code.

Solution :

Need help to test spark-profiling on your own datasets (if you have access to a cluster) to see how its

[2021-10-04 15:58] chanedwin opened #847 "Correlations"
Branch : spark-branch

Feature :

Three types of correlations - Cramer's V, Kendall's correlations and Phi-K are implemented in pandas-profiling, but not in spark-profiling. We would need to implement them in spark in an optimised manner.

To be decomposed into future issues (for each correlation) in the future

[2021-10-04 15:59] chanedwin opened #848 "Missing Diagrams"
Branch : spark-branch

Feature :

Three types of missing diagram plots - heatmaps, dendrograms and matrixes are implemented in pandas-profiling, but not in spark-profiling. We would need to implement them in spark in an optimised manner.

To be decomposed into future issues (for each missing diagram type) in the future

[2021-10-04 16:00] chanedwin opened #849 "Branch : spark-branch"
Feature :

Scatterplots are currently being drawn in pandas now, and this is not being done in spark. We should see if its possible to do scatterplots in spark-profiling in an optimised and fast manner.

[2021-10-04 16:07] Ierezell commented on #842
Hi @sbrugman,

Indeed it works with raw text :smiley:

I found a hackish way to explore NER/POS/lemmas by just concatenating them with spaces (as I guess you do the reverse operation to get metrics).

However I cannot get character based metrics even with
[code]

Thanks for your help,
Have a great day

[2021-10-04 16:19] sbrugman commented on #842
That's a bug, worked neatly before. Will look into it

[2021-10-04 16:56] sbrugman commented on #842
@Ierezell Fix is upcoming in https://github.com/pandas-profiling/pandas-profiling/pull/850

[2021-10-04 17:18] Ierezell commented on #842
That's perfect!

Since pandas-profiling is able to deal with sequences internally could it be nice to be able to have a list of strings as a value instead of concatenating them?

Thanks a lot for the fix! However, I modified the same file as you and I'm still not able to get the character infos :
![image](https://user-images.githubusercontent.com/30974685/135895389-c359f877-d14d-463a-ae65-078d6203

[2021-10-04 17:30] sbrugman commented on #842
Which version of pandas/pandas-profiling are you on?

[2021-10-04 17:35] Ierezell commented on #842
I am on 3.1.0 installed with poetry.

[2021-10-04 19:19] sbrugman commented on #842
And pandas?

[2021-10-04 19:23] Ierezell commented on #842
Also latest, 1.3.3

[2021-10-04 19:48] JPvRiel commented on #838
Sure, I was tempted, but I'm very unfamiliar with this pandas-profiling code base and only a novice pandas user, which is likely why my suggested fix is actually a poor idea now that I've properly considered it. Setting `df.columns = ['.'.join(c) for c in df.columns]` modify the original dataframe passed to `ProfileReport()`, as dataframes are passed to functions by reference in a mutable state.

[2021-10-04 19:55] sbrugman commented on #838
@JPvRiel Your isinstance check could be inn the right direction.

Here the index is added to the columns in case it's not a single column increasing index:
https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/model/pandas/dataframe_pandas.py#L33

Indeed the observation that no side-effects is better in many cases, the other side of the coin is that keeping a copy

[2021-10-04 22:38] sbrugman commented on #842
The fix seems to work. I'm creating a release (v3.1.1) and will rerun the examples.
If upgrading doesn't resolve the issue then I'll look into it again.

[2021-10-05 02:20] chanedwin commented on #844
in progress : @laurabarrigon

[2021-10-05 02:51] srinivasramakrishnan commented on #836
You can reproduce this with this public dataset - https://liangfgithub.github.io/F21/Ames_data.csv
which is based on https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

when you run the code below,  you see the following error:

[code]

[code]

When I replace `profile.to_widgets()` with `profile.to_notebook_iframe()`, it works.

[2021-10-06 05:24] lucaseo commented on #836
This seems to be a bug in v3.1.0 release,
I downgraded to v3.0.0 and it works as it supposed to.

[2021-10-06 14:11] chanedwin opened #852 "Ensure that "Warning: shouldn't be the case" print errors are fixed before release"
Branch : spark-branch

Context :

Certain values are not computed, but expected by the formatter (see [frequency_table_utils.py](https://github.com/pandas-profiling/pandas-profiling/blob/4366508a6d197e88a90f35bb7749447cc44a2bd9/src/pandas_profiling/report/presentation/frequency_table_utils.py#L27)).

Problem :

When variables are expected by the formatter but not present, "Warning: shouldn't be th

[2021-10-07 19:17] jijasmx opened #853 "TraitError: n_rows and n_columns must be positive integer"
**Missing functionality**
 1 profile.to_widgets()

~\anaconda3\lib\site-packages\pandas_profiling\profile_report.py in to_widgets(self)
    412         from IPython.core.display import display
    413
--> 414         display(self.widgets)
    415
    416     def _repr_html_(self) -> None:

~\anaconda3\lib\site-packages\pandas_profiling\profile_report.py in widgets(self)
    195     def widgets(sel

[2021-10-07 22:39] tripathishivam1444 opened #854 "the pd.concat join_axes kwarg was deprecated around pandas 0.25 and removed in pandas 1.0.0"
the pd.concat join_axes kwarg was deprecated around pandas 0.25 and removed in pandas 1.0.0

https://pandas.pydata.org/pandas-docs/version/1.0.0/whatsnew/v1.0.0.html#other-api-changes

also see https://github.com/pandas-dev/pandas/issues/21951 and https://github.com/pandas-dev/pandas/pull/22318

_Originally posted by @janhurst in https://github.com/pandas-profiling/pandas-profiling/issues/438#issu

[2021-10-07 22:40] tripathishivam1444 opened #855 "> Could you provide the minimal information to reproduce this error?"
Yeah, I just a few codes and I just want to check these package with jupyter notebook

----- same problem i am facing
     pls anyone tell us

![image](https://user-images.githubusercontent.com/43030045/79631620-20453600-818d-11ea-8a0e-2e238587d346.png)

![image](https://user-images.githubusercontent.com/43030045/79631641-47036c80-818d-11ea-8685-39d7ad181fb5.png)

![image](https://user-images.gith

[2021-10-08 01:45] cosmicBboy opened #856 "open to contributions and a collaboration with pandera?"
Hi! First of all I'm a big fan of the library 🎉, I've been using it myself from its early days to now.

**Missing functionality**

[pandera](https://pandera.readthedocs.io/en/stable/) is a data validation library that makes it easy to define dataframe types and do [run-time validation via type-annotations](https://pandera.readthedocs.io/en/stable/schema_models.html#basic-usage). It currently does

[2021-10-08 07:18] sbrugman commented on #855
What versions are you running?

[2021-10-08 17:56] #855 closed

[2021-10-11 01:05] raybellwaves commented on #837
I can confirm the same does not happen on 3.0.0. An easy place to verify is a binder link e.g.
https://mybinder.org/v2/gh/scikit-learn/scikit-learn/1.0.X?urlpath=lab/tree/notebooks/auto_examples/release_highlights/plot_release_highlights_1_0_0.ipynb

`!conda install -c conda-forge pandas-profiling --y`

[code]

<img width="1035" alt="Screen Shot 2021-10-10 at 9 04 40 PM" src="https://user-images.g

[2021-10-11 01:39] raybellwaves opened #859 "use_index arg"
Originally asked at SO: https://stackoverflow.com/questions/64664210/dont-use-index-in-pandas-profiling/69519138#69519138

I don't have any interest is summarizing the index.

I know I can reset beforehand i.e. `df = df.reset_index(drop=True)` but would we nice to do `ProfileReport(df, use_index=False)`

[2021-10-11 13:23] amerzon opened #860 "jquery version is vulernerable to xss"
**Describe the bug**

**To Reproduce**

**Version information:**

**Additional context**

[2021-10-11 15:33] DanilZherebtsov opened #861 "report.report.content['items'] not available"
**Describe the bug**

Trying to enforce pagination as per the posted tutorial: https://pandas-profiling.github.io/pandas-profiling/examples/master/tutorials/modify_report_structure.ipynb

It appears that the report structure had been changed. When I try to extract ['items'] from report.report.content, I get an error: KeyError: 'items'

**To Reproduce**

_Data:_
[code]
_Code:_ Preferably, use this

[2021-10-12 04:48] chanedwin commented on #845
Hi @jyotidhiman0610 ! Yes definitely, this is still open. Not sure if there are enough materials for you to go on to complete this issue - if you'd like, we can have a chat on slack, or have a call on this as well. Realised all the slack links on the wiki are broken - just updated them. Do join us on slack [here](https://join.slack.com/t/pandas-profiling/shared_invite/zt-oe5ol4yc-YtbOxNBGUCb~v73Ta

[2021-10-12 10:44] sbrugman commented on #856
Hi @cosmicBboy, sounds interesting. Let's have a chat on the [Slack channel](https://join.slack.com/t/pandas-profiling/shared_invite/zt-oe5ol4yc-YtbOxNBGUCb~v73TamRLuA).

[2021-10-14 09:45] abhicantdraw commented on #800
Just FYI, I still intend to work on this. Need a few more days!

[2021-10-14 17:41] sbrugman commented on #861
These do not have to contradict: custom modification of the report structure via het Report object is still an advanced topic, while irresponsive huge reports are an issue. Let's tackle the latter without needing custom user code. Any sensible default will do (splitting, filtering etc.)

[2021-10-20 19:00] gustavorps opened #863 "Feature: Stop words"
**Missing functionality**
Able to pass a stop words list to improve Words tab details

**Proposed feature**
[code]

[`config.yaml`](https://github.com/pandas-profiling/pandas-profiling/blob/master/src/pandas_profiling/config_default.yaml)
[code]

**Additional context**
![image](https://user-images.githubusercontent.com/516827/138155030-3dbdb283-2c0a-4790-8d4d-56b214ad9b3f.png)

[2021-10-21 20:37] patrickdemers6 opened #864 "Extreme Values - Improper Count in Sub-Tab Headers"
On the Extreme Values tab of a generated HTML report, there are two tabs. They indicate 5 min and max values should be shown; however, in reality, there are 10 values shown under each tab.

I would expect the number displayed in the tab heading to match the actual number of records shown.

Minimal reproduction:
![image](https://user-images.githubusercontent.com/12687723/138352817-3dafb7e2-2b7e-433

[2021-10-21 21:01] sbrugman commented on #864
The number of observations is configurable, so replacing the hard-coded value with the configured value should resolve the  issue. A PR is very much welcome.

[2021-10-23 10:35] chanedwin opened #865 "Increase supported categorical descriptions"

[2021-10-23 10:42] chanedwin opened #866 "Feature : Characterisation of spark categorical values"
Overview : [Spark Development Strategy](https://github.com/pandas-profiling/pandas-profiling/wiki/Spark-Development-Plan)

Branch : spark-branch

Feature :

Characterizing categorical features better - there are some categorical features that pandas profiling supports that spark profiling does not currently have. This includes

- [ ] [ length summary](https://github.com/pandas-profiling/pandas-pro

[2021-10-23 10:42] #865 closed, assigned to nobody

[2021-10-23 13:11] cyonghui81 opened #867 "Integration Issue with Great Expectations"
**Describe the bug**

Using pandas-profiling version 2.9.0 and great expectations version 0.13.37 in a Python 3.8.8 environment
Install both using CONDA

Running the sample code
suite = profile.to_expectation_suite(suite_name="titanic_expectations")  results in this error

---------------------------------------------------------------------------
AttributeError                            Tracebac

[2021-10-23 17:12] #867 closed, assigned to nobody

[2021-10-24 11:40] #864 closed, assigned to nobody

[2021-10-24 15:39] chanedwin opened #869 "Feature : Native spark histograms"
Overview : [Spark Development Strategy](https://github.com/pandas-profiling/pandas-profiling/wiki/Spark-Development-Plan)

Branch : spark-branch

Feature :

Profiling pandas dataframes gets you nice [histograms](https://github.com/pandas-profiling/pandas-profiling/blob/abaa9bc44545c874e7a6512f30e5894f6eb127be/src/pandas_profiling/model/summary_algorithms.py#L29) (drawn natively in pandas). We need

[2021-10-29 18:07] AmandaSouzaMachado commented on #595
I tried to reproduce the issue and seems to be solved.

 Chrome:
<img width="959" alt="chrome" src="https://user-images.githubusercontent.com/29866850/139481854-a7fe27f9-d845-47fa-9f0f-d4498e02c0fc.png">
Firefox:
<img width="957" alt="firefox" src="https://user-images.githubusercontent.com/29866850/139481886-23024c15-babf-4c81-8ebd-506e52cfbe93.png">

The issue could be closed.

[2021-10-30 11:21] #595 closed

[2021-11-01 14:30] jordanwilson230 commented on #860
@amerzon are you still working on a OR for this?

[2021-11-01 16:34] jmehul99 opened #872 "Wrong image appearing in the pandas profiling report"
**Describe the bug**
A wrong image appears inside the pandas profiling report. It shows another image that is generated outside of pandas profiling library using matplot lib in the web application.

<img width="960" alt="unknown" src="https://user-images.githubusercontent.com/68823953/139686684-74bf1816-ee73-42be-8aa1-9632b0f9b4c0.png">

**To Reproduce**

**Version information:**

**Additional con

[2021-11-01 18:21] sbrugman commented on #872
Hi @jmehul99 could you provide more information on how to reproduce this?

[2021-11-02 11:29] ciberger opened #873 "Embeddable HTML output"
**Missing functionality**
Over the last few days I've tried with no much success to adjust the current HTML so it can be embed on a Confluence page without affecting the whole page styles. Unfortunately, bootstrap overwrites multiple styles making the page to have an aesthetic look.

**Proposed feature**
Make an HTML export that's easy to embed in any site without affect the style of other compone

[2021-11-03 20:51] sbrugman commented on #873
The reports are not intended to be embedded directly. You can try another route using [iframes](https://confluence.atlassian.com/confkb/how-to-put-an-iframe-into-confluence-598837531.html) which should work well (this is the approach we also take in jupyter notebooks).

Related to this feature request: #693

[2021-11-03 20:51] #873 closed

[2021-11-04 10:10] chanedwin commented on #852
hi @jyotidhiman0610! So sorry thought I replied on this but I did not. Please feel free to take this on! If you would like to discuss more on this, please feel free to join our [slack](https://join.slack.com/t/pandas-profiling/shared_invite/zt-oe5ol4yc-YtbOxNBGUCb~v73TamRLuA) and we can discuss this more there.

[2021-11-04 12:30] saldroubi commented on #456
I am getting this error and I tried both suggestions but it is still happening randomly.
Is there another solution or workaround?

[2021-11-05 09:52] kaharlichenko commented on #853
I'm getting the same stacktrace. Is there anything we can do to help pinpoint the problem?

[2021-11-07 21:07] #872 closed

[2021-11-09 07:52] sbrugman commented on #853
@kaharlichenko thanks for helping to pinpoint the issue. In the original report the python/conda/pip versions are lacking, making it nearly impossible to debug. Especially the ipywidgets version. Does updating help?

[2021-11-09 09:00] chanedwin opened #876 "Spark CI is not working - issues with latest run of spark tests"
Branch : spark-branch

Context :

Spark tests should run successfully on github

Problem :

Tests on spark-branch are currently failing with https://github.com/pandas-profiling/pandas-profiling/runs/4126235396?check_suite_focus=true

[2021-11-10 13:52] kaharlichenko commented on #853
Here's the minimal piece of code that reproduces the bug for me:

[code]

I'm running Python 3.8.10. The package versions are below.

<details>
  <summary>Package Versions</summary>

|        package        |  version  |
|-----------------------|-----------|
| argon2-cffi           |    21.1.0 |
| attrs                 |    21.2.0 |
| backcall              |     0.2.0 |
| bleach                |

[2021-11-10 19:29] rluthi commented on #863
Hi, I'm happy take this one. This will be my first contribution

[2021-11-11 14:31] araker commented on #543
Hi, how is this progressing? I see in the 'spark development plan' that the plan is to release early December 2021, is that still the expectation?

[2021-11-11 14:41] sbrugman commented on #543
The progress can be tracked on the github project. An alpha version is planned December 2021. In case anyone is interested in contributing, please reach out to @chanedwin (preferably via our Slack channel)

[2021-11-11 17:04] chanedwin commented on #543
hello! yup, echoing what Simon has said, hoping to get an alpha release down sometime in December (or latest early Jan, if things get messier than expected). Please feel free to join the slack channel if you would like to get involved - always happy to discuss more there!

[2021-11-12 01:24] chanedwin opened #878 "Optimise Spearman Correlations according to Spark Docs"
Overview : [Spark Development Strategy](https://github.com/pandas-profiling/pandas-profiling/wiki/Spark-Development-Plan)

Branch : spark-branch

Context :

Spearman correlations are a key part of pandas-profiling, and help elucidate rank based correlation statistics.

Problem :

Spark docs mentions that spearman correlations can be optimised through good use of caching due to requirements to do r

[2021-11-14 18:43] WillTirone opened #883 "n_rows and n_columns must be positive integer. (Same as #853 and #836)"
**Describe the bug**

This is similar to #853 and #836, but posting anyway just as another example with version info and a screenshot in Jupyter Notebook. Feel free to mark as a duplicate if desired.

When attempting the basic profile.to_widgets() example in the README, I encounter the attached error that n-rows and n-columns must be positive integers.
<img width="832" alt="pandas_error" src="http

[2021-11-14 22:23] sbrugman commented on #883
This is indeed a bug, a PR is very much welcome 👍

[2021-11-14 22:57] WillTirone commented on #883
@sbrugman I will give it my best shot and let you know what I find!

[2021-11-15 00:34] vishalsrao commented on #476
The issue occurs while parallelizing phik computation.

As a workaround, parallelization can be disabled by overwriting phik.phik_matrix method with a similar method where the default value of njobs is 1 instead of -1.

[code]

[2021-11-15 15:56] ciberger opened #884 "Bins equals 0 throughs error on histograms"
**Describe the bug**
Setting plot.histogram.bins to zero causes an error.

https://github.com/pandas-profiling/pandas-profiling/blob/939969061459a7df5e0ed425cd471827924c4eed/src/pandas_profiling/model/summary_algorithms.py#L29-L45

**To Reproduce**

**Version information:**

**Additional context**

[2021-11-15 20:04] WillTirone commented on #883
It seems like the problem is related to numpy arrays returning a shape value, and constructing DataFrames with other data sources (from a list for example) does not result in the same shape attribute, even though the df itself has a shape. Just posting as an update.

![image](https://user-images.githubusercontent.com/42592742/141845928-84cd1599-1ab3-4791-921f-f7f2d1a5b271.png)

[2021-11-17 18:26] WillTirone commented on #883
@sbrugman this seems to be fixed in the current pandas-profiling version on GitHub (3.1.1). I've been playing around with it, but I just cloned the code and was trying to recreate examples when I noticed it works. Here's the example from #853 that now works but fails in 3.1.0.
![image](https://user-images.githubusercontent.com/42592742/142260029-12fe0ac4-eaf6-4f35-bf3b-fce1ae4151e2.png)

Let me kn

[2021-11-17 18:35] marcel-goldschen-ohm commented on #50
Same problem years later. Any solutions?

[2021-11-18 06:57] sbrugman commented on #50
Hi @marcel-goldschen-ohm, py.36 is supported and  should work out of the box. Could you try reinstalling and see if the issue persists? Occasionally in a notebook, it requires installing it in the same  environment like this:
[code]
(kernel restart needed)

[2021-11-18 13:51] marcel-goldschen-ohm commented on #50
`pip install pandas-profiling` worked. For whatever reason, the conda version is messed up.

[2021-11-24 20:37] Ierezell commented on #853
I also have the same problem and I can reproduce with the dummy example above.

Installed with poetry :
[code]

Thanks in advance for any help

[2021-11-24 20:40] jodom961 opened #888 "importing ProfileReport seems to interfere with matplotlib plotting in jupyter notebook #837"
**Describe the bug**

if you import matplotlib in jupyter notebook and run

[code]
You get a plot.

if you import pandas profiling > 3.0.0 ( for example 3.1.0)
it breaks matplot lib.

[code]

**To Reproduce**

We would need to reproduce your scenario before being able to resolve it.

**Version information:**

Version information is essential in reproducing and resolving bugs. Please report:

[code

[2021-11-26 13:39] sbrugman commented on #888
Might come from setting the backend, could you check?
https://github.com/pandas-profiling/pandas-profiling/blob/develop/src/pandas_profiling/config.py#L8

[2021-11-26 14:38] sbrugman commented on #853
Could you try if the develop branch solves this issue (`pip install git+https://github.com/pandas-profiling/pandas-profiling.git@develop` - which is v3.1.1)?

[2021-11-26 15:28] davidtorresMoovAI opened #889 "extra condition to "text analysis" as minimal when explorative=True"
**Missing functionality**
Whenever the Dataframe has a column with a lot of text and I want to do an explorative=True, the profiler just freeze and it does not generate the report.

**Proposed feature**
Turn off deep text analysis when explorative=True, link to have minimal for text and detailed for other variables types.

**Alternatives considered**
I have tried with spark-profiling but it doesn'

[2021-11-26 16:04] jodom961 commented on #888
yeah can confirm that setting that backend to `agg` breaks plotting in jupyter notebooks...
the default appears to be
```mpl.get_backend()``` :  `'module://matplotlib_inline.backend_inline'`
maybe also related to #837 ?

Given that so many use jupyter for datascience/pandas stuff, maybe it could resolve the environment to see if ipython/jupyter is being used and if so set a different backend?

[2021-11-26 16:11] kaharlichenko commented on #853
I can confirm that I can't reproduce the bug with the version installed from the `develop` branch. I tried both the minimal code above and the real profiling project that I have. Thank you for the fix.

[2021-11-28 00:25] gwen47 commented on #812
For me I can generate the report, but at least the pandas nullable integer are consider in the report as Categorical because they are object. Real type `'Condition_importance': dtype(pd.UInt8Dtype)`

![image](https://user-images.githubusercontent.com/34361978/143724129-ac894278-ba18-4045-b736-cc7e1a696f3f.png)
![image](https://user-images.githubusercontent.com/34361978/143724250-d906db16-d5ed-4266

[2021-11-30 02:45] AdamXCA commented on #853
I have the same problem as this, and I fixed it by the steps below.
1) uninstall using Anaconda Propt(anaconda3)
2) Update Anaconda
3) Update Notebook
4) !pip install https://github.com/pandas-profiling/pandas-profiling/archive/refs/tags/v3.0.0.zip
I think it is not compatible with the old ver. of Anaconda and notebook.

[2021-11-30 02:45] AdamXCA commented on #836
I have the same problem as this, and I fixed it by the steps below.

1) uninstall using Anaconda Propt(anaconda3)
2) Update Anaconda
3) Update Notebook
4) !pip install https://github.com/pandas-profiling/pandas-profiling/archive/refs/tags/v3.0.0.zip

I think it is not compatible with the old ver. of Anaconda and notebook.

[2021-11-30 19:26] AdamXCA commented on #883
I have the same problem as this, and I fixed it by the steps below.

uninstall pandas profiling
update Anaconda
update Notebook
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/refs/tags/v3.0.0.zip

let me know if it works for you

[2021-12-03 08:11] cloudy-sfu commented on #578
Is there an update? I cannot implement this solution if using remote (cloud) resources like Google Colab.

[2021-12-04 20:58] sbrugman commented on #889
Hi David, this exporative mode includes text analysis. This can be turned off easily using the [variable summary settings](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/advanced_usage.html#variable-summary-settings). The most relevant options to set are `vars.cat.characters=False` and `vars.cat.words=False`. Hope this help.

[2021-12-04 20:58] #889 closed

[2021-12-04 21:00] sbrugman commented on #888
@jodom961 Yes, we should do this. Would you be interested in contributing a PR?

[2021-12-04 21:02] jodom961 commented on #888
For sure.. will do shortly.

[2021-12-06 13:17] sbrugman commented on #812
@gwen47 Great catch, this should be solved in the type system. Please open another issue (the two are related but independent)

[2021-12-09 18:39] dclong opened #894 "[Question] Does multiprocessing support only work when `minimal=True`?"
In my case,
`pool_size=8` doesn't leverage multiprocessing unless I set `minimal=True`.
Does multiprocessing support only work when `minimal=True`?

[2021-12-09 19:16] flacle commented on #251
In my case, it also worked by setting `duplicates=None` for categorical data as explained here: https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/advanced_usage.html#configuration-shorthands

[2021-12-10 05:30] Japkeerat commented on #820
@Baukebrenninkmeijer I had this same error. I am adding the information here.

Data: [Telecom Churn Prediction](https://www.kaggle.com/japkeerat/telecom)

Pandas Profiling Version: 3.0.0
Joblib version: 1.1.0
Pandas version: 1.3.4

Please let me know if you need something else.

[2021-12-13 16:40] CodeCox commented on #769
Still an issue for the [basic example code in docs](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/great_expectations_integration.html#creating-expectation-suites-with-pandas-profiling):

Version information:
[code]

The hack mentioned by the OP is still required to get pass this issue!

I'm new to this integration feature so it was quite a serious stumbling block for me

[2021-12-15 16:58] francoisWeber opened #897 "Report bugs with costant column in Spark DataFrame"
Hi PandasProfiling Team,
I am testing your `spark-branch` and I encountered the a bug with a Spark DataFrame holding constant columns. Full stack-trace here:
[code]

To reproduce:
[code]

I'm using Python 3.9.9 on a M1 Mac.

Hope you'll find a way to deal with constant columns.

François

[2021-12-16 15:02] sbrugman commented on #897
@chanedwin

[2021-12-16 15:10] chanedwin commented on #897
Thanks! This is useful, will investigate

[2021-12-20 11:51] kirui93 commented on #809
There is still this problem in Python 3.10.
Building dependencies for Pandas Profiling results in an error.

[2021-12-21 19:08] djaym7 commented on #292
Any update on this feature request ?

[2021-12-21 19:09] djaym7 opened #898 "Report Comparison"
https://github.com/pandas-profiling/pandas-profiling/issues/292

Is your feature request related to a problem? Please describe.
When you're profiling data and have a report later down the line you might have to re-profile that same data to see how the data has progressed. This includes going through both reports and manually comparing the difference in them.

Describe the solution you'd like
A nic

[2021-12-22 22:20] nonoumasy commented on #534
I also had this issue in Google Colab and @Meresmata solution worked for me.

[2021-12-24 14:59] rluthi commented on #863
This issue has been resolved in PR #877 which has been merged into the develop branch

[2021-12-28 14:13] #863 closed

[2021-12-29 04:27] chanedwin commented on #897
Hi @francoisWeber,

Sorry been unable to replicate the error with python 3.9.

Could I get your versions for pyspark, python as well as the versions of your installed libraries? This would help replicate the issue. Thanks!

![image](https://user-images.githubusercontent.com/17007874/147627322-3f372554-0967-4365-86af-2cfdafe386e8.png)

[2021-12-29 09:48] haugstve commented on #883
@WillTirone
I don't think this is fixed in version 3.1.1

I installed pandas profiling using
pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Relevant versions from `conda list`:
[code]
I can't share my dataset so I'm not of much help. Maybe some of the others which have reported this https://github.com/pandas-profiling/pandas-profiling/issues/836 can be asked t

[2021-12-29 10:06] haugstve commented on #883
A quick follow up.

I just tried version 3.0.0 and it still didn't work on my dataset. The reason it doesn't work on my dataset might be more unrelated to the bug. Before I get the `n-rows and n-columns must be positive integers` I get a `RuntimeWarning: overflow encountered in long_scalars`. I like pandas profiling and appreciate the work you guys are putting in.

[2021-12-29 13:39] francoisWeber commented on #897
Hi @chanedwin,
Thank you for digging into this problem. Here is my setup:
- Python 3.9.9 (virtualenv)
- Spark 3.2.0
- libraries versions below (isolated through a virtualenv + piptools/pip-compile to lock the dependencies versions)
[code]

[2021-12-29 13:53] chanedwin commented on #897
Thanks again! This helps tons

[2022-01-02 08:04] chanedwin commented on #897
Issue identified and fixed in #903.
Main issue was how spark functions skewness and kurtosis return None instead of np.nan in newer versions of spark for constant columns, resulting in downstream errors.

@sbrugman

[2022-01-06 18:53] deschman commented on #415
Is modin support still on the table? I was giving this a try and got the traceback below. I'm using python 3.8.8, pandas 1.3.5, modin 0.12.1, and pandas_profiling 3.1.0.
`File "profile.py", line 238, in <module>
    main()
  File "profile.py", line 97, in main
    Profile.to_file(
  File "C:\Users\deschman\Anaconda3\lib\site-packages\pandas_profiling\profile_report.py", line 257, in to_file
    da

[2022-01-07 07:21] rluthi commented on #571
I did an implementation of the custom colour feature : #904

[2022-01-07 14:53] gustavorps commented on #863
Thanks @rluthi and @sbrugman

[2022-01-07 23:54] Aryagm commented on #820
Any Update on this? I'm facing the same issue.

[2022-01-12 10:21] diepala opened #905 "When importing pandas profiling matplotlib cannot show plots"
**Describe the bug**

In a jupyter notbook, when importing pandas profiling, matplotlib won't show any plots.
This also happens in a normal script. Matplotlib raises the warning `UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.`. This does not happen if I don't import the pandas profiling.

**To Reproduce**

In a jupyter notebook, the following

[2022-01-13 03:15] mickaelandrieu commented on #836
Hi, just to notice you I've managed to reproduce the issue too.

Also, the workaround for now is good :

[2022-01-13 09:56] ArnaudWald opened #906 "HTML rendering KeyError with custom Typeset"
**Describe the bug**

I am experimenting with customized Typesets and Summarizers.

When generating the `description_set` I have no issues, but when trying to render the HTML file, I have a `KeyError` issue in the `render_map`

[code]

Because my new type is not in the `render_map` definition, I get a KeyError. See the definition of render_map in `model/handler.py`

[code]

**Quick fix I made in `

[2022-01-13 10:00] ArnaudWald commented on #906
A cleaner way to do it would maybe be

[code]

[2022-01-14 10:41] valo83 opened #907 "Installation \\ ???? \\ HOW to? \\ Please \\ Rookie Problem"
ERROR: Could not install packages due to an OSError: [WinError 5] Accesso negato: 'c:\\programdata\\anaconda3\\lib\\site-packages\\joblib-1.0.1.dist-info\\direct_url.json'
Consider using the `--user` option or check the permissions.

--> Using Anancoda Jupyter \\
Why not possible?
Why not possible with PyCharm?

Thanks

Valo

[2022-01-14 15:08] sbrugman commented on #907
You should have the right permissions: https://stackoverflow.com/a/27801762

[2022-01-14 15:08] #907 closed

[2022-01-16 18:07] #842 closed

[2022-01-17 20:06] lmsasu commented on #836
The downgrade worked for me. Thanks.

[2022-01-19 13:58] dkooten opened #908 "Profilereport not rendering due to unknown issue."
**Describe the bug**

I created a profile report on a large df without any problems.

            profile = pp.ProfileReport(df,minimal=True, sensitive=True)
            profile.to_file(export_data_folder + '/' + modulename + ".html")

However when I take a subset (year==2014) of this df I get a dispatcherror.

            profile = pp.ProfileReport(df.query("year==2014"),minimal=True, sensitive=T

[2022-01-21 14:18] DataRx commented on #543
Appreciate the effort in getting this to work with Spark.  Any updates?

[2022-01-24 09:27] ttxslxm opened #910 "Pandas_Profiling install issue"
can someone help me out

I tried download the packaging from github and also from Python website . after copy the whole folder into the site-packages .  when I run the code it give me error like the attached picture ,  I am sure the package I downloaded is the completed file. but the error give the =feeling still missing one part.  somethings called Visions
<img width="722" alt="Capture" src="http

[2022-01-24 09:48] abhicantdraw commented on #910
You don't have to copy the folder into site-packages. You shouldn't even, because when you copy just the folder, you end up leaving out all the dependencies that the package requires during installation.

Please follow the documentation for installing the package - [](https://github.com/pandas-profiling/pandas-profiling#installation) , preferably in a virtual environment.

It's worth looking into

[2022-01-24 13:33] Lothiraldan opened #911 "Potential incompatiblity with Pandas 1.4.0"
**Describe the bug**

Pandas version 1.4.0 was release few days ago and some tests start failing. I was able to reproduce with a minimum example which is failing with Pandas 1.4.0 and working with Pandas 1.3.5.

**To Reproduce**

[code]

When running with Pandas 1.4.0, I get the following traceback:

[code]

If I try changing the `minimal` from `False` to `True`, the script is now passing.

**Vers

[2022-01-24 16:54] sbrugman commented on #911
Thanks for raising this. Would you be interested in contributing a PR? If not, we'll look into it

[2022-01-24 21:59] anajulialuizon opened #912 "Cant install pandas"
Just installed python for the first time today. I keep getting this error when trying to install panda
![image](https://user-images.githubusercontent.com/91978229/150871967-28eeaf3d-c817-4ebc-839d-0f028dc8d9c0.png)
What should I do?

[2022-01-25 10:25] Lothiraldan commented on #911
I investigated a bit and I think I identified a behavior change on the following line: https://github.com/pandas-profiling/pandas-profiling/blob/eac60a0b4e9a278a0ca44d8c712a599bdb41ec71/src/pandas_profiling/model/pandas/describe_categorical_pandas.py#L175

With pandas 1.3.5, `length.index` is `Index([1, 1], dtype='object', name='col1')` while with pandas 1.4.0, it is `Index([1, 1], dtype='Int64',

[2022-01-25 11:32] sbrugman commented on #911
Great job investigating. Indeed, we would like to support both versions. Ideally we find code that works for both.

[2022-01-27 13:44] guillermo-carrasco commented on #836
I am having the same issue. Also using `to_notebook_iframe()` instead of `to_widgets()` seems to work, however the output is not as nice (you don't get all those well organized tabs)

[2022-01-27 22:56] Loquats opened #915 "Error for series with large integers"
**Describe the bug**
Profile report HTML cannot be generated for dataframes with very large integers. It seems like an overflow issue. Would it be possible to fix this? Even if a report for this series cannot be generated, it would be great if pandas-profiling could at least handle it gracefully so that the code does not crash.

**To Reproduce**
[code]

<details>
<summary>Full stack trace</summary

[2022-02-02 09:30] #906 closed

[2022-02-03 12:40] rishabsinghh commented on #847
@chanedwin Hi, I would like to get started on this bug. Could you guide me with some code?

[2022-02-03 13:41] enesMesut opened #916 "Interactions not work as expected when i change advanced usage configs"
when i set interactions after "ProfileReport()" part interaction part of report seems buggy like this:

i just set options that wich columns visualized with scatter plot, i choose just 3 column(['HEIGHT','LENGHT','AREA']) and got this:

![image](https://user-images.githubusercontent.com/37660320/152343013-be281e92-9698-48fc-bdc4-2bd374ce0a61.png)

Also there is a **bug** with choosing columns via

[2022-02-03 17:49] Giuppone opened #917 "missing module "utils""
can not execute examples because unfortunatelly some dependencies are broken (at least in banking and meteorite examples):

**from pandas_profiling.utils.cache import cache_file**

ModuleNotFoundError: No module named 'pandas_profiling.utils'

[2022-02-03 19:49] enesMesut opened #918 "Scaling numeric values makes interaction calculation much more efficient in term of time and output html file size"
**Missing functionality**
When numeric columns have too big numbers interaction process become very slow and html output file size grows up insanely.

For example when i profile [page block](https://archive.ics.uci.edu/ml/datasets/Page+Blocks+Classification) data without scaling like:

[code]

-**it takes too long to getting results: 28m 17.5s**
-**output html file size is insane: 78.7MB**

When i

[2022-02-04 08:47] chanedwin commented on #847
hi @rishabsinghh! Sure! I'll update with more in this post in a bit.

[2022-02-04 13:00] rishabsinghh commented on #847
Sure, will be waiting. I didn't get the PP slack? Like how can reach you through that?

[2022-02-04 16:27] chanedwin commented on #847
Code : take a look at this! https://github.com/chanedwin/pandas-profiling/blob/d9ee4a8a589e075cfced9fc71ca500a20e2a3e73/src/pandas_profiling/model/correlations.py#L140

This was my original implementation using vectorized pandasUDFs for Kendall and Cramer's V, but I think we should do this in native spark if possible because we should see significant speed improvements (although that might not be

[2022-02-07 10:59] Sathyanarayanan8129 opened #920 "module 'missingno.missingno' has no attribute 'bar'"
I had to do pip install missingno>=0.4.2 in order for 'import pandas_profiling' to run. When I try to create report by running
'profile=pandas_profiling.ProfileReport(pandas_df, title='sample',html={'style':{'full_width':True}}) , it throws the above help.

[2022-02-07 20:09] tomron opened #921 "Creating my own theme"
**Missing functionality**

I would like to create my own theme (basically control the buttons and navbar color). How is it possible?

One possible way I can think of to implement it is to pass this as configuration parameters and then generate a CSS file as part of the report generating process.
Another way is to have a command line to create this CSS configuration and pass this file as part of th

[2022-02-10 14:08] ratinac-nikola opened #922 "Cannot create ProfileReport with minimal arg being False"
**Describe the bug**

**To Reproduce**

**Version information:**

**Additional context**

[2022-02-10 15:42] rat-nick opened #923 "ProfileReport produces error output when using arg minimal=False"
**Describe the bug**
Calling `ProfileReport` with the argument `minimal=False` or its default value produces an error output, while using `minimal=True` produces normal output.

**To Reproduce**

DataFrame structure:
[code]

Code is run inside a Jupyter notebook inside of VS Code:

[code]

And the output it produces is:
[code]
**Version information:**

<details><summary>Click to expand <strong><em

[2022-02-10 21:18] jonathan-hourany commented on #911
Can confirm. We're having this issue as well.

[2022-02-12 15:07] anaflorido opened #924 "more info about "highly correlated""
Hi, im using pandas profiling for data exploration (within google colab notebook with "!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip"), and the thing is, i cant find any details about "highly correlated" on the library documentation,

i would like to know more info about this thresholds that pandas profiling is using when finds a "highly" or other correlation

[2022-02-15 05:01] trungtly opened #925 "Boxplot to show relationship between a real value vs categorical values"
**Missing functionality**

**Proposed feature**

**Alternatives considered**

**Additional context**

[2022-02-15 18:01] mcastellino commented on #912
I have the same problem,...

`PS C:\Users\mcast> pip install -U pandas-profiling[notebook]
Collecting pandas-profiling[notebook]
  Using cached pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
Collecting PyYAML>=5.0.0
  Using cached PyYAML-6.0-cp310-cp310-win_amd64.whl (151 kB)
Collecting multimethod>=1.4
  Using cached multimethod-1.7-py3-none-any.whl (9.5 kB)
Collecting htmlmin>=0.1.12
  Usi

[2022-02-16 13:29] chanedwin commented on #897
merged to spark-branch, please try! @francoisWeber . Will close if all good

[2022-02-19 00:18] ieaves commented on #911
This is a weird one... A simple fix is to modify line 13 identified by @Lothiraldan to use np.where (as is done in the else condition below) i.e.

[code]

I haven't investigated too deeply but with the above change tests appear to now pass on pandas 1.40+. I haven't investigated much beyond the fix but for some reason the result of the `==` comparison in this case isn't producing a boolean ndarray

[2022-02-21 11:16] qquppsala commented on #923
Hi!
Did you solved the issue? Got same.

[2022-02-22 15:33] fbrueck opened #929 "Docs are not available (404)"
**Describe the bug**

Pandas profiling documentation isn't available.

**To Reproduce**

Open [https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/)

[2022-02-22 23:44] jrbergen commented on #911
@ieaves
I found [the same thing](https://stackoverflow.com/questions/70908256/how-to-fix-this-error-while-using-pandas-profiling-in-jupyter-notebook/71229614#71229614) and everything is working as expected for me as well, but I cannot say I have investigated much either.

[2022-02-23 04:16] rino0601 commented on #929
It seems be changed to
https://ydataai.github.io/pandas-profiling/docs/master/rtd/

[2022-02-23 17:36] cpi-data commented on #905
Also ran into it with pandas_profiling 3.1.0.
Solved by importing matplotlib _after_ pandas_profiling and adding the magic command. Magic command is required otherwise nothing is displayed:

[code]

[2022-02-27 07:37] zivshapiraintel commented on #769
This is still an issue in version 0.14.8 of great_expectations and pandas_profiling 3.1.0
The hack mentioned by the OP is still required to get pass this issue

[2022-02-28 03:53] ktavabi commented on #911
I am also encountering this issue with pandas1.4.1, numpy1.21.5, pandas-profiling3.1.0 in a python3.8 `venv` on mac book running Monterey.

[2022-02-28 19:46] mihaelagrigore commented on #668
Managed to solve this issue after I stopped using the pandas-profiling that gets installed with
`conda install pandas-profiling`
And went instead for
`pip install pandas-profiling`

I did not check which version conda had installed, sorry. But pip installed the latest (pandas-profiling-2.10.0). Maybe conda was getting the same version.

But for some reason now I no longer encounter the:
`TraitErro

[2022-03-01 16:05] #929 closed

[2022-03-02 22:04] mbkupfer opened #935 "`infer_dtypes` doesn't appear to work"
**Describe the bug**

My use case is when tables have an _ID_ column that are intergers, but should really just be treated as a categorical variable. When setting `infer_dtypes` for the profile report though, it still ends up treating them as a number.

**To Reproduce*
[code]

_Data:_
n/a

_Code:_ Preferably, use this code format:
n/a (see above)

**Version information:**

**Additional context**

[2022-03-05 06:36] haloapping opened #937 "The running process is not finished"
I run this example and process is not finished

![image](https://user-images.githubusercontent.com/49802494/156871531-c19cb034-17d6-412e-b426-d802a47c13f1.png)

as well as in other datasets. I use jupyter notebook, windows 10 and python 3.8.12

Any solution about this? I search some solution on internet but not solved

[2022-03-06 16:39] afeld commented on #819
Duplicate of https://github.com/ydataai/pandas-profiling/issues/811.

[2022-03-06 18:33] abrar39 commented on #911
I am encountering this issue with pandas 1.2.4, pandas_profiling 3.1.0, numpy 1.20.1 in python 3.8.8 on Ubuntu 20.04 LTS.

[2022-03-06 18:37] #819 closed

[2022-03-07 17:14] prodramp commented on #883
I hit the same error with the titanic dataset, here is the titanic dataset url, I am using:
https://raw.githubusercontent.com/prodramp/publiccode/master/datasets/titanic.csv
Just use the following code to repro:

data_source_url = "https://raw.githubusercontent.com/prodramp/publiccode/master/datasets/titanic.csv"
df = pd.read_csv(data_source_url)
report = ProfileReport(df)
report.to_widgets()

[2022-03-07 20:33] mbkupfer commented on #937
This seems like it may be specific to your system. I'm also on windows10/python 3.8.x and do not have such an issue.

Can you try running it as a script (i.e not in jupyter notebook) and seeing if the result is different?

[2022-03-09 16:20] searchlink opened #938 "assign report object raise AttributeError: can't set attribute"
**Describe the bug**

when I run `ieee_fraud_report.report = original_report_structure` in modify_report_structure.ipynb, I come across `raise AttributeError: can't set attribute `

**To Reproduce**

[code]

[2022-03-09 17:47] TheMLEngineer opened #939 "ProfileReport function is giving TypeError"
**Describe the bug**

I tried to use pandas-profiling version 1.4.1in google colab but it is giving type error

TypeError: concat() got an unexpected keyword argument 'join_axes'

**To Reproduce**
import numpy as np # linear algebra
import pandas as pd # data processing
df = pd.read_csv('diamonds.csv')
from pandas_profiling import ProfileReport
ProfileReport(df)

**Error**
------------------------

[2022-03-09 17:51] TheMLEngineer commented on #939
[diamonds.csv](https://github.com/ydataai/pandas-profiling/files/8216961/diamonds.csv)

[2022-03-14 16:09] vishhvak commented on #911
Encountering the same issue with pandas_profiling 3.1.0, pandas 1.4.1, numpy 1.21.2 on Monterey with a conda environment running Python 3.10.2

[2022-03-16 13:27] pplonski commented on #939
Got the same error on Colab with an example from Readme.

[2022-03-16 18:55] Bilgehanaygn opened #942 "pandas_profiling .exe error"
I have a small application which imports pandas_profiling and runs fine when I run the code in editor. The problem is when I convert applicaiton into .exe, I got an error which says: "ValueError: The 'pandas_profiling' package was not installed in a way that PackageLoader understands.".

I have tried many ways to resolve the problem, tried different versions, fetch package to local etc. still the

[2022-03-19 18:51] mnlazarte commented on #911
I am having the same problem, actually running python 3.10.0, using pandas_profiling 3.1.0, pandas 1.4.1, 1.21.2 on Ubuntu 20.04.4 LTS

[2022-03-20 07:19] ellieyuyw opened #943 "unable to install pandas-profiling: neither 'setup.py' nor 'pyproject.toml' found"
I am trying to install pandas profiling on my new Macbook pro M1 (have used pandas profiling on other pcs and it worked amazingly). However, I have tried installing using pip, from git, and from the source, and all requests returned the same output below:

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas_profiling
  Using cached pandas_profiling-3.1.0

[2022-03-20 18:35] bjoseru commented on #943
Same on this new M1 mac: `pip install pandas_profiling` errors out with
[code]

Any help appreciated.

[2022-03-21 10:11] Wh1isper commented on #943
same problem on arm

its phik problem, install phik==0.11.1 before install pandas-profiling would help

[2022-03-21 14:33] RUrlus commented on #943
@ellieyuyw There was an issue with the source distribution missing required files. KaveIO/PhiK#49 fixes the issue and adds wheels for ARM MacOS.

[2022-03-22 06:08] bjoseru commented on #943
@RUrlus  @ellieyuyw @Wh1isper

confirming `pandas-profiling-3.1.0` is installing now successfully using `phik-0.12.2-cp310-cp310-macosx_11_0_arm64.whl`

thanks everyone for the quick fix

[2022-03-22 07:39] ellieyuyw commented on #943
problem solved! Thanks everybody :)

[2022-03-22 07:39] #943 closed

[2022-03-23 18:43] xiaoyangxuoo021 commented on #417
Same issue here
There was an attempt to generate the Count missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Count": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'The number of FixedLocator l

[2022-03-24 13:42] Samuele-Campioli opened #944 "Alert inconsistency for 'High correlation' in JSON vs HTML Report"
**Describe the bug**
I don't know if it's feature or a bug, but i think it's the latter. When i use the normal ProfileReport it return the complete Alerts messages, but if i print the alerts in a json format the Alerts result only partials.

**To Reproduce**
[code]
Result from the first command:
<html>
<body>
<p class="h4" style="box-sizing: border-box; stroke-linecap: butt; stroke-linejoin: round

[2022-03-26 17:10] wiseyoungbuck commented on #939
Same here. This happens when I run `.to_notebook_iframe()`

[2022-03-26 17:30] wiseyoungbuck commented on #911
Same issue
[code]

[2022-03-27 18:21] mhdjafari commented on #911
The same issue with Pandas 1.4.1

[2022-03-28 14:07] francoisWeber commented on #897
Hi @chanedwin . It worked on a minimalist Virtualenv but my main project is not OK yet. Will try to run the update on this latter too ! I will keep you updated

[2022-03-29 08:50] josephramon opened #946 "Profile Report Warning"
I have this dataset - SBAnational.csv from [https://www.kaggle.com/datasets/mirbektoktogaraev/should-this-loan-be-approved-or-denied?select=SBAnational.csv](https://www.kaggle.com/datasets/mirbektoktogaraev/should-this-loan-be-approved-or-denied?select=SBAnational.csv)

**Describe the bug**
#No problem with this line:
sba.profile_report(title='SBA Pandas Profiling Report', progress_bar=True)

#How

[2022-03-29 15:46] francoisWeber commented on #897
OK it works fine now in my whole project 👍 Thanks a lot :)

[2022-03-29 15:50] chanedwin commented on #897
awesome!

[2022-03-30 15:31] lhc1990 opened #947 "jinja2 library upgraded make import error"
**Describe the bug**

Just run below command
[code]

It procedures belows error

**To Reproduce**

Uninstall and reinstall pandas-profiling
[code]

**Version information:**

pandas-profiling=3.1.0
jinja2=3.1.0

**Additional context**

I add the full log of error here

[code]

[2022-04-01 02:33] aloklal99 opened #948 "conda install with scikit-learn seems to hide pandas-profiling package"
I'm having a strange problem.  The following does not work:

[code]

However, the following works! Note that all I did was remove `scikit-learn` from the list of packages installed first.

[code]

Whats even more baffling is that even the following works, i.e. I install `scikit-learn` after installing `pandas-profiling`!

[code]

How do I debug this issue further?  What addition information can I

[2022-04-01 02:59] aloklal99 commented on #948
I tested one other variation where I install `scikit-learn` _before_ installing `pandas-profiling` but just do it in a separate step.

[code]